[2015-02-03 10:32] jgvictores opened #1 "Review namespaces"
Fit all classes into teo namepace.

[2015-02-03 10:43] jgvictores opened #2 "Recover from motor driver failures via --recovery option"
To recover from motor driver failures.

[2015-02-03 10:44] jgvictores opened #3 "Add --hold option on playbackManipulation and playbackLocomotion"
To maintain control on motors after PT trajectory.

[2015-02-03 10:46] jgvictores opened #4 "Enable /teo/trunk"
Check implementation using Multiwrapper / CBW2.

[2015-02-03 10:50] jgvictores opened #5 "[TechnosoftIpos] Fix units of velocity control"
Right now has something like motor driver Internal Units (IU).

[2015-02-03 10:51] jgvictores opened #6 "Fix units of motoripos current control"
Right now has something like motor driver Internal Units (IU).

[2015-02-03 11:52] jgvictores opened #7 "[CI] Set travis and coverage CI frameworks"
Set basic CI frameworks, namely travis and coverage.

[2015-02-04 10:36] jgvictores commented on #3
Done in 620dbd2973fa38e86edd9a4a590c9aefaea3c87f.

[2015-02-04 10:36] #3 closed, assigned to nobody

[2015-02-05 17:28] edwinDOS opened #9 "[bodybot] Could not open CAN device of path: /dev/can0"
When running testBodyBot, I have the following error:

[code]

[2015-02-05 17:32] jgvictores commented on #9
Could you paste the output of the following commands?
`ls -l /dev/can0`
`grep hcanpci /proc/devices`

[2015-02-18 12:18] iagson opened #11 "Could not "make" ASIBOT code"
Hi, this is my first time posting here, I hope it's good enough. Now to the point.

I was trying to compile the ASIBOT code, but encountered a problem when using "make -j3"
It stops at 78%, right after building the CartesianServerLib. The image below is what the terminal outputs after the error.

![ubuntu14 10simbasconinstall](https://cloud.githubusercontent.com/assets/11059351/6247059/5842d20c-b7

[2015-02-18 22:34] jgvictores commented on #11
@iagson This corresponds to the https://svn.code.sf.net/p/roboticslab/code/asibot repository, which still has not been migrated to GitHub and has become quite outdated. Just for the sake of compiling, I've commited a fix. Please "svn up" in "asibot" and make in "asibot/main/build" again.

[2015-02-18 23:07] iagson commented on #11
It compiled perfectly, thank you.

[2015-02-20 12:01] jgvictores commented on #11
Okay, closing issue. For futher reference, this is a https://github.com/roboticslab-uc3m/asibot-main issue, so similar new issues should be posted at https://github.com/roboticslab-uc3m/asibot-main/issues/new.

[2015-02-20 12:01] #11 closed, assigned to nobody

[2015-02-24 17:34] jgvictores opened #12 "Move --log from playbackManipulation and playbackLocomotion to CanBusControlboard"
Unify implementation, and will be able to be reused from launchManipulation and launchLocomotion.

[2015-02-24 17:36] jgvictores opened #13 "Extend BodyBot for simultaneous CAN bus file descriptors"
Should be doable through a simple extension of the ICanBusSharer abstract class.

[2015-03-07 08:39] jgvictores commented on #13
It would additionally be a mechanism to solve https://github.com/roboticslab-uc3m/teo-body/issues/4.

[2015-03-09 12:03] jgvictores commented on #6
Single-motor test (canId 22) works at 978cefc50588034d3a2bfaf08f5ba373d2c1ecb7, admitting final desired Nm from https://github.com/roboticslab-uc3m/teo-main/commit/da5bfe7d6c2c5bc4fceacadb740360f7ff29d497

[2015-03-09 12:03] #6 closed, assigned to nobody

[2015-03-09 14:49] jgvictores commented on #1
All existing teo classes fit into teo namespace at db66dc2cbc20e97d16afe5ae967c5710870c2f57.

[2015-03-09 14:49] #1 closed, assigned to nobody

[2015-03-09 14:49] jgvictores opened #15 "[dox] Review class documentation"
Review doxygen class documentation.

[2015-03-09 14:50] jgvictores opened #16 "CAN bus launcher apps don't propagate --mode flag to wrapped devices"
From gravity compensation tests, mode has to be set explicity further on in the code.

[2015-03-10 14:52] jgvictores commented on #9
Please check if the following new guide on installing the hcanpci module can help:
http://robots.uc3m.es/dox-teo-body/teo_body_install_hcanpci_on_debian_6.html

[2015-03-10 18:29] edwinDOS opened #18 "Install yarp (Debian 6.0)"
typed:

`cmake .. -DCREATE_LIB_MATH=ON -DCREATE_GUIS=ON -DCREATE_OPTIONAL_CARRIERS=ON -DENABLE_yarpcar_mjpeg_carrier=ON`

Appears the following CMake error:

`CMake Error at CMakeList.txt:5 (cmake_minimun_required):
     CMake 2.8.9 or higher is required. You are running version 2.8.2
`

[2015-03-10 18:37] jgvictores commented on #18
Okay, I've updated http://robots.uc3m.es/dox-teo-body/teo_body_install_cmake_on_debian_6.html to reflect the need for activating backports. First you have to add:

  deb http://backports.debian.org/debian-backports/ squeeze-backports main

to your /etc/apt/sources.list file, apt-get update and then install the cmake packages from the backports repository following the instructions. This is similar

[2015-03-11 08:58] #18 closed, assigned to nobody

[2015-03-16 09:19] jgvictores commented on #12
CanBusControlboard is now wrapped by controlboardwrapper2, which streams more information (including CAN-bus timestamp). Check if that is enough information, or consider implementing some kind of logging wrapper instead of getting CanBusControlboard too messy.

[2015-03-23 11:18] #9 closed, assigned to nobody

[2015-03-24 09:43] jgvictores commented on #15
Done at 258d446ced6be76d124e029c3b706dd9657c6844.

[2015-03-24 09:43] #15 closed, assigned to nobody

[2015-03-24 09:44] jgvictores opened #19 "Create robot mockup object"
Create robot mockup object for tests.

[2015-03-24 09:46] jgvictores opened #20 "Merge CAN bus&wrapper loader apps"
Are they required?
Should they be replaced by a script that invokes instances of teo-body yarpdev?

[2015-03-24 09:52] jgvictores opened #21 "[playbackServer] requires a state machine"
Consider use of https://github.com/asrob-uc3m/robotDevastation/tree/gameFSM/src/libraries/StateMachineLib.

[2015-03-24 09:52] jgvictores opened #22 "[playbackServer] create separate file reader class"
Create a file reader class with a program/line pointer. An instance will be shared among certain states of https://github.com/roboticslab-uc3m/teo-body/issues/21.

[2015-05-14 09:37] jgvictores commented on #4
Implementation using Multiwrapper / CBW2 working at f7d5a3b7f0248a8534fdc6714f07608603e3f01c.

[2015-05-14 09:37] #4 closed, assigned to nobody

[2015-05-14 09:38] jgvictores commented on #13
Not necessary for now. Okay with one object per CanBus, then each limb wrapped by CBW2. Implementation using Multiwrapper / CBW2 working at f7d5a3b.

[2015-05-14 09:38] #13 closed, assigned to nobody

[2015-05-14 09:39] jgvictores commented on #20
Do to implementation using Multiwrapper / CBW2 working at f7d5a3b, they are needed as programs.

[2015-05-14 14:28] jgvictores commented on #19
Have launchManipulation-fakeRobot.ini at bbbceb497909c8cf2dd132e7dd9f425daf86c4b0 but not useful for CI as is (still needs a yarp server and a devCan).

[2015-05-14 14:28] #19 closed, assigned to nobody

[2015-05-14 14:30] #12 closed, assigned to nobody

[2015-05-26 09:58] jgvictores commented on #20
launchManipulation and launchLocomotion can be scripts that invoke a TwoCanBusThreeWrappers class.

[2015-06-03 13:49] jgvictores opened #23 "[TechnosoftIpos] Check encoder wires before enable"
Possible software check encoder wires **before** enable... ?

[2015-06-11 07:26] jgvictores opened #24 "[playbackServer] requires a Cartesian equivalent"
[playbackServer] requires a Cartesian equivalent.

[2015-07-24 10:08] jgvictores opened #25 "[executionCore1] requires: state, 2 dof"
requires: state machine, 2 dof movement.

[2015-07-27 10:47] jgvictores commented on #25
Finished at 2cca744480fcc751b01d06cf608de0b1bd10a8ff

[2015-07-27 10:47] #25 closed, assigned to nobody

[2015-09-08 13:38] jgvictores commented on #5
Fixed at bfcc19a64c7024d53580aa19bbf3e78c447cca15, tested and updated values at e5d33a6d4a922e819dc92177d3a2b03d283a8799.

[2015-10-01 15:28] jgvictores commented on #5
Further improvements in 4137af8222696ff83cb63345fb2e06c9c5903561.

[2015-10-01 15:29] #5 closed, assigned to nobody

[2015-11-28 12:03] jgvictores opened #26 "Refactor CMake files"
A great number of new CMake features would make our CMake files cleaner and better.

[2015-11-30 17:13] jgvictores opened #27 "[TechnosoftIpos] Make testing easier!"
For now, using a combination of dumpCanBus, launchManipulation and launchLocomotion.
Could we further automate this procedure?

[2016-01-13 17:29] jgvictores opened #28 "[CuiAbsolute] Incorporate homePoss parameter"
[CuiAbsolute] Incorporate homePoss parameter.

[2016-01-19 14:24] rsantos88 opened #29 "[dumpCanBus] It does not output canBus messages if you use the"build-clean" version"
When you start the program, it says:
|| clearing context
||| adding context [dumpCanBus]
||| configuring
||| no policy found
||| default config file specified as dumpCanBus.ini
||| checking [/home/teo/git/teo-body/build-clean/bin/dumpCanBus.ini](pwd)
||| checking [/home/teo/.config/yarp/robots/default](robot YARP_CONFIG_HOME)
||| checking [/home/teo/.local/share/yarp/robots/default](robot YARP_DAT

[2016-01-19 16:37] jgvictores commented on #29
Can bus messages in dumpCanBus are output using CD_SUCCESS.
ColorDebug_HIDE_SUCCESS is a CMake option that propagates through the build of the whole project.
If this option is set in your build-clean directory, no output will be given by dumpCanBus. If you want to see the output again, please recompile your build-clean directory with ColorDebug_HIDE_SUCCESS OFF (in ccmake ..).

[2016-01-19 16:37] #29 closed, assigned to nobody

[2016-01-25 15:14] rsantos88 opened #30 "Error with yarp starting launchManipulation"
When we connect with teo@manipulation and we start launchManipulation, it sais:
[info] main.cpp:58 main(): Checking for yarp network...
[error] main.cpp:61 main(): Found no yarp network (try running "yarpserver &"), bye!

[2016-01-25 15:59] jgvictores commented on #30
Fixed by making sure there are no yarp servers on teo@manipulation, and running:
`yarp detect --write`
at teo@manipulation.

[2016-01-25 15:59] #30 closed, assigned to nobody

[2016-01-26 11:05] David-Estevez commented on #16
As @rsantos88  and I have checked, mode is not working because only certain sections of the configuration file are passed to the DeviceDrivers (i.e. only the "devcan0" section is passed to can0 device). Command line flags have to be appended to the concrete sections so that the drivers have access to all comman line flags.

[2016-01-26 11:13] jgvictores commented on #16
i.e. only the "devcan0" section is passed to can0 device -> This is good, they are initial configuration parameters.
"mode" should issue the change mode command **after** the drivers have been enabled (_enable_, I believe, is performed in what is currently named _setCanBusPtr_). Could you check if this->setVelocityMode() or this->setTorqueMode() reach the driver (TechnosoftIpos) level at runtime?

[2016-01-26 14:23] rsantos88 commented on #16
When I force, for example, torque mode executing "this->setTorqueMode()", the console show this:
[warning] ICanBusSharerImpl.cpp:257 interpretMessage():     -Mode "251" not specified in manual, may be in Fault or not enabled yet. canId(ID*)-
*This warning message is indicated for IDs: 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26.

[2016-01-28 10:12] rsantos88 opened #31 "[oneCanBusOneWrapper] Segmentation fault"
When I run OneCanBusOneWrapper with oneCanBusOneWrapper.ini configurated with canDevice /dev/can1, the program works correctly but after some time... it shows Segmentation fault.

[2016-01-28 12:02] jgvictores commented on #31
Checked it, happened in less than 3 s, was in init.
Fixed by recompiling teo-body (forgot to do it after upgrading YARP for https://github.com/j-lorente/TEO_push/issues/1).

[2016-01-28 12:02] #31 closed, assigned to nobody

[2016-02-03 14:35] rsantos88 commented on #16
When we force position mode and we put the check status rpc commands: [get] [icmd] [cmds], we can see this:
Response: [is] [cmds] '([posd] [posd] [posd] [posd] [posd] [posd] [posd])' [tsta] 0 1454508630.629655 [ok]
This is good. In the same way, when we force velocity mode, we can see:
Response: [is] [cmds] '([veld] [veld] [veld] [veld] [veld] [veld] [posd])' [tsta] 0 1454508440.639366 [ok]
Howeve

[2016-02-03 22:35] David-Estevez opened #32 "Define the scope of the repository"
I have seen some commits lately for the "waiter" application on this repo, and I was wondering if we should keep this repo just for generic functionalities (drivers o modules that can be used in several different applications) and create new repositories for specific applications.

What do you think, guys?

(See also: [teo-head - issue11](https://github.com/roboticslab-uc3m/teo-head/issues/11) )

[2016-02-04 10:09] rsantos88 commented on #16
I have done some tests with Yarp RPC commands  without any modification of the code and the results are this:
When you run launchManipulation, it starts in position mode. If you change to torque mode with  [set] [trqd] and you check the status mode with [get] [icmd] [cmds] , it shows: Response: [is] [cmds] '([fail] [fail] [fail] [fail] [fail] [fail] [posd])' [tsta] 1 1454578574.957852 [ok] but you

[2016-02-08 10:41] David-Estevez opened #33 "Passing all command-line arguments to Property Object"
When extracting a group from a Resource Finder, only arguments coming from the config file are passed to the Property Object. Command-line arguments are ignored, and this may cause problems in the future.

Possible solutions:
- Append command line arguments to group arguments coming from the file as a new group in the Property Object
- Add support in YARP for extracting parameters depending on the

[2016-02-08 10:44] David-Estevez commented on #21
@jgvictores I can add extra documentation for the gameFSM lib in case you need it

[2016-02-08 12:21] David-Estevez opened #34 "Embrace GitFlow"
Discuss whether it would be useful or not to use the [GitFlow git workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) to improve repository organization and coordination between contributors.

[2016-02-09 09:28] rsantos88 commented on #16
Now, there is an updated version of launchManipulation in Git with optional “--mode” flash working correctly in the master branch.

[2016-02-16 12:35] David-Estevez opened #36 "Add blinking lights"
As the TV reporters always say, blinking lights make the robot cooler.

[2016-02-19 10:23] jgvictores commented on #7
Must add tests, but travis CI integrated, and badges set on d4e89e629f0be019790322bdd1260eb2905623b9.

[2016-02-19 10:23] #7 closed, assigned to nobody

[2016-02-19 10:30] jgvictores commented on #34
Closed at 82ee1a89bab170e6db19f572261d86086ef6a8dd.

[2016-02-19 10:30] #34 closed, assigned to nobody

[2016-02-20 14:15] jgvictores commented on #36
@David-Estevez We'll report this ASAP at the next ASROB meeting. The (rd)-research LED matrix know-how may be reusable. It would be a pity for such a feature to go AWOL.

[2016-02-25 11:33] rsantos88 opened #40 "Avoid "using namespace""
I think, we can add the some solution of Teo-Head  for resolve possible conflicts with namespaces that may appear in the future. Can someone resolve it??

[2016-02-25 15:15] rsantos88 commented on #40
Ok, now there are not “using namespace” in teo-body proyect and the code compiles perfectly (4b931232a1f4b785993cd7b179a066e09b0deac4)

[2016-02-29 10:47] rsantos88 opened #42 "Detecting absolute encoders when failing in launchManipulation or launchLocomotion"
Now, when I start launchManipulation or launchLocomotion, the application will realize a tests of all absolute encoders. If all is right, it runs perfectly but if one or some encoders fail, it will show this message:
`[info] ICanBusSharerImpl.cpp:31 setIEncodersTimedRawExternal(): Wait to get external encoder value.`
Does the application could show which IDs encoders are failing at this time? It c

[2016-02-29 12:36] jgvictores commented on #42
Commited at 140ec25012b64a292cc746592259db48d140556a. Please test and close issue if OK !!

[2016-02-29 14:10] rsantos88 commented on #42
Ok. Now it works perfectly.
Thanks

[2016-02-29 14:11] #42 closed, assigned to nobody

[2016-02-29 14:30] jgvictores opened #43 "Create image and partition of working manipulation and locomotion OSs"
Crear una imagen de los discos duros (backup) y una partición arrancable en los PCs de manipulación y locomoción:
- [x] Crear imagen (copia de seguridad de manipulation, locomotion y head) con FSArchiver y subir .fsa a http://robots.uc3m.es/svn/TEOrepo/backups/.
- [x] Reducir partición actual a un tamaño propicio para realizar un backup
- [x] Crear la nueva partición para el backup
- [x] Utilizar

[2016-03-02 08:49] jgvictores opened #44 "[TechnosoftIpos] Timeout if no absolute encoder message is received"
Implement timeout in [TechnosoftIpos] if no absolute encoder message is received, for instance displaying an error message and then continue by defaulting to using relative encoders.

[2016-03-02 14:42] jgvictores commented on #40
Closed at https://github.com/roboticslab-uc3m/teo-body/pull/41.

[2016-03-02 14:42] #40 closed, assigned to rsantos88

[2016-03-02 14:50] jgvictores opened #45 "[cmake] Update YARP cmake directives"
YARP_ADD_PLUGIN_LIBRARY_EXECUTABLE is deprecated.
Use YARP_ADD_PLUGIN_YARPDEV_EXECUTABLE instead.

[2016-03-02 14:54] jgvictores commented on #44
Implement only on forcing timeout through --externalEncoderWait [s] parameter.

[2016-03-08 18:22] munozyanez opened #46 "[TechnosoftIpos] Update vocabs to be yarpmotorgui compatible"
Update vocabs to be yarpmotorgui compatible in:
Starting at https://github.com/roboticslab-uc3m/teo-body/blob/7d44548cbba0d171ba8eb6ceecaad70959ac521a/libraries/BodyYarp/TechnosoftIpos/ICanBusSharerImpl.cpp#L249
Replace VOCABS as in https://github.com/roboticslab-uc3m/teo-main/commit/34ceb96acc72a4a40dcbbb37e63c009863179b34

[2016-03-10 15:01] jgvictores commented on #45
Done at 40a2aa63855b6ba52ec714b03e23a4b65c8ff522.

[2016-03-10 15:01] #45 closed, assigned to nobody

[2016-03-10 15:15] jgvictores commented on #46
Done at 1e5cf491c7c743c622bcdf632ef401525d09cde7 (must install on robot PCs).

[2016-03-10 15:15] #46 closed, assigned to nobody

[2016-03-15 11:15] jgvictores opened #47 "yarpmotorgui fails at getting joint limits"
yarpmotorgui-qt (update: same with yarpmotorgui-gtk) not getting robot joint limits. https://github.com/robotology/yarp/blob/eed2a0afaddf3806a7eb551262c2b8a2f3ea6d08/src/yarpmotorgui-qt/partitem.cpp#L180 gets a false return. Same happens on teo-main/programs/teoSim.

[2016-03-15 11:21] jgvictores opened #48 "[Jr3] Cannot connect analogsensorclient to analogServer"
[Jr3] Cannot connect analogsensorclient to analogServer. Lacking upstream info (yarp).

[2016-03-18 10:11] lpinel opened #49 "QtCreator in Locomotion PC"
I tried to install qtcreator in the LOCOMOTION pc, but failed. Please, can anybody help?
`$ sudo apt-get install qtcreator
...
Failed to fetch http://ftp.es.debian.org/debian/pool/main/q/qtcreator/qtcreator-doc_1.3.1-3_all.deb  404  Not Found
E: Unable to fetch some archives, maybe run apt-get update or try with --fix-missing?

$ sudo apt-get update
E: Some index files failed to download, they hav

[2016-04-01 09:34] j-lorente opened #50 "Velocity control fails in hip (joint 14)"
Joint 14 of TEO can be moved with position control but not with velocity control.

Velocity control works fine for other joints.

[2016-04-01 16:05] j-lorente commented on #50
Please, don't use TEO's hip by now, Santi is looking for the problem with the velocity control.

[2016-04-04 09:37] jgvictores commented on #49
First step has been `sudo cp /etc/apt/sources.list /etc/apt/sources.list.obsolete` and `sudo sed -i "s/ftp.es/archive/g" /etc/apt/sources.list`.
Still issues, due to backports and security.

[2016-04-04 10:18] jgvictores commented on #49
Commented out everything except:

[code]

Was able to install meld, now installing qtcreator.

[2016-04-04 10:18] #49 closed, assigned to nobody

[2016-04-04 15:06] jgvictores opened #51 "[BodyYarp] devices should be shared libraries"
[BodyYarp] devices should be shared libraries (currently static).

[2016-04-05 13:01] j-lorente commented on #50
We checked the driver's configuration and the problem is not there so it must be in a higher level, in the software.

[2016-04-05 16:50] jgvictores commented on #50
I'd recommend trying with oneCanBusOneWrapper, best if you physically disconnect the rest of the CAN nodes.

[2016-04-06 10:37] j-lorente commented on #50
Using oneCanBusOneWrapper the joint can be moved with velocity control, so we conclude that the other driver in the hip, which is broken, is probably causing problems.

Then we configured the .ini for ignoring this broken driver and physically took it out, but we still can't move the joint in velocity mode with launchLocomotion.

[2016-04-06 10:41] jgvictores commented on #50
For the launchLocomotion .ini file, to preserve the wrapper numbering, I'd recommend simply replacing the "TechnosoftIpos" string for "FakeJoint" in the position corresponding to the faulty driver.

[2016-04-06 10:53] smcdiaz commented on #50
New driver arrived last week. Please keep the .ini as is, without modifications. Raul can change the broken driver for the new one

[2016-04-07 09:10] rsantos88 commented on #50
Now, there are three files .ini in teo-body PC located at “/repos/teo-body/share/launchLocomotion/conf” with the following names: "launchLocomotion.ini"  "launchLocomotion_without_113_114.ini"  "launchLocomotion_without_13_113_114.ini" for testing launchLocomotion with --from parameter.

[2016-04-07 11:59] j-lorente commented on #50
We changed and configured driver 14 and we were able to move joint 14 in velocity mode using the Technosoft program.

We tried using launchLocomotion (both ignoring and not ignoring driver 13) and still doesn't work.

[2016-04-08 08:19] jgvictores opened #53 "Add install instructions or link in README."
Add install instructions or link in README.

[2016-04-11 12:09] j-lorente opened #54 "Locomotion PC keeps rebooting"
Locomotion PC keeps rebooting without apparent reasons when I try to move the robot's joints through launchlocomotion.

It happens very often so I am not able to work with the legs.

[2016-04-18 15:41] lpinel opened #55 "GIT error: server certificate verification failed"
I tried to pull, push... and later clone a git repository on locomotion PC and something went wrong. :'(

error: server certificate verification failed. CAfile: /etc/ssl/certs/ca-certificates.crt CRLfile: none while accessing https://github.com/roboticslab-uc3m/project-generator.git/info/refs

fatal: HTTP request failed

[2016-04-18 15:44] lpinel commented on #55
I tried :
 git config --global http.sslverify false (via http://stackoverflow.com/questions/21181231/server-certificate-verification-failed-cafile-etc-ssl-certs-ca-certificates-c)

and it worked, but don't know if it is the best way

[2016-04-19 10:44] jgvictores commented on #55
Seems like we'll be living dangerously for a while.

BTW, just accessing https://github.com/roboticslab-uc3m/project-generator.git/info/refs through a web browser returns: `Please upgrade your git client.
GitHub.com no longer supports git over dumb-http:` https://github.com/blog/809-git-dumb-http-transport-to-be-turned-off-in-90-days`

Closing issue as git is functional again.

[2016-04-19 10:44] #55 closed, assigned to nobody

[2016-04-19 13:12] rsantos88 commented on #54
Now, the PC works ok.

[2016-04-19 13:12] #54 closed, assigned to nobody

[2016-04-19 15:09] rsantos88 commented on #2
Now, you can use “checkCanBus” program with “--resetAll” parameter for reset all nodes defined in .ini files (see --help parameter) or “--resetNode” parameter followed by node number, to send reset message to one driver. In this state the drivers perform a software reset and enter the pre-operational state. This is very useful for recover from motor driver failures (red led).
Also, this applicatio

[2016-04-19 21:01] jgvictores commented on #2
Very cool! This actually closes #27!
What is actually pursued with this issue is:
- [ ] Being able to pass a --recovery option to TechnosoftIpos that enables its self recovery during initialization.
- [ ] Allowing this parameter to flow all the way from launchManipulation/launchLocomotion to TechnosoftIpos (passing through CanBusControlboard, etc).

[2016-04-19 21:02] jgvictores commented on #27
@rsantos88 Thanks!
Closed at https://github.com/roboticslab-uc3m/teo-body/pull/56.

[2016-04-19 21:02] #27 closed, assigned to rsantos88

[2016-04-20 08:36] rsantos88 commented on #23
I think that now can be used checkCanBus program for this task if you want to check Cui absolute encoders. See (#56)

[2016-04-20 08:40] jgvictores commented on #23
Yes, this is good. The issue itself was just citing explicitly a specific feature that could be included in #27 or #2.
Closing this issue as this check and much more has been done in https://github.com/roboticslab-uc3m/teo-body/pull/56 (that actually closed #27).

[2016-04-20 08:40] #23 closed, assigned to nobody

[2016-04-20 11:33] rsantos88 opened #57 "Blinking drivers"
When we turn on Teo joints , it's very usual to see problems with blinking drivers.
This problem causes errors when we want to run launchManipulation or especially launchLocomotion. It has been observed that drivers turn to fixed green LED (without blinking red LED) when we wait a time, but  you mustn't run “launch” programs. If you try to run launchManipulation or launchLocomotion and the driver

[2016-04-20 11:44] rsantos88 commented on #57
After doing different tests, I have reached the following conclusions:The driver start blinking when it's waiting the moment to send a presence message. If can-bus are busy with other messages (like Cui absolute encoder messages) the driver will blink all the time

[2016-04-20 14:25] rsantos88 commented on #57
After doing different tests, I have reached the following conclusions:
When the servo drive is powered on, it enters the initialization state. The driver starts blinking when it's waiting the moment to send a presence message. After completing the boot sequence, it automatically enters the pre-operational state. If the can-bus is busy with other messages (like Cui absolute encoder messages) the dr

[2016-04-22 12:29] rsantos88 commented on #43
Ya se ha realizado el Backup de los 3 PCs y se han subido los ficheros .fsa a http://robots.uc3m.es/svn/TEOrepo/backups/.

[2016-04-25 16:20] rsantos88 opened #58 "Error installing Gparted in teo-manipulation PC"
I have tried to install Gparted  with Software Center and it shows an error:

In "Edit>Software Sources" I have checked the following options:
officially supported (main)
- DSFG-compatible
- Software with Non-Free Dependencies (contrib)
- Non-DSFG-compatible
- Software (non-free)
- Source code

When I close the options windows it says:

Other form (and the easiest) through terminal:

`teo@manipula

[2016-04-25 16:28] jgvictores commented on #58
Looks similar to #49.
Comment out or erase everything from /etc/apt/sources.list leaving only

[code]

Also get any apt.d or sources.list.d etc out of there.
sudo apt-get update # should go good

[2016-04-25 16:37] jgvictores commented on #58
BTW, we should also add backports to get the right cmake version (note for the future :smile:).

[2016-04-26 14:22] rsantos88 commented on #43
Se ha reducido la partición actual de los PCs: manipulation y locomotion a aproximadamente 90 GB (87,69 GB), creando una nueva partición adicional de aproximadamente 20 GB (19,53 GB) con formato ext3. De la misma manera, la partición principal de PC Head se ha reducido la partición a 35,74 GB (debido a que el disco duro tiene la mitad de tamaño que los anteriores), creando también una partición ad

[2016-04-28 14:13] rsantos88 commented on #58
Thanks!!

[2016-04-28 14:13] #58 closed, assigned to nobody

[2016-04-29 09:48] rsantos88 commented on #43
**IMPORTANTE:** Se están realizando cambios en el ordenador de manipulación para poder crear una segunda partición arrancable por lo que se ruega no guardar datos importantes en este ordenador sin tener previamente una copia de seguridad. El backup del mismo en caso de pérdida de datos se ha realizado el 22/04/2016.

[2016-05-06 08:57] rsantos88 commented on #43
Ya está realizado el backup de todos los discos de los PCs: _teo-head_, _manipulation_, y _locomotion_. Se han clonado particiones principales a una partición secundaria de aproximadamente 20GB arrancable que podremos seleccionar desde el menú de Grub con nombre "_Linux.....(Backup: 22/04/2016)_ " situada en la parte inferior de la lista de Grub. El procedimiento de como restaurar la imagen del si

[2016-05-06 12:37] jgvictores commented on #53
Done at 7e9594a892c33119f2ceb0ff59cb0a5c3d69329f.

[2016-05-06 12:37] #53 closed, assigned to nobody

[2016-05-11 14:54] rsantos88 opened #59 "[CuiAbsolute] Nuevos modos de funcionamiento para la publicación de mensajes del PIC"
Para poder mejorar el comportamiento de los encoders absolutos a la hora de la publicación de mensajes, se pretende añadir en el código del PIC dos modos de funcionamiento:

**Modo 1: publicación permanente** (modo por defecto):
- [x] Al encender cada una de las extremidades, los encoders absolutos no publicarán ningún mensaje.
- [x] Cuando arranquemos launchManipulation o launchLocomotion, ambos

[2016-05-11 14:57] rsantos88 commented on #57
Next enhancement, please see #59.
Closed!

[2016-05-11 14:57] #57 closed, assigned to rsantos88

[2016-06-06 10:12] jgvictores opened #60 "[CuiAbsolute] Documentación"
- [x] Correspondencia IDs y valores en código fuente
- [x] Enlazar URL máquina virtual con entorno MPLAB para programación de PICs de CuiAbsolute

[2016-06-06 10:26] jgvictores opened #61 "[CuiAbsolute] create testCuiAbsolute"
create testCuiAbsolute

[2016-06-06 13:07] lpinel opened #62 "[Jr3] Card connection fails sometimes"
A veces al encender el PC de manipulación, los LEDs de la tarjeta DAQ están apagados (los de comunicación con la tarjeta y los de alimentación de los sensores).  Y el comando lsipci no reconoce el adaptador PCI->PCIe "Pericon".
Entonces se debe encender y apagar el ordenador  (con reiniciarlo no basta). ¿A qué se puede deber el problema?

[2016-06-08 14:39] rsantos88 opened #63 "[Wifi] Slow communications"
Se han detectado lentitud en las comunicaciones con los ordenadores de manipulación y locomoción utilizando Wifi en las siguientes situaciones:
- Con el qtcreator abierto por ssh en el ordenador de manipulación, se aprecian bloqueos constantes del programa cuando se da la situación de que Loli está trabajando a la vez con otra terminal conectada por ssh al mismo PC para realizar otras tareas (en e

[2016-06-08 15:40] jmgarciah commented on #63
Creo que mientras el robot no camine, sería una buena idea volver con los cables ethernet. Nos estaríamos asegurando la velocidad de las comunicaciones y a la vez no habría problemas en los tirones, pues no se lanzan trayectorias de caminata. :+1:

[2016-06-09 11:23] jgvictores commented on #63
El router actual tiene 4 conectores para cables. Si se vuelve a la configuración con cables, no habrán conectores libres: manipulation, locomotion, head, main (mandatory, e.g. because yarp server there).

[2016-06-13 09:42] lpinel commented on #62
Hoy al ejecutar el programa de lectura de datos de los sensores, se apagaron de golpe todos los LED de la tarjeta.
Al hacer lspci aparece el adaptador Pericon PCI bridge.
Al hacer lsmod, aparece el módulo jr3pci_driver por lo que no es tema de fallo de inclusión del módulo.

[2016-06-15 09:36] lpinel commented on #63
Hoy ha sido necesario reiniciar (apagar y encender el botón) el router por fallo en las comunicaciones. No se tenía acceso a los pc's de TEO ni a Internet

[2016-06-15 10:51] rsantos88 commented on #63
Las comunicaciones siguen yendo bastante lentas cuando trabajan dos personas con la misma conexión. Mientras se esté desarrollando con Teo, (y no perjudique) propongo el uso de cable. Si el router está limitado a 4 conectores... ¿no se puede pedir comprar otro con más puertos o un switch?
Saludos cordiales

[2016-06-15 10:55] smcdiaz commented on #63
Me encargo de buscar soluciones hardware

[2016-06-15 11:35] rsantos88 commented on #63
Gracias @smcdiaz !!

[2016-06-15 16:34] smcdiaz commented on #63
¿Qué os parece esta actualización de comunicaciones?
http://www.netgear.es/home/products/networking/wifi-routers/R8500.aspx?cid=gwmng#tab-especificacionestécnicas

http://www.netgear.es/home/products/networking/wifi-adapters/A6100.aspx?cid=gwmng

[2016-06-15 17:25] rsantos88 commented on #63
Propongo también la posibilidad de comprar simplemente un switch para ampliar el número de puertos que tenemos actualmente: http://www.netgear.es/home/products/networking/switches/soho-ethernet-switches.aspx?cid=gwmng

[2016-06-15 18:21] smcdiaz commented on #63
Ok. Pero aun así es necesario mejorar las comunicaciones inalámbricas.

[2016-06-17 09:28] serna92 opened #64 "Request of the simulation module of Teo body."
Hello,

I'm a student of the university Carlos III (Leganes) and I'm working in a project related with the robot Asibot which i need to do a simulation using OpenRave. I found that the module jmc_rave is now out of date in Asibot so I would like to ask if you could send the module used to simulate Teo body. Also, I would like to receive a tutorial or documentation about how to set it up in Ubuntu

[2016-06-17 09:55] jgvictores commented on #64
Hi @serna92,
For TEO simulations we currently use teoSim, part of https://github.com/roboticslab-uc3m/teo-main
Here's a link to the documentation http://robots.uc3m.es/dox-teo-main/ (install should be the same for Ubuntu 14.04 and 14.10; if not, just put an issue in the teo-main repository).

[2016-06-17 09:55] #64 closed, assigned to nobody

[2016-06-20 10:14] ivansolano opened #65 "Error while trying to execute MORSE's YARP example"
After install MORSE as explained in [MORSE wepbpage](https://www.openrobots.org/morse/doc/latest/user/installation/mw/yarp.html) and install YARP manually as explained [here](https://www.openrobots.org/morse/doc/latest/user/installation/mw/yarp.html). I've tried to execute [this](https://www.openrobots.org/morse/doc/latest/user/beginner_tutorials/yarp_tutorial.html) example of MORSE using YARP but

[2016-06-20 12:34] rsantos88 commented on #61
Done. View at #66

[2016-06-20 12:36] rsantos88 commented on #60
1) http://robots.uc3m.es/index.php/CuiAbsolute_Documentation
2) https://drive.google.com/a/uc3m.es/folderview?id=0BxR76I90oKSmdnRhQlpsS3pXWm8&usp=sharing

[2016-06-20 12:38] jgvictores commented on #60
Good! Linked from http://robots.uc3m.es/index.php/TEO

[2016-06-20 12:38] #60 closed, assigned to nobody

[2016-06-20 12:45] jgvictores commented on #65
Closing, as this is not a teo-body issue.

I'd recommend looking at [morse's recommended channels](http://www.openrobots.org/morse/doc/stable/morse.html), such as [their mailing-list](https://sympa.laas.fr/sympa/subscribe/morse-users) or [their bug-tracker](https://github.com/laas/morse/issues).

[2016-06-20 12:45] #65 closed, assigned to nobody

[2016-06-20 15:59] rsantos88 opened #67 "[CuiAbsolute] integrating new features in launchManipulation"
A continuación se muestran las modificaciones realizadas para poder integrar el envío de mensajes al PIC en el launchManipulation. Se han hecho las pruebas con el encoder 124 (codo del brazo izquierdo). Para conocer si se reciben mensajes se utiliza el programa dumpCanBus.
Para testear que el encoder está funcionando correctamente se utiliza testCuiAbsolute.

_libraries> BodyYarp>CanBusControlBoar

[2016-06-29 09:25] #61 closed, assigned to rsantos88

[2016-06-29 09:32] rsantos88 commented on #67
Tema solucionado :)
Gracias a los que me habéis ayudado. Cierro la issue.

[2016-06-29 09:32] #67 closed, assigned to nobody

[2016-06-29 09:45] rsantos88 opened #68 "[Cui Absolute] Integrating Cui 113 in launchLocomotion.ini"
Actualmente, el launchLocomotion está funcionando sin los encoders absolutos 113 y 114. El encoder 114 aún se encuentra sin el cable de CAN. En cambio el 113 se encuentra operativo y mandando correctamente su posición. Al  integrar el 113 en el launchLocomotion.ini, cuando accedemos al tronco, los valores de los encoders, tanto del 113 como del 114, permanecen con valor 0. Además, cuando se trata

[2016-06-29 09:50] jgvictores commented on #68
Vi algún .ini provisional que evita el 119. ¿Algo ocurre con este CuiAbsolute?

[2016-06-29 10:32] rsantos88 commented on #68
Si. En un par de ocasiones, la conexión entre el PIC y el Cui ha fallado y se han dejado de recibir mensajes.

[2016-06-29 10:38] rsantos88 commented on #68
Aún así @jgvictores , ahora mismo la issue se centra en los CuiAbsolute del tronco y su integración en el launchLocomotion.ini. Gracias.

[2016-07-06 12:54] rsantos88 commented on #68
Recientemente se han conectado los encoders 113 y 114. Ambos encoders se encuentran enviando mensajes correctamente. Cuando arrancamos el launchLocomotion y accedemos al tronco, ambos encoders dan valor 0.0. Tras mover ambas articulaciones, los valor de los encoders siguen marcando 0.0. ¿alguna solución?
Gracias

[2016-07-06 13:06] rsantos88 commented on #68
Añadir que también se ha probado a usar el oneCanBusOneWrapper modificando el .ini e incluyendo el driver 14 y el Cui 114. Se ha probado y el valor obtenido al mover la articulación es igualmente (0.0)

[2016-07-06 13:37] rsantos88 commented on #59
Finalizado. Cierro esta issue.

[2016-07-06 13:37] #59 closed, assigned to rsantos88

[2016-07-18 10:51] rsantos88 commented on #63
Se ha añadido en la Wiki información sobre la instalación de los drivers para los adaptadores A6100 WiFi USB en: http://robots.uc3m.es/index.php/TEO_Network_information.

[2016-07-26 14:04] rsantos88 opened #70 "Migrate install teo-body instructions from [dox] to [md]"
Migrate install instructions from [dox] to [md]

[2016-07-26 15:03] rsantos88 commented on #70
Done pull request #71!

[2016-07-26 15:03] #70 closed, assigned to rsantos88

[2016-07-27 14:02] rsantos88 opened #72 "[CuiAbsolute] Finding problems with new firmware of PICs"
Se ha realizado la nueva actualización del firmware a los PICs de los encoders absolutos solo en la parte de manipulación para realizar pruebas y solucionar errores. Cuando se realiza por primera vez el encendido de los drivers, todo funciona correctamente. Como estaba previsto, los PICs empiezan a publicar en el momento en que el launchManipulation lo pide. Al cerrar launchManipulation (hacer Ctr

[2016-09-07 10:11] rsantos88 commented on #68
Se han reprogramado los encoders absolutos 113 y 114. Ambos envían mensajes correctamente.
Se ha descartado por tanto que sea un problema de hardware.  Además, añadir que cuando en el .ini se integran los encoders 113 y 114, al acceder a la posición de los encoders correspondientes a la pierna derecha y a la pierna izquierda, estos marcan 0 en todas sus articulaciones.

[2016-09-07 10:13] jgvictores commented on #68
IMHO, reprogramar involucra algo de hardware. ;-)

[2016-09-08 11:04] rsantos88 commented on #68
IMO el problema de esta Issue es SW.
NSFW hablar de HW, si ya se ha descartado. Todo apunta a que es el SW del LL.
Pls contesta ASAP ;-)

[2016-09-08 11:27] jgvictores commented on #68
AFAIK, si hay una EEPROM que se borra sin motivo, sería HW. Más si no hay cambios en el SW.
NSFW podría ser JLo, no HW.

[2016-09-08 11:37] rsantos88 commented on #68
LOL! +1 yo también creo que puede ser JLo.

[2016-09-08 14:53] David-Estevez commented on #68
OMG! WTF??

[2016-09-19 12:08] jgvictores opened #74 "Clean CAN master's DeviceDriver methods"
CanBusControlboard open() and close() functions contain class-specific functionalities that can and should be moved to the open() and close() functions of the corresponding classes "TechnosoftIpos", "CuiAbsolute", etc.

[2016-09-19 15:27] rsantos88 commented on #72
Se ha corregido el segundo problema detectado (bloqueo de los PICs): #73

[2016-09-20 11:43] rsantos88 commented on #72
Se han añadido mejoras al código del launchManipulation a la hora de enviar mensajes de parada a los PICs (#75). En este caso, solo reenviará mensajes de parada a aquellos encoders a los que, una vez mandado el mensaje de parada, se detecte que continúan publicando.
Cierro esta Issue :+1:

[2016-09-20 11:43] #72 closed, assigned to rsantos88

[2016-09-22 09:23] rsantos88 commented on #68
Tema solucionado. Con las nuevas modificaciones del nuevo launchManipulation & launchLocomotion (#75), los encoders absolutos (113 y 114) son reconocidos perfectamente por el software.
Cierro esta issue :stuck_out_tongue_winking_eye:

[2016-09-22 09:23] #68 closed, assigned to nobody

[2016-09-22 11:37] rsantos88 commented on #63
Al tratar de instalar el paquete "sudo apt-get install linux-headers-generic build-essential git" en el PC de manipulación, me saca el siguiente error:

teo@manipulation:~$ sudo apt-get install linux-headers-generic build-essential git
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package linux-headers-generic is not available, but is referred to by anoth

[2016-09-26 13:30] rsantos88 commented on #63
Se han corregido los pasos a seguir para instalar correctamente el nuevo modelo de wifi (Netgear A6100) en la [Wiki](http://robots.uc3m.es/index.php/TEO_Network_information#Setting_up_Wifi_connection:_Netgear_A6100_WiFi_USB_Mini_Adapter) en el apartado **Setting up Wifi connection: Netgear A6100 WiFi USB Mini Adapter**.
Seguidos los pasos, nos encontramos con el problema de que, aún habiendo insta

[2016-09-28 11:31] rsantos88 commented on #44
Implemented in #77.
Now, if you for run launchManipulation or launchLocomotion and you see for example a error message, like:
`Cui Absolute (PIC ID: 120) doesn't respond. Try using --externalEncoderWait [seconds] parameter with timeout higher than 0`
the Absolute Encoder doesn't respond, so use --externalEncoderWait [seconds] parameter for using default relative encoder position.

[2016-09-28 11:31] #44 closed, assigned to rsantos88

[2016-09-29 08:58] rsantos88 opened #78 "Instalar una seta de emergencias que corte la corriente de las extremidades"
Debido a las reiteradas veces que se ha tenido que utilizar la actual seta de emergencia y que provoca el apagado general de todo Teo (incluyendo los PCs), rogaría que se instalase una seta de emergencia que desactive únicamente las partes móviles de Teo, con el objetivo de evitar futuros problemas ( a ser posible, con un cable lo suficientemente largo como para que pudiese llegar hasta el PC dond

[2016-10-13 14:31] rsantos88 commented on #78
Muchas gracias Pedro. Eres un fenómeno!!!  :smile:

[2016-10-13 14:31] #78 closed, assigned to nobody

[2016-10-13 14:34] jgvictores commented on #51
Working on this in teo-main first: https://github.com/roboticslab-uc3m/teo-main/issues/60

[2016-10-18 10:30] rsantos88 opened #80 "[CuiAbsolute] Pics returns trash in the middle of sending position messages"
Se han observado que en el envío de los mensajes de posición, los PICs mandan un mensaje basura, dando un valor exagerado () el cual se repite con mucha mayor frecuencia cuando la articulación se encuentra en posición 0.
Por ahora, para evitar problemas, el launch filtra dichos mensajes para que no puedan ser grabados en el encoder relativo a la hora de su inicialización.
A raiz de esto, @smcdiaz

[2016-10-19 08:33] rsantos88 commented on #80
Los 2 mensajes basura que se detectan, tienen los siguientes valores:

[2016-10-19 13:39] rsantos88 commented on #80
Tema solucionado en  #79  :tada: :tada: :tada:

[2016-10-19 13:42] rsantos88 commented on #28
Done!! #79   :tada: :stuck_out_tongue:

[2016-10-19 13:42] #28 closed, assigned to nobody

[2016-11-12 18:09] PeterBowman opened #81 "Cannot control joints 2-5 in ASIBOT with TeoBody code"
ASIBOT's PC (more precisely, a RoBoard computer with a Debian system installed on a SD card) stores a local copy of teo-body to communicate with CAN drivers at a low level. We've observed that, out of 5 axes, only the first one moves as expected and the rest stand still, while RPC responses always return an `[ok]` acknowledgement. Tested code corresponds to an old version of the repo since we firs

[2016-11-15 06:02] jgvictores commented on #81
Okay, let's go little by little.
1. As a basic rule, do not run programs simultaneously.
2. Is possible to physically connect/disconnect the TechnosoftIpos power without stopping the roboard?
3.  Copy and paste the output of `dumpCanBus` here. If 2 is true: run `dumpCanBus`, turn off TechnosoftIpos power, wait 5 seconds, do a ctrl-c to stop `dumpCanBus`, run `dumpCanBus`, turn on TechnosoftIpos po

[2016-11-15 23:52] PeterBowman commented on #81
After collecting `testBodyBot`'s output in a file (~86 MB worth of ~~useless~~ tests), stripping dupes and other garbage, these lines may point at a new suspect - the motor constant `k`. Let me check it in a few hours, I'll follow your pointers if my hunch is wrong.

[code]

[2016-11-16 09:52] rsantos88 opened #82 "[CuiAbsoluteEncoder] PIC 119 doesn't respond"
El encoder absoluto 119 no está funcionando correctamente. Ayer se cambió el cable que une el PIC con el Driver para comprobar si tenía algo que ver, pero seguía dando problemas.
Se ruega al personal cualificado que trate de resolver este problema lo antes posible.
Gracias :)

[2016-11-16 14:42] PeterBowman commented on #81
We managed to move all 5 axes by replacing the SD card with a freshly restored system backup (previous SD had some additional WiFi drivers installed and recent teo-body code pulled from GH). I have attached the output from running `testBodyBot` on both SDs in [this Gist](https://gist.github.com/PeterBowman/77ae4762822a2ea04d35db18f6f8f3fd). The first file refers to the previous card, only axis 1 r

[2016-11-16 17:32] jgvictores commented on #81
It's reasonable that the a joint does not move upon a position movement command if the reference velocity and acceleration is zero. Does that answer you, or am I misunderstanding your question?

[2016-11-16 21:57] PeterBowman commented on #81
That's what I would expect to happen (no velocity/acceleration = no movement), but it **was** unclear to me why these values had been set to zero for joints 2 to 5. After a second thought, it seemed plausible that the omission of `refSpeeds` and `refAccelerations` in the command line while on the first SD may have had some influence, hence the bolded past tense. Unfortunately, I can't discard it u

[2016-11-18 13:16] PeterBowman commented on #81
Long story short, our main issue got solved with a thorough inspection of .ini files and parameter defaults. That is, we did not specify any reference speeds nor accelerations for `testBodyBot`, thus taking a default value of zero for joints 2-5. I'm pasting the full command with params (updated for 1 Mb/s):

`$ testBodyBot --canDevice /dev/can0 --canBitrate 8 --ids 1 2 3 4 5 --types motoripos mot

[2016-11-19 13:18] jgvictores commented on #81
1. refSpeeds and refAccelerations are needed for positionMode commands, whereas k is required for torqueMode commands.
2. I'm reopening this issue. Would it be correct to rename this issue including "depreciated testBodyBot", close this issue, and open a new issue for `oneCanBusOneWrapper`?

[2016-11-21 12:23] PeterBowman commented on #81
I've run another test today - this time, we were able to control all joints with `oneCanBusOneWrapper` and the .ini file you specified [earlier](https://github.com/roboticslab-uc3m/teo-body/issues/81#issuecomment-260555317). Previous conditions cannot be reproduced because of recent hardware changes. I'd leave this issue closed as invalid unless you notice any other topic worth investigating furth

[2016-11-21 14:23] jgvictores commented on #81
Ok, you can close this issue!

Ok, lesson learned! :smile:

[2016-11-21 15:05] #81 closed, assigned to nobody

[2016-11-24 10:21] jgvictores commented on #47
As pointed out by @PeterBowman we need to implement yarp::dev::IControlLimits2

@rsantos88 Could you do this on CanBusControlboard and TechnosoftIpos?

This would be a great improvement!!

[2016-11-24 10:29] jgvictores opened #83 "Enable digital outputs"
For the ASIBOT, and possibly for TEO, it would be great if we could control the digital outputs of the TechnosoftIpos. However, before going down this road on the TechnosoftIpos side, we have to see how thos goes through the remote_controlboard and CanBusControlboard flow.

[2016-11-24 13:17] PeterBowman opened #84 "Outdated "threadrate" parameter breaks on YARP 2.3.66.1"
From [yarp/releases/tag/v2.3.66.1](https://github.com/robotology/yarp/releases/tag/v2.3.66.1):

Several .ini files have to be updated.

[2016-11-25 00:30] #84 closed, assigned to PeterBowman

[2016-11-25 00:39] PeterBowman commented on #84
@jgvictores this might actually be worth a cherry pick to master.

[2016-11-28 14:17] jgvictores commented on #47
Fixed at 6328dd5ce4f451b172a6fe176a226e42b463d212

@PeterBowman Thanks again for pointing out the fact that we needed to implement yarp::dev::IControlLimits2 !

[2016-11-28 14:17] #47 closed, assigned to jgvictores

[2016-11-28 16:52] PeterBowman commented on #47
@jgvictores we've just tested these changes on ASIBOT with yarpmotorgui and it works like a charm, thanks!

[2016-11-28 16:57] jgvictores commented on #47
@PeterBowman Great, cool!

[2016-12-01 10:55] jgvictores commented on #84
@PeterBowman I really never understood what you meant with that last comment :smile: ...to what do you refer? Something like we should check this among all repos? Or just the fact that keeping up with dependencies can be really tedious in general?

[2016-12-01 11:27] PeterBowman commented on #84
@jgvictores a [cherry pick](https://git-scm.com/docs/git-cherry-pick) is basically a copy-paste of one or more commits from one branch to another (your IDE of choice should have such a GUI option). Since `master` branch is currently broken for YARP >2.3.66.1 installations, I referred to applying 1e45ba3 there, too.

[2016-12-03 13:13] PeterBowman opened #85 "Create CLI utility for sending data through CAN bus"
We already have `dumpCanBus`, a handy program for collecting transmitted data, and `checkCanBus`, some sort of maintenance script that checks the availability of one or several CAN devices. As there is a growing need for communicating with low-level devices at the ASIBOT team, we could benefit from another utility that would simply send CAN messages issued at the command line, let's say `sendCanBu

[2016-12-03 13:22] jgvictores commented on #85
Another idea would be to make a very simple python class, the use through `ipython` could be good (not having to copy+paste or use readline). But yes, a very simple CLI utility is definitely a great idea and can be implemented very quickly.

[2016-12-03 17:13] jgvictores commented on #84
Mmmm ended up doing a `git cherry-pick --abort`, wasn't very fast-forward... ended up doing a brute-force update of master to develop, sorry! :smile:

[2016-12-06 00:26] PeterBowman commented on #85
I have no experience with IPython, but it looks interesting. This would require binding from C code to a Python class, am I right? I was considering a YARP `RpcServer` to intercept custom vocabs (=CAN messages) and grant a basic shell for easier interaction. It might be overkill for our needs, though. Edit: a simple callback port should be enough (I was thinking of ASIBOT's `CartesianServer` with

[2016-12-06 13:02] jgvictores commented on #85
Yes, possibly. As an interface, I was thinking of something like [this](https://github.com/robotics/open_abb/wiki/Python-Control). Maybe just making an SWIG `.i` is enough, it's a matter of selecting which class and making a `send()` member available if it doesn't exist yet.

This is another possibility. People used to use [yarp::os::RFModule::attachTerminal](http://www.yarp.it/classyarp_1_1os_1_1

[2016-12-26 19:59] PeterBowman commented on #85
I'd give a try to Python's native access to low-level IO with functions like `os.open()`, `os.read()`, etc. ([2.x](https://docs.python.org/2/library/os.html?highlight=os.read#file-descriptor-operations), [3.x](https://docs.python.org/3/library/os.html?highlight=os.fdopen#file-descriptor-operations)). [python-can](https://python-can.readthedocs.org/en/stable/) looks promising, too, although it may

[2016-12-30 17:19] PeterBowman commented on #83
I wrote a simple C program to control the OUT3/READY digital output of TechnosoftIpos drivers: https://gist.github.com/PeterBowman/db3c67205e83363ac02d6cac427b2646 (BTW it was supposed to be a first step to accomplish #85, but I'll defer the task of creating a fully working CLI program to a later phase). This is the output pin we'll use to command each brake in ASIBOT.

[2016-12-31 21:56] PeterBowman commented on #83
I forgot to mention a discordance between what the *iPOS CANopen Programming User Manual* says and the observed behavior. According to section **5.4.2. Object 60FEh: Digital outputs** (ref. P091.063.iPOS.UM.0615):

It continues with a detailed object description and an example for setting digital outputs (5.4.2.1). According to that, the object entry mapped with sub-index 1 should hold the desired

[2017-01-17 15:30] rsantos88 commented on #82
Tema solucionado. Cierro issue :)

[2017-01-17 15:30] #82 closed, assigned to nobody

[2017-01-17 15:45] rsantos88 opened #86 "[CuiAbsoluteEncoder] PIC 125 doesn't respond"
El encoder 125 no responde al ejecutar el launch.
Se ruega al personal cualificado que arregle el problema lo antes posible.

Un saludo.
Raúl

[2017-01-23 12:17] jgvictores commented on #51
Essentially https://github.com/jgvictores/example-yarp-plugin-gtest is a good example of a repository containing a YARP plugin compiled as a shared library. Important:
1. In [root CMake of repo](https://github.com/jgvictores/example-yarp-plugin-gtest/blob/1c13b96a2133635d316983ef2d0111937b0cb7d2/CMakeLists.txt#L16) (maybe in teo-body could be elsewhere):
`option(BUILD_SHARED_LIBS "All shared libs"

[2017-01-23 12:20] jgvictores commented on #51
Just in case, I would also recommend having YARP installed with `CREATE_SHARED_LIBRARY` activated.

[2017-01-23 15:20] jgvictores commented on #51
PS: From https://github.com/asrob-uc3m/robotDevastation-robots I've just seen that https://github.com/jgvictores/example-yarp-plugin-gtest is not updated to the latest of YARP. Here are the two relevant fixes:
- [update yarp_prepare_device -> yarp_prepare_plugin with CATEGORY device](https://github.com/asrob-uc3m/robotDevastation-robots/commit/9dc5d4dff9aae94f541c77f560127d06071dccce)
- [WRAPPER R

[2017-01-23 15:28] PeterBowman commented on #51
@jgvictores `EXTRA_CONFIG` is a recent addition to the `yarp_prepare_plugin` command, it won't work with pre-2.3.68 YARP.

[2017-01-24 12:30] rsantos88 commented on #51
I tried to do the first shared library with CanBusControlboard. Here is the [commit](https://github.com/rsantos88/teo-body/commit/a839ad43be821fd8d7c5f527b57c65d964e4438b) but, when I've tried to do cmake .., it shows this:
[code]

[2017-01-24 14:06] rsantos88 commented on #51
Now, with this [commit](https://github.com/rsantos88/teo-body/commit/3dfd8b2a139a68600a27519b7eff118ba1c1b0a2), the last problem was solved, but when I try to compile, it shows this error:
[code]

[2017-01-24 14:20] PeterBowman commented on #51
You are still linking to `/usr/local/lib/libBodyYarp.a` somewhere, in my case the compiler doesn't even get that far if `libBodyYarp.a` is not installed.

[2017-01-24 18:48] PeterBowman commented on #51
@jgvictores

I'd keep them as long as the `BUILD_SHARED_LIBS` option/variable is not forced since users may still want to link statically. Similarly, `yarp_add_plugin_yarpdev_executable` CMake plugin and `YARP_DECLARE_PLUGINS` / `YARP_REGISTER_PLUGINS` C macros (used in `main.cpp` in most programs) should be kept for the same reason.

Just as a side note: if the `yarp_begin_plugin_library` / `yarp

[2017-01-27 18:16] jgvictores commented on #51
In fact, the consequences are quite brutal regarding code and cmake (take a look at the current SharedLibraries branch at https://github.com/roboticslab-uc3m/teo-body/network). I'm extremely inclined to force shared libraries, keeping static libraries seems like a giant effort (possibly requiring ugly hacks or at least ugly code) with no visible benefits.

PS: `SKIP_CuiAbsolute` etc were `SKIP_Bod

[2017-01-27 20:13] PeterBowman commented on #51
I believe some of those changes would be necessary even for static libraries in terms of a major cleanup, I just recently found that instructions like this do not make much sense (apart from populating a public interface, which may or may not be intended):

[code]

It might not be that hard nor hackish to provide support for static libraries. Having that said, I'm not against forcing shared YARP p

[2017-02-07 12:41] PeterBowman commented on #51
@jgvictores you might also want to add b342044 to the list at https://github.com/roboticslab-uc3m/teo-body/issues/51#issuecomment-274515888.

[2017-02-07 13:35] jgvictores commented on #51
Done at 92a3cf72b102ed92d690fc80d16dd883eafe1df3.

[2017-02-07 13:35] #51 closed, assigned to jgvictores, rsantos88

[2017-02-07 20:03] PeterBowman commented on #85
A nice example of such implementation can be found in asrob-uc3m/robotDevastation-robots@3385429.

[2017-02-08 10:50] jgvictores commented on #48
Working example at 646fa95c47e53555d6e14e5272e96e11e0997606

[2017-02-08 10:50] #48 closed, assigned to jgvictores

[2017-02-13 14:13] jgvictores opened #89 "YARP version on teo-body"
From https://github.com/roboticslab-uc3m/QA/issues/7#issuecomment-279399892:

However, while `2.3.68` and on compile with `-DYARP_NO_DEPRECATED_WARNINGS=ON`, `teo-body` breaks when compiling against YARP `2.3.68`.

Remember this all burns down to the `MSG` argument of define `YARP_DEPRECATED_MSG(MSG) __attribute__((__deprecated__(MSG)))` defined [here](https://github.com/robotology/yarp/blob/eeeb9

[2017-02-13 16:05] jgvictores commented on #89
With d0960257cb819528b94550d2037a6d11c801789b we can compile against YARP `2.3.68+181-20170203.11+gite122128` (YARP commit `e1221283abb1abc77619429bb4d9408cbb1cf6c8`).

[2017-02-13 16:19] jgvictores commented on #89
Documented at https://github.com/roboticslab-uc3m/teo-body/commit/8330befc266e427de71130ee3f278b374b792909 and https://github.com/roboticslab-uc3m/installation-guides/commit/723bb3f5e7910df42eecd73a076f0fba844599dc

[2017-02-13 16:19] #89 closed, assigned to nobody

[2017-02-14 15:17] jgvictores opened #90 "Implement IPositionControl2 on CanBusControlboard"
Implement IPositionControl2 on CanBusControlboard and probably down through the whole stack (TechnosoftIpos, etc) to benefit more from `yarpmotorgui` (for instance, not currently showing joint reference velocities).

[2017-02-16 15:01] jgvictores commented on #22
Some work has been done until 96114b6526ce2818d250435da77d2da91f1c5cf4 on the current `playback` branch.

[2017-02-16 18:28] David-Estevez opened #91 "Notification of hardware substitution: Ironing tool"
I'm writing this issue to notify all Teo users that I have substituted Teo's hand with the knowledge and approval of @jgvictores  and @rsantos88.

I have taken all the precautions in my hand to leave all electrical connections as I found them. But, as I haven't been able to find any documentation of the correct wirings of Teo, **I ask you to be careful and double check all the wiring before turnin

[2017-02-16 23:17] jgvictores commented on #85
`kinematics-dynamics` now also has some similar bindings (see [here](https://github.com/roboticslab-uc3m/kinematics-dynamics/tree/54b5cc7cd9764ff0245e6d2866f486e5b2aa08d3/bindings)).

[2017-02-16 23:19] jgvictores commented on #26
As commented with @PeterBowman this issue is mainly related with all the [exporting dependencies for (...) quite manually for now...](https://github.com/roboticslab-uc3m/teo-main/blob/54b5cc7cd9764ff0245e6d2866f486e5b2aa08d3/libraries/TrajectoryLib/CMakeLists.txt#L33) comments.

[2017-02-17 00:22] PeterBowman commented on #26
I'm afraid we are somehow constrained by having to deal with Debian's outdated (6.0) SO. Of course, these lines could be improved a bit anyway, in that respect I found YARP's use of CMake a valuable source for discovering features and good (I hope so) practices in dealing with project configuration. I noticed yesterday some ongoing work targeted towards next YARP releases to support CMake 3.0, let

[2017-02-17 19:18] rsantos88 commented on #90
Is this what you want?? #92  :confused:

[2017-02-19 22:53] jgvictores commented on #90
Commented on #92 :smile:

[2017-02-21 16:27] rsantos88 commented on #80
Se ha vuelto a observar este fallo en los encoders de la pierna derecha (mirar [revisión](https://docs.google.com/spreadsheets/d/1RBBhsvR1kPimETVTzeJ3UTte0rK8_h7XX5WKw2b_Egc/edit#gid=526179510)).
Queda pendiente!!

[2017-02-23 15:35] rsantos88 opened #93 "[CuiAbsoluteEncoder] New wrong values found... and 109 missing to fix!!"
Después de realizar diversas pruebas, se ha encontrado que:
* Al arrancar el launchLocomotion, los encoder 114 (frontal de la cintura) y el 105 (sagital de la pierna derecha) dan aleatoriamente un valor, que puede ser entorno a los 67º (ej: 67.557129) , -67º (ej: -67.398941) y su valor correcto. A partir de este valor (sea correcto o incorrecto), empieza a variar, incrementandose o decrementandose

[2017-02-23 15:38] rsantos88 commented on #80
El nuevo problema que ha surgido en los CUIs de las piernas no tiene relación aparente con esta issue, por tanto la cierro!!

[2017-02-23 15:38] #80 closed, assigned to rsantos88

[2017-02-23 23:37] jgvictores commented on #22
Names may vary, but:
- [libraries/Playback](https://github.com/roboticslab-uc3m/teo-body/tree/2feadb5608f11d3e28c02ddf05a2a9c3804a419c/libraries/Playback) is a separate file reader class. Stores a vector<vector<double>> and allows minimal browsing. Can be seen in action with [its corresponding test](https://github.com/roboticslab-uc3m/teo-body/blob/2feadb5608f11d3e28c02ddf05a2a9c3804a419c/tests/te

[2017-02-23 23:37] #22 closed, assigned to jgvictores

[2017-02-23 23:38] jgvictores commented on #24
The `PlaybackThread`class described in #22 can be used for this.

[2017-02-23 23:39] #24 closed, assigned to jgvictores

[2017-02-23 23:41] jgvictores commented on #21
The `PlaybackThread`class described in #22 implements its own state machine.

[2017-02-23 23:41] #21 closed, assigned to jgvictores

[2017-02-24 12:15] rsantos88 commented on #93
Añado el encoder 103 (frontal rodilla derecha) con exactamente el mismo problema comentado en el primer punto.

[2017-02-24 15:28] David-Estevez opened #94 "Notification of hardware removal: waiter tool"
I'm writing this issue to notify all Teo users that I have removed Teo's waiter tool with the knowledge and approval of @jgvictores .

The reason behind this removal is safety: this tool is not included in the collision model, and robot movements involving the left arm during our experiments may cause collision with Teo's body or pulling Teo's wires.

This change will be reversed after March 1st 2

[2017-02-24 17:16] David-Estevez opened #95 "Notification of broken hardware: right hand power board"
## Debrief

@jgvictores and I have been working with Teo this evening. As we couldn't receive any data from the right arm sensor, we checked the hardware and the power connector was broken.

We contacted @smcdiaz that told us that @munozyanez had had an incident with the robot while homing, resulting in a broken connector. We asked him if the board can be powered from the other power connector, wh

[2017-02-24 17:26] David-Estevez opened #96 "Request: accessible hardware documentation for robot users"
During the incidents described in #95 we had a difficult time figuring what the correct connections were for some of Teo boards.

To avoid further damage, it would also had been very useful to have the schematics (and later modifications) of those boards, to ensure that hardware hotfixes don't break more than they fix.

I propose the creation of an updated hardware reference guide / repository wit

[2017-02-24 18:05] David-Estevez opened #97 "Avoid short-circuits in hand power boards"
Current version of the hand power boards is manufactured in bare copper prototype boards, which are prone to short-circuits and other human errors. Issue #95 is an example of such incidents.

A very simple solution would be to manufacture the current design in a proper production PCB, with soldermask  and silkscreen to prevent accidents.

[2017-02-24 18:08] David-Estevez commented on #95
After some further testing, we found out:

* Force sensor is ok.
* Left hand power board had a broken connector which we fixed, so now it is ok.
* The power wire was damaged from the short-circuit incident, so we made a self-transplant using the wire present in the other arm. That wire was no longer in use as the power board has been also transplanted to the right arm.

[2017-02-24 18:54] David-Estevez opened #98 "Migration of hardware issues to teo-hardware-manual"
@jgvictores  has requested the migration of hardware-related issues to [teo-hardware-manual](https://github.com/roboticslab-uc3m/teo-hardware-manual).

[2017-02-24 18:56] David-Estevez commented on #91
Migrated to https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/1

[2017-02-24 18:56] #91 closed, assigned to nobody

[2017-02-24 18:57] David-Estevez commented on #94
Migrated to https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/2

[2017-02-24 18:57] #94 closed, assigned to nobody

[2017-02-24 18:59] David-Estevez commented on #95
(Migrated to https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/3)

[2017-02-24 18:59] #95 closed, assigned to nobody

[2017-02-24 19:00] David-Estevez commented on #96
(Migrated to https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/4)

[2017-02-24 19:00] #96 closed, assigned to nobody

[2017-02-24 19:01] David-Estevez commented on #97
(Migrated to https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/5)

[2017-02-24 19:01] #97 closed, assigned to nobody

[2017-02-24 19:02] David-Estevez commented on #98
I have migrated my latest hardware-related issues (#91, #94, #95, #96, #97)

[2017-02-24 19:04] David-Estevez commented on #36
(Migrated to https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/6)

[2017-02-24 19:04] #36 closed, assigned to nobody

[2017-02-24 19:06] David-Estevez commented on #86
(Migrated to https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/7)

[2017-02-24 19:06] #86 closed, assigned to smcdiaz, jmgarciah

[2017-02-24 19:06] David-Estevez commented on #98
All remaining issues (#6, #86) migrated.

[2017-02-24 19:06] #98 closed, assigned to nobody

[2017-02-24 19:07] David-Estevez commented on #32
I guess it is now clear that this repo is related only to robot-related code and not application-related code.

[2017-02-24 19:07] #32 closed, assigned to nobody

[2017-02-24 19:14] PeterBowman commented on #32
This repo might be slightly repurposed to hold a collection of sensor/actuator YARP devices in the near future (that is, expanding current CAN and jr3 devices + tts/asr from teo-head). See roboticslab-uc3m/QA#2.

[2017-02-24 19:26] David-Estevez commented on #32
I didn't know...Thanks, @PeterBowman !! :smile: :+1:

[2017-02-25 11:39] jgvictores commented on #93
@rsantos88 En tu opinión, esto es software?

Se pueden aislar problemas hardware/software en esta issue?

[2017-02-26 15:45] rsantos88 commented on #93
En mi opinión, es un problema de hardware.

[2017-02-27 12:35] jgvictores opened #99 "Imminent repo name change (teo-body -> yarp-devices)"
On Friday March 3rd 2017 evening, this repo will be renamed: teo-body -> yarp-devices

Cheers!

[2017-02-27 12:36] jgvictores commented on #99
PS: This is the main reason why we've been migrating teo hardware issues to https://github.com/roboticslab-uc3m/teo-hardware-manual

[2017-02-27 12:38] rsantos88 commented on #93
Issue migrada a [#13](https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/13) y [#12](https://github.com/roboticslab-uc3m/teo-hardware-manual/issues/12)

[2017-02-28 11:08] rsantos88 commented on #90
migrated to [Yarpmotorgui control modes #2](https://github.com/roboticslab-uc3m/teo-software-manual/issues/2)

[2017-02-28 11:08] #90 closed, assigned to rsantos88

[2017-03-04 00:39] David-Estevez opened #100 "100th issue, congratulations everybody!!"
:tada: :tada: :tada: :tada:

Keep on with the hard work!!

:tada: :tada: :tada: :tada:

[2017-03-04 10:38] PeterBowman commented on #99
Renaming done. All references to the old location should redirect now to `yarp-devices`, including fetch/push operations. In order to update your remotes, see [Changing a remote's URL](https://help.github.com/articles/changing-a-remote-s-url/). I'd leave this issue open until every single reference in the organization has been updated accordingly: [search](https://github.com/search?q=org%3Arobotic

[2017-03-04 10:41] jgvictores commented on #99
Thanks for doing that!

Btw, edited a typo in your post, from yarp-plugins to the final yarp-devices. 😀

[2017-03-05 18:26] jgvictores commented on #99
cc https://github.com/roboticslab-uc3m/QA/issues/2

[2017-03-05 22:16] PeterBowman commented on #99
I've tracked down and replaced all occurrences of `teo-body` in the repos at our org, only these are left:

* ~~[waiter/programs/waiterExecutionCore/CMakeLists.txt.user#L62](https://github.com/roboticslab-uc3m/waiter/blob/beea9ad/programs/waiterExecutionCore/CMakeLists.txt.user#L62)~~ (temp file, ignore this)
* follow-me/doc/fig/editable/follow-me-app.graphml:
  * [line 389](https://github.com/rob

[2017-03-08 19:53] jgvictores opened #103 "Implement all the necessary methods for fully functional Yarpmotorgui"
_From @rsantos88 on February 27, 2017 14:5_

Implement all the necessary functions to do Yarpmotorgui fully functional

_Copied from original issue: roboticslab-uc3m/teo-software-manual#2_

[2017-03-08 19:53] jgvictores commented on #103
_From @rsantos88 on February 28, 2017 11:36_

Fixed error `[ERROR] iint->getInteractionlMode failed` implementing IInteractionMode.cpp with empty functions (https://github.com/rsantos88/teo-body/commit/420d59dfa623e9c64ca2bbc99a1b71f91e8b8689).
To do: complete implementation!

[2017-03-08 19:53] jgvictores commented on #103
_From @rsantos88 on February 28, 2017 11:47_

Implement functions are missing... [here!](https://github.com/rsantos88/teo-body/blob/develop/libraries/BodyYarp/TechnosoftIpos/ITorqueControlRawImpl.cpp)

[2017-03-08 19:53] jgvictores commented on #103
_From @rsantos88 on March 7, 2017 12:27_

After adding the update of the new [libraries](https://github.com/rsantos88/teo-body/tree/issue%2390/libraries/BodyYarp/TechnosoftIpos), when I try to change to Velocity mode, it shows this warning message:
[code]
The interface changes to blue color but I can't move the velocity bar...

![captura de pantalla de 2017-03-07 13-25-37](https://cloud.githubuser

[2017-03-08 19:53] jgvictores commented on #103
_From @PeterBowman on March 7, 2017 13:31_

~~Yarpmotorgui calls `IVelocityControl2::setRefAcceleration` [here](https://github.com/robotology/yarp/blob/a0af248bfc2b454772b617aa18ff85e17cd50245/src/yarpmotorgui/partitem.cpp#L947), but I don't see this method implemented in your code: [a](https://github.com/rsantos88/teo-body/blob/issue%2390/libraries/BodyYarp/CanBusControlboard/IVelocityControl2.cp

[2017-03-08 19:53] jgvictores commented on #103
_From @rsantos88 on March 7, 2017 14:21_

Trying to change to torque mode, the interface doesn't turn to other color and it shows this error in launchLocomotion terminal:
[code]

[2017-03-08 19:53] jgvictores commented on #103
_From @rsantos88 on March 7, 2017 15:0_

Fixed torque mode issue with this [commit](https://github.com/rsantos88/teo-body/commit/cf81ab7305451ae3114af9528e173c2599e56bab)

[2017-03-08 19:53] jgvictores commented on #103
_From @rsantos88 on March 7, 2017 15:58_

Returning with the problem to change to velocity mode, I've checked the status of the joints and I can see that the velocity mode is changed  successfully:
[code]

[2017-03-08 19:53] jgvictores commented on #103
Mini-comment: this type of issues belong to https://github.com/roboticslab-uc3m/yarp-devices :smirk:

[2017-03-10 10:00] rsantos88 opened #104 "[launchManipulation & launchLocomotion] Segmentation fault in the end"
Se ha observado últimamente que al terminar de ejecutarse la aplicación, esta cierra con un Segmentation fault. Copio un ejemplo de ello:
[code]
Si además, probamos a ejecutarlo con el comando `--help`, nos encontramos con que lo muestra al final:
[code]
Además, cuando probamos a ejecutar otra aplicación como `dumpCanBus` y la cerramos, ocurre exactamente lo mismo:
[code]
Supongo que este problema

[2017-03-10 10:08] rsantos88 opened #105 "[checkCanBus] Bad Configuration of TechnosoftIpos :("
[code]
Probably it hasn't been updated correctly to use shared libraries...

[2017-03-10 10:50] PeterBowman commented on #105
I'm working at c3171cd (23/02/17) in ASIBOT w/ shared libs, no problem in controlling all joints (`oneCanBusOneWrapper`). However, this line returns `false` at [CheckCanBus.cpp#L67](https://github.com/roboticslab-uc3m/yarp-devices/blob/c3171cd/programs/checkCanBus/CheckCanBus.cpp#L67):

[code]

**Edit:** also reproduced at 477162b (05/03).

[2017-03-10 16:39] PeterBowman commented on #105
@jgvictores pointed out that this issue might be caused by a upstream bug in the `yarp::dev::IControlLimits2Raw` interface due to inheriting privately from its base class (solved in robotology/yarp#1108). Then, we upgraded the inheritance chain of `TechnosoftIpos` at ec0c452, including the offending class.

Solutions (not tested):
1. Inherit from both `IControlLimits2Raw` and its base class at `Te

[2017-03-10 16:52] rsantos88 commented on #93
Se reabre esta issue, ya que no está claro totalmente la naturaleza del problema (hardware o software).
Hasta ahora, con las pruebas que se han realizado, se comprueba que, una vez vuelto a un commit anterior a la utilización de las librerías compartidas  (pull request #79) , el valor erróneo de los encoders sigue produciéndose... La única diferencia con respecto a antes ha sido el cambio de versi

[2017-03-11 11:10] jgvictores commented on #104
Puedes copiar+pegar los outputs de:
[code]

Y
[code]
Please?

[2017-03-13 11:42] jgvictores opened #106 "ControlBoardWrapper2 not wrapping correctly for joint group commands"
As commented by @jmgarciah and @rsantos88 using `YARP version 2.3.68+181-20170203.11+gite122128`, ControlBoardWrapper2 is not wrapping correctly for joint group commands, e.g. Moving head actually moves the arms. Note that individual movePosition commands map correctly.

Relevant links:
- [Our .ini](https://github.com/roboticslab-uc3m/yarp-devices/blob/76b774499bdd986bd28605014fa882c5093fc80a/shar

[2017-03-14 10:00] rsantos88 commented on #104
Realizado en el PC-locomotion:

`yarpdev --list`
[code]
`yarp plugin --all`
[code]

[2017-03-14 10:06] jgvictores commented on #104
¿Ningún segfault entonces?

Lo siguiente en lo que pensaría sería en que se esté llamando `dd.close()` varias o ninguna vez. Podemos investigarlo en `dumpCanBus`, que es un programa sencillo.

[2017-03-14 11:12] rsantos88 commented on #105
Done it! (94947645dd548736fd3089434e1b89d68d60f0a6).
Thanks @PeterBowman. I'll close this issue!

[2017-03-14 11:12] #105 closed, assigned to rsantos88

[2017-03-14 11:28] rsantos88 commented on #93
Para prescindir del LaunchManipulation y launchLocomotion, se ha mejorado la aplicación de `testCuiAbsolute` para que ahora devuelva el valor del encoder absoluto [(ver aquí)](https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/tests/testCuiAbsolute/testCuiAbsolute.cpp#L221-L227), además de testear las diferentes formas de publicar el PIC. El resultado es exactamente el mismo y se siguen

[2017-03-14 11:41] jgvictores commented on #104
Tb: `gdb`.

[2017-03-16 13:02] rsantos88 commented on #106
To begind with this problem, we could migrate `oneCanBusOneWrapper.ini` to XML to check the program runs well and then, we can continue with the migration of `launchManipulation.ini`...

[2017-03-17 12:49] rsantos88 commented on #106
I've created a new branch to test input parameters in XML format (cfc0ff86bf043bb082cbfb62f3629718e5f90662) with oneCanBusOneWrapper but I don't know if it runs correctly, so... please check it!

[2017-03-18 12:01] jgvictores commented on #106
Updated YARP, same effect on `2.3.68+218-20170316.1+git3050aeb`.

[2017-03-18 13:12] jgvictores commented on #106
Downgraded to YARP `2.3.66.2`. Created [launchManipulation-fake.ini](https://github.com/roboticslab-uc3m/yarp-devices/blob/a0b3d7a4791f0c585cc4ad5ebb053660b0765369/share/launchManipulation/conf/launchManipulation-fake.ini) to avoid using robot.
- Group commands are not being matched to correct implementation via RPC.
- Also working on [cpp example](https://github.com/roboticslab-uc3m/yarp-devices/

[2017-03-18 13:34] jgvictores commented on #106
Still strange behaviors at `2.3.66`.

Note to self:
The following section of http://www.yarp.it/classyarp_1_1dev_1_1ControlBoardWrapper.html
[code]

Edit: we do the attach by code in our code [[1](https://github.com/roboticslab-uc3m/yarp-devices/blob/ad5fdf53d41f38ab7cf2aca27eb9298ac117a5d7/libraries/OneCanBusOneWrapper/OneCanBusOneWrapper.cpp#L56-L58)][[2](https://github.com/roboticslab-uc3m/yarp

[2017-03-18 15:15] jgvictores commented on #106
Same at `2.3.65` and `2.3.64` (cannot compile fake plugin on `2.3.63`or below) with [launchManipulation-fake.ini](https://github.com/roboticslab-uc3m/yarp-devices/blob/a0b3d7a4791f0c585cc4ad5ebb053660b0765369/share/launchManipulation/conf/launchManipulation-fake.ini) to avoid using robot.

[2017-03-18 16:41] jgvictores commented on #106
Okay, found problem and have working version with `YARP version 2.3.68+181-20170203.11+gite122128` which is a fairly recent version of YARP.

Conclusion: There _may_ be a bug upstream in [these YARP lines](https://github.com/robotology/yarp/blob/3050aeb118e3ca514a6296afa954207ea7cd50a2/src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp#L1515-L1525). We hadn't noticed it becaus

[2017-03-18 17:08] jgvictores commented on #106
Just recalled how our implementation of `IPositionControl2` may be wrong (also due to lack of API documentation, I recall we implemented a mask instead of a map).

[2017-03-19 21:22] jgvictores opened #107 "Needs some kebab-case"
Too much snake_case. ;-)

[2017-03-19 22:07] jgvictores opened #108 "Dar visibilidad a juan_tricks"
Dar visibilidad a juan_tricks

[2017-03-22 11:50] rsantos88 commented on #106
In this case... can it be useful  to continue the migration of .ini to XML?
I've observed that ResourceFinder class uses only .ini files. I haven't found any examples using xml configuration files... (see [ResourceFinder Tutorials and Specification](http://www.yarp.it/yarp_resource_finder_tutorials.html))

[2017-03-22 14:54] jgvictores commented on #106
- Regarding closing this issue: we should re-implement our `IPositionControl2` to use the `vector<int>` as a `map` (not the binary mask we currently implement). <- high priority
- Regarding understanding how XML is used in YARP in this context: either look at some icub robot code, or ask at https://github.com/robotology/QA or https://github.com/robotology/yarp. <- relatively low priority.

[2017-03-22 17:17] rsantos88 commented on #106
Sorry @jgvictores , but I don't know what do you mean with this:

I suspect you want to change this [line](https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/libraries/BodyYarp/CanBusControlboard/IPositionControl2.cpp#L247) currently used as a mask...isn't it?

[2017-03-22 17:24] jgvictores commented on #106
Yes, probably the whole loop:
[code]
Should look more like:
[code]
Which agrees a bit more with the [description in the API](http://www.yarp.it/classyarp_1_1dev_1_1ControlBoardWrapper.html#a95b2cd7bd93dabd6b0e3fa2b951a4594).

[2017-03-23 10:59] rsantos88 commented on #106
Perfect!! this problem has been fixed now!! (44b6cc353149dbdf998dded12d84901956b2373b)

[2017-03-23 11:20] rsantos88 commented on #106
merged in develop branch (44b6cc353149dbdf998dded12d84901956b2373b)

[2017-03-23 11:26] jgvictores commented on #106
@rsantos88 Could you check getRefAcceleration ?
I'm not sure if there's still a `nodes.size()` that should be `n_joint` to avoid future segfaults.

[2017-03-23 11:27] jgvictores commented on #106
Same on getTargetPosition. Best to `ctrl-f` for all `nodes.size()` of `IPositionControl2`.

[2017-03-23 16:06] rsantos88 commented on #106
Se va a proceder a integrar los cambios realizados en las librerías de CanBusControlboard (nuevas declaraciones e implementaciones añadidas: IInteractionMode, IPositionControl2, IVelocityControl2 and IControlMode2) como consecuencia de la [issue#103](https://github.com/roboticslab-uc3m/yarp-devices/issues/103) al fork actual de yarp-devices. Para ello se ha creado una branch [integrated-changes-is

[2017-03-23 16:11] rsantos88 commented on #106
New pull request!! (#109)

[2017-03-24 10:29] rsantos88 commented on #106
Con los nuevos cambios aplicados, haciendo uso de `launchLocomotion ` todo funciona correctamente. En cambio, cuando intentamos arrancar `launchManipulation` nos salta el siguiente error al realizar el arranque:

[code]

[2017-03-24 10:42] jgvictores commented on #106
On [launchManipulation.ini](https://github.com/roboticslab-uc3m/yarp-devices/blob/integrated-changes-issue%23103/share/launchManipulation/conf/launchManipulation.ini#L6) we have `LacqueyFetch` on (7), which has no `IInteractionModeRawImpl.cpp`.

On second, I'm also going to commit (via web) a couple of fixes.

[2017-03-24 10:48] jgvictores commented on #106
Ok, I think fb075586cb52650d55fed4b46a84103320d4a541 is an improvement.

Could you work on inheriting from `IInteractionModeRaw` and implementing `IInteractionModeRawImpl.cpp` on `LacqueyFetch`?

----

PS: We could avoid segfaults by checking the return values on [all these lines](https://github.com/roboticslab-uc3m/yarp-devices/blob/integrated-changes-issue%23103/libraries/BodyYarp/CanBusControlb

[2017-03-24 11:27] PeterBowman commented on #106
I'd short-circuit the assignment of `ok`:

[code]

It doesn't offer any real advantage in this case, though (check [`yarp::dev::DeviceDriver::view`](http://www.yarp.it/DeviceDriver_8h_source.html#l00074)), just wanted to comment what striked me when I first saw these lines.

[2017-03-24 11:56] jgvictores commented on #106
@PeterBowman It's just shorthand... In fact, I like verbose solutions like in [this example](https://github.com/roboticslab-uc3m/yarp-devices/blob/c01640b24fd17c3d473bade3ac26e623426f0798/example/cpp/exampleRemoteControlboard/ExampleRemoteControlboard.cpp#L41-L66), at least on error (not needed for success).

[2017-03-24 12:44] PeterBowman commented on #106
Not really, you still have to evaluate the result of `device->view()`, which is avoided with the logical AND operator `&&` if `ok` resolves to `false`. Bitwise operators (`&`, `|`, etc.) and their assignment counterparts (`&=`, `|=`) do not perform short-circuiting ([SO](http://stackoverflow.com/q/23107162)).

[2017-03-24 14:04] jgvictores commented on #106
Yes, I agree `ok = ok && device->view( .... );` is better than `ok &= device->view( .... );` since the it will not evaluate the second operand if the first operand is `false` (in addition to [your ref](http://stackoverflow.com/q/23107162), I like [this one](http://stackoverflow.com/questions/2488406/why-doesnt-c-have-or-for-booleans)). Good one! :+1:

In my [more verbose proposal](https://github.c

[2017-03-24 14:13] PeterBowman commented on #106
+1 for verbosity as in your proposal, it would have spared me some time figuring what failed [here](https://github.com/roboticslab-uc3m/yarp-devices/issues/105#issuecomment-285638558).

[2017-03-24 16:35] PeterBowman opened #110 "SpaceNavigator TODO tasks"
- [x] Fix intermittency in data acquisition (see attached screenshot)
- [x] Move configuration parameters to .ini file
- [ ] Use color-debug macros or remove existing includes
- [ ] Let users compile with X11 (Unix)
- [ ] FindSpnav.cmake could look for official 3DX driver (Unix)
- [ ] Add Windows support
- [ ] Add Doxygen documentation
- [x] Document plugin & dependencies (install guides)
- [ ] Re

[2017-03-29 10:32] rsantos88 commented on #106
I have noticed that many of the implementations are directly integrated into .hpp (for simplicity?)(e.g: [IPositionDirectRaw](https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/libraries/BodyYarp/CuiAbsolute/CuiAbsolute.hpp#L197-L219) in CuiAbsolute.hpp). Would it be more correct to implement each function (even if it has empty functions) in a cpp file? (like for example..[IEncodersRawI

[2017-03-29 10:40] jgvictores commented on #106
While inline implementations can potentially be more efficient, the only main reason the source code is like that is because it was written in a hurry.

While either way is technically correct, modularity helps code maintainability, so it would be great if you could chop these files up into their corresponding implementation files.

[2017-03-29 10:44] PeterBowman commented on #110
![cropped](https://cloud.githubusercontent.com/assets/9977198/24450902/012ca4a4-147d-11e7-95a0-fba59b6d3ce1.png)

[2017-03-30 09:35] rsantos88 commented on #104
**Nota**: con la versión `YARP version 2.3.68+193-20170216.12+git0f7a8cb` no se produce ningún segfault al final de la ejecución de nuestros programas.

[2017-03-30 14:51] rsantos88 commented on #106
I've done it with [TechnosoftIpos](https://github.com/roboticslab-uc3m/yarp-devices/blob/integrated-changes-issue%23103/libraries/BodyYarp/TechnosoftIpos/TechnosoftIpos.hpp#L75-L219), [CuiAbsolute](https://github.com/roboticslab-uc3m/yarp-devices/blob/integrated-changes-issue%23103/libraries/BodyYarp/CuiAbsolute/CuiAbsolute.hpp#L76-L209) and [LacqueyFetch](https://github.com/roboticslab-uc3m/yarp-

[2017-03-30 14:52] jgvictores commented on #106
That would in fact be really helpful! 🙂

[2017-03-30 15:53] PeterBowman opened #111 "Run Travis CI scripts on specific versions of CMake, YARP, etc."
Several BodyYarp plugins need to run on a Debian 6.0 and a particular revision of YARP ([docs](https://github.com/roboticslab-uc3m/yarp-devices/blob/0c2411/doc/yarp_devices_install_on_debian_6.md)). Travis builds would be more meaningful if this (quite basic) dependency was adjusted to meet a realistic scenario. Furthermore, we could benefit from caching (example: roboticslab-uc3m/project-generato

[2017-03-30 19:18] David-Estevez opened #112 "Redundant install clause in CMake files"
It seems that we have redundant install clauses in CMake files that may cause `yarpdev` to crash.

For instance, in `libraries/BodyYarp/Jre/CMakeListst.txt`, [line 19](https://github.com/roboticslab-uc3m/yarp-devices/blob/0967a88a7e00a6f995118f7db57eb4609cc7660a/libraries/BodyYarp/Jr3/CMakeLists.txt#L19):
[code]
Is no longer required due to `yarp_add_plugin`

[2017-03-30 19:24] jgvictores commented on #112
It's not only redundant, we've seen these duplicates (lib in `/usr/local/lib` and `/usr/local/lib/yarp`) cause obscure segfaults. Thanks for pointing this out!

[2017-03-30 19:26] jgvictores commented on #112
PS: Edited your post just to link to line. ;-)

[2017-03-31 13:48] rsantos88 commented on #106
Done it with [FakeJoint](https://github.com/roboticslab-uc3m/yarp-devices/blob/integrated-changes-issue%23103/libraries/BodyYarp/FakeJoint/FakeJoint.hpp#L70-L196) and [TextilesHand](https://github.com/roboticslab-uc3m/yarp-devices/blob/integrated-changes-issue%23103/libraries/BodyYarp/TextilesHand/TextilesHand.hpp#L81-L207). And it works!  :grin:
So, if you see everything ok, I can merge this temp

[2017-03-31 13:50] jgvictores commented on #106
Could you please PR?

[2017-03-31 14:09] rsantos88 commented on #106
here it is! (#114)

[2017-04-02 10:06] jgvictores commented on #85
Updated comment from `teo-main` to `kinematics-dynamics`

[2017-04-03 09:38] #112 closed, assigned to nobody

[2017-04-03 10:00] jgvictores commented on #106
I've merged #114 ...@rsantos88 Could you install `develop` on TEO and make sure it's okay to close this issue?

Thanks!

[2017-04-05 14:06] rsantos88 commented on #104
**Nota**:  Al ejecutar los programas con la misma versión de YARP en un Ubuntu 15.10 no hay ni rastro de segfault...

[2017-04-06 09:48] rsantos88 commented on #106
Installed and tested in teo-manipulation and teo-locomotion. All it's okay!! It's runs correctly  :thumbsup:
I'll close this issue.

[2017-04-06 09:48] #106 closed, assigned to jgvictores, rsantos88

[2017-04-09 17:27] David-Estevez commented on #100
More than a month has passed, closing issue... (but keep on with the hard work).

[2017-04-09 17:27] #100 closed, assigned to nobody

[2017-04-17 08:33] rsantos88 commented on #93
Tras diferentes pruebas realizadas, se ha procedido a cambiar los encoders de las piernas que fallaban por unos completamente nuevos. Se han reprogramado todos los encoders en su posición home, y el problema finalmente se ha sido solucionado.

Además de esto, los drivers de la pierna izquierda se reiniciaban aleatoriamente, produciéndose la perdida del control de los motores. Finalmente, el proble

[2017-04-17 09:14] rsantos88 commented on #103
All the changes made in the libraries are integrated now into `develop` branch of [yarp-devices](https://github.com/roboticslab-uc3m/yarp-devices)

[2017-04-18 08:57] rsantos88 commented on #93
Abro de nuevo esta issue para comentar que los encoders del tobillo de la pierna izquierda (111 y 112) empiezan a dar valores erroneos al arrancar de forma aleatoria... (valores en torno a 67 o -67 grados)
En estos encoders no se habían detectado problemas hasta ahora...  :sweat:

[2017-04-18 10:21] jgvictores commented on #103
Great! Does that mean we can close this issue?

[2017-04-18 10:29] rsantos88 commented on #103
There are things that do not work correctly yet... like `velocity` mode:

![captura de pantalla de 2017-03-07 13-25-37](https://cloud.githubusercontent.com/assets/15872457/23656356/af96d2da-0339-11e7-8477-43016b40aa4d.png)

[2017-04-19 08:41] rsantos88 commented on #93
Después de hacer diferentes pruebas también en los brazos, los encoders **115 y 116** devuelven de forma aleatoria los valores erroneos comentados:
[code]

[2017-04-20 19:25] munozyanez opened #115 "teo and teoSim legs movement mismatch"
Launching ´´yarpdev --device BasicTwoLimbCartesianControl´´ results in a faulty movement on teo.
teoSim is working correctly with the same parameters.

Find below some points as example.

´´
New trajectory segment : 1->2, Segment index: 1

New trajectory segment : 1->2, Segment index: 1

[STEP] [0.239693] x 0.000000 -0.124531 -0.825000 -0.707107 -0.000000 0.707107 180.000000 0.000000 0.132469 -0.8

[2017-04-25 19:19] munozyanez commented on #115
Corrected some issues about motor turn directions.
Redone the xml openrave teo  ( https://github.com/roboticslab-uc3m/teo-openrave-models ) definition for both legs according to real robot. Ready to pull request if no worries.
Also redone DH for both legs according to new turn directions. Also ready to pull request.

[2017-04-25 19:21] munozyanez commented on #115
But... the robot is still not moving correctly, next we will review the motor speeds for legs to avoid errors in that direction.

[2017-04-26 11:21] jgvictores opened #116 "Export TEO files to teo-configuration-files"
Export TEO files (from share) to [teo-configuration-files](https://github.com/roboticslab-uc3m/teo-configuration-files):
- [x] launchManipulation
- [x] launchLocomotion
- [x] ???

[2017-04-26 11:27] jgvictores commented on #115
Okay, my main concern is to keep matching descriptions across files/repositories.

Kinematics:
- https://github.com/roboticslab-uc3m/teo-software-manual (both DH table and DH diagram of assets directory, .svg source in assets/src !!).
- https://github.com/roboticslab-uc3m/teo-configuration-files

Motor:
- https://github.com/roboticslab-uc3m/yarp-devices but as seen in #116 should be moved to https

[2017-04-27 10:58] munozyanez commented on #115
I can update the drawings, but I will need the source files. Cant find in ( http://robots.uc3m.es/svn/TEOrepo/modelling/diagrams/editable/ ). Is there another place to look for apart from this one?

[2017-04-27 12:20] jgvictores commented on #115
- https://github.com/roboticslab-uc3m/teo-software-manual/tree/master/assets
- https://github.com/roboticslab-uc3m/teo-software-manual/tree/master/assets/src

[2017-04-27 16:05] munozyanez commented on #115
Ok, shall I pull request or just update the files?

[2017-04-27 16:08] jgvictores commented on #115
I think its okay to update directly, just try to cross-reference as much as possible (mention this issue in commits, etc). A branch and merge --no-ff is good as well. Thanks!

[2017-04-27 18:36] munozyanez commented on #115
Ok, done updates. All but https://github.com/roboticslab-uc3m/yarp-devices , as it seems to be deprecated.
Not closing issue, because leg movement is still faulty.
Maybe related with Absolute encoders signs in configuration files?

[2017-04-27 18:40] munozyanez commented on #115
Sorry, I mean the files will be no longer in this repo, not that repo will be deprecated.

[2017-04-29 10:57] PeterBowman commented on #111
Also, decide whether to keep running tests on Precise or switch to Trusty. Assuming the former, add a `dist: precise` line to the YAML file. Info:

https://blog.travis-ci.com/2017-04-17-precise-EOL

[2017-05-02 08:30] PeterBowman commented on #111
This issue might block roboticslab-uc3m/QA#17.

[2017-05-04 16:21] jmgarciah opened #117 "problems with the inizialitation of jr3 devices"
~$ yarpdev --device Jr3 --period 20 --name /jr3 --ports "(ch0:o ch1:o ch2:o ch3:o)" --channels 24 --ch0:o 0 5 0 5 --ch1:o 6 11 0 5 --ch2:o 12 17 0 5 --ch3:o 18 23 0 5
[INFO]No ROS group found in config file ... skipping ROS initialization.
[ERROR]AnalogWrapper: unable to open the analog server, address conflict
[ERROR]AnalogServer Error initializing YARP ports
yarpdev: ***ERROR*** driver <analogSe

[2017-05-04 17:33] PeterBowman commented on #117
This line says that the ports you are trying to open were already taken by another process. Alternatively, a previous run did not close cleanly and said ports were not garbage collected by the nameserver. Launch a `yarp name list` and look for `/serial/in` and `/serial/out`. These two should disappear after running `yarp clean --timeout 1` (provided you are not using a serialport device anywhere i

[2017-05-04 17:46] jgvictores commented on #117
Just to not start hunting zombies and invoking `pgrep`, for now, I recommended the IT Crowd solution. ;-)

![itcrowd](https://cloud.githubusercontent.com/assets/4448588/25717217/0b4cbb94-3102-11e7-8d83-61efb31a57f5.gif)

[2017-05-05 11:34] jgvictores commented on #117
Right now what was actually happening was the device was launched on a different PC of the network.

This situation was detected by running a `yarp name list`: `jr3` ports were on an IP that was not the expected one.

Solutions to avoid this kind of situations in the future:
- Physically disconnect from same network to launch same program on a different PC.
- Use `yarp namespace` to be on two YARP

[2017-05-06 10:57] jgvictores commented on #111
No doubts here, forget `Precise` and move on to `Trusty`.

[2017-05-06 11:00] jgvictores opened #118 "Try hc-driver-4.9"
If https://github.com/munozyanez/hc-driver-4.9 works, this may affect the Distro we use, propagating to #111 and even https://github.com/roboticslab-uc3m/QA/issues/17.

[2017-05-06 11:25] PeterBowman commented on #111
I was thinking more about getting as close as possible to the software ecosystem provided by Debian, which may be no longer reproducible if switching to a newer release of Ubuntu. Remember the issues we encountered during compilation of latest YARP with Debian's outdated gcc (#89).

[2017-05-06 11:28] jgvictores commented on #111
I think we're blocked by https://github.com/roboticslab-uc3m/yarp-devices/issues/118 here then. If hc-driver-4.9 provides good results, we can begin to forget about outdated Distro versions.

[2017-05-07 17:27] munozyanez commented on #118
Well, after some tests it seems to work in debian 9. At least it is sending and receiving.
There is a test bench in teo lab, with that driver working (on debian 9). I would plan some heavy tests over that bench before rely on it. We can add another disk with Ubuntu.

[2017-05-10 16:10] PeterBowman opened #119 "Provide encoderPulses(s) config option"
There are several places throughout the code in the `TechnosoftIpos` tree where we may encounter the *magic* number 11.38 involved in unit translation calculations: [example](https://github.com/roboticslab-uc3m/yarp-devices/blob/cce12ef/libraries/BodyYarp/TechnosoftIpos/IVelocityControl2RawImpl.cpp#L31). This value originates from the number of TEO's encoder slots and is further used to convert to

[2017-05-10 16:31] PeterBowman commented on #119
@jgvictores and I have concluded that a more generic approach would fit better: encoderPulses. This value encompasses the pulses-per-slot factor (usually 4) and number of total slots of the encoder (currently: 4 * 1024).

[2017-05-10 16:50] PeterBowman opened #120 "Implement Technosoft::stopRaw"
Not implemented yet ([click](https://github.com/roboticslab-uc3m/yarp-devices/blob/cce12ef/libraries/BodyYarp/TechnosoftIpos/IPositionControl2RawImpl.cpp#L327)), thus we cannot issue a `set sto` / `set stos` RPC command (which is relevant for safety reasons).

Remember to remove [this at kin-dyn](https://github.com/roboticslab-uc3m/kinematics-dynamics/blob/ac4e607219e7d68c1914b72ca4a44973d035c8cd/

[2017-05-10 19:08] PeterBowman opened #121 "Read current speed and acceleration values from TechnosoftIpos device via CAN"
Currently, commanded speeds and accelerations get stored in their respective member fields, `TechnosoftIpos::refSpeed` and `TechnosoftIpos::refAcceleration`, upon each set-like function call (involving thread locks): [example](https://github.com/roboticslab-uc3m/yarp-devices/blob/cce12ef/libraries/BodyYarp/TechnosoftIpos/IPositionControl2RawImpl.cpp#L258). It would be preferable to pull the curren

[2017-05-11 11:40] PeterBowman commented on #118
With regard to the integration in TEO and ASIBOT, @jgvictores and I have concluded that Ubuntu Xenial (16.04) would be a reasonable choice considering compatibility with existing systems and availability of newer software releases. Concerning Travis CI support, see travis-ci/travis-ci#5821.

[2017-05-11 11:52] PeterBowman opened #122 "Replace current ICanBusHico interface with yarp::dev::ICanBus"
Consider migrating [ICanBusHico](https://github.com/roboticslab-uc3m/yarp-devices/blob/cce12ef/libraries/BodyYarp/ICanBusHico.h) to [yarp::dev::ICanBus](http://www.yarp.it/classyarp_1_1dev_1_1ICanBus.html). This process would involve implementing new methods in the `CanBusHico` device and updating the type of current CAN interface handles (`canDevicePtr`).

[2017-05-11 11:53] munozyanez commented on #118
My vote goes for debian, but I see no problem in using Ubuntu.

[2017-05-11 12:05] PeterBowman commented on #118
If we finally go the Ubuntu way, a valid concern for ASIBOT's RoBoard and its scarce resources would lead us to limiting installed tools and applications (see https://askubuntu.com/q/16137). That being said, we don't really need to configure the exact same image for both robots. Let's revisit the SO choice at a later stage.

[2017-05-11 12:16] munozyanez commented on #118
I can't say about the resources consumed by each one, but afaik, debian allows more custom configurations from fresh installs, and that can be good for different platforms.
On the other hand, Ubuntu is a bit more user friendly.
We should be able to run the same software on both, so yes, let's revisit later.

[2017-05-11 20:19] jgvictores commented on #122
We would also have to wrap the current [struct can_msg](https://github.com/roboticslab-uc3m/yarp-devices/blob/cce12ef517b333bd1ecab93cc8eb5cc65868f66f/libraries/BodyYarp/CanBusHico/hico_api.h#L302) in a [yarp::dev::CanMessage](http://www.yarp.it/classyarp_1_1dev_1_1CanMessage.html) and then offer some kind of buffer mechanism as [yarp::dev::CanBuffer](http://www.yarp.it/classyarp_1_1dev_1_1CanBuff

[2017-05-16 09:47] rsantos88 commented on #93
**Nota:** Se han realizado las pruebas al robot y se ha detectado en el encoder del tobillo frontal izquierdo el valor `-67.662567` (encoder que ha sido cambiado recientemente por @smcdiaz )

[2017-05-19 00:44] PeterBowman commented on #122
I was having a hard time understanding bit masks in CAN acceptance filters (regarding the implementation of `yarp::dev::ICanBus::canIdAdd`). I'll drop here a couple of links I might want to revisit in the future:

* http://www.kvaser.com/canlib-webhelp/page_user_guide_misc_code_and_mask.html
* http://can-bus.996267.n3.nabble.com/Setting-CAN-MASK-amp-ID-registers-td2304.html

Plus more links in the

[2017-05-19 01:05] PeterBowman commented on #74
We spoke recently about moving CANopen-related method to a new interface (perhaps `ICanOpen`?), namely `start`, `readyToSwitchOn`, `switchOn` and `enable` (now located in [`ICanBusSharer.h`](https://github.com/roboticslab-uc3m/yarp-devices/blob/cce12ef/libraries/BodyYarp/ICanBusSharer.h)), which would essentially end up leaving the most relevant method in the `ICanBusSharer` interface (and not muc

[2017-05-19 01:09] PeterBowman commented on #26
Most of the constraints mentioned in my earlier comment could be collaterally solved with #118.

[2017-05-19 09:00] jgvictores commented on #118
@PeterBowman @munozyanez I've started https://github.com/roboticslab-uc3m/QA/issues/20 to start the distro flame war elsewhere. LOL

@munozyanez I'm really grateful for the effort you've put into this repo, and hope to be able to test this as soon as possible and obtaining positive results!

[2017-05-19 09:13] jgvictores commented on #74
1. `ICanOpen`. Perfect name. I think those methods are good. Some more inspiration at [1](http://docs.ros.org/fuerte/api/canopen/html/classcanopen_1_1CANopenMotorDriver.html), but before adding more methods it would be best to contrast at [the official source](https://www.can-cia.org/canopen/) whether if these are actual CAN Open commands (downside is accessing documentation is not easy).

2. Repl

[2017-05-19 10:22] munozyanez commented on #118
An easy trial could be to launch launchLocomotion on the test bench, but unfortunately, only one of the channels is working for the mounted hicocan.
Maybe we can borrow the card from locomotion cpu and make a test.

[2017-05-20 17:19] jgvictores commented on #118
Yes, that would be great!

[2017-05-26 10:14] #117 closed, assigned to jgvictores

[2017-05-26 10:16] jgvictores opened #123 "Multiple bugs in libraries/BodyYarp/Jr3"
Multiple bugs in libraries/BodyYarp/Jr3, specially in [these lines](https://github.com/roboticslab-uc3m/yarp-devices/blob/d91ff4505afc53301f1f8c6494885adf94cedc16/libraries/BodyYarp/Jr3/IAnalogSensorImpl.cpp#L23-L53).

Help: https://github.com/wdomski/jr3/blob/1f699f5e1437b04e01ebfbc2dc854ab2fe744873/app.c#L60

[2017-05-26 10:17] jgvictores commented on #123
Also: https://github.com/lpinel/LoliRepo/tree/45f0da70d8a266dd72bbb23f414c8e0da9bb0a3f/TFM/jr3Yarp/jr3pci4channelYarp

[2017-05-26 11:02] jgvictores commented on #123
Fixed at b466dd4bd2eb436067706ba6a7d96df7770dd35b.

[2017-05-26 11:02] #123 closed, assigned to jgvictores

[2017-05-26 16:05] jgvictores commented on #123
Also: https://sourceforge.net/projects/jr3pci-linux

[2017-05-26 17:17] jgvictores commented on #123
Also: https://github.com/nalt/ros-lwr-controller

[2017-05-26 17:22] jgvictores commented on #123
Also: http://rtcl.kaist.ac.kr/rtca/res__jr3ft_8c_source.html

[2017-06-26 11:00] PeterBowman opened #124 "CanBusControlboard is broken"
Per `yarp plugin --all` at current YARP `devel` (v2.3.71):

[code]

[2017-07-03 11:15] David-Estevez opened #125 "YARP device for Aravis Camera"
I created this issue as a place to discuss the ongoing development of the YARP device for a GigE camera using Aravis that is currently taking place in my [fork of this repo](https://github.com/David-Estevez/yarp-devices).

I have achieved to stream both a fake Aravis driver and the real GigE camera, altough is still no clear to me which is the best FrameGrabber interface to send the data. Currentl

[2017-07-03 14:12] David-Estevez commented on #125
I have tested the `ICameraLensControls` and it works, now we can control the camera zoom from C++ code using YARP. Next step is to provide support for controlling the camera parameters such as zoom from a YARP command-line interface, as we would do with motors, for instance.

According to @jgvictores there are currently two choices:
1. Do it by hand, as in the [CartesianControlServer](https://gith

[2017-07-04 16:56] David-Estevez commented on #125
After a deeper converstation with @jgvictores, it seem that the best choice is to use the `IFrameGrabberControls2` interface that supports all the different parameters I need. It is also supported by the YARP rpc mechanism, so I won't have to do the server myself after all.

Commands are sent through the `/grabber` port in RPC mode:

[code]

And the format of the command, for a `IFrameGrabberContr

[2017-07-12 17:00] PeterBowman opened #126 "CanBusControlboard subdevices ignore default values on initialization"
Defaults like `config.check("maxVel",1000,"...")` at `TechnosoftIpos::open` ([ref](https://github.com/roboticslab-uc3m/yarp-devices/blob/f61c6687c4e6dd5132dc63bbdb1d0eb34e5cdc62/libraries/BodyYarp/TechnosoftIpos/DeviceDriverImpl.cpp#L13)) are currently useless and always set to `0` by `yarp::os::Value` ([asDouble](http://yarp.it/classyarp_1_1os_1_1Value.html#abf6f3457cc800530c5a60bf2990ab6a7)). Ev

[2017-07-12 17:04] PeterBowman commented on #103
I'm unable to change to velocity mode at YARP v2.3.68.1 and latest `yarp-devices` develop. That is, yarpmotorgui reports a successful mode change, but the background doesn't switch to blue and I still see both position and velocity sliders.

[2017-07-19 14:42] dgomezmartinez commented on #118
Just borrowed the hicocan board and tested both drivers.
Got partial results, for it is sending and receiving, but the program launchLocomotion is not fully working. See the output below.
[code]

[2017-07-19 14:58] dgomezmartinez commented on #118
Following the error, it seems to break at Cui absolute encoder loading.
Removing the Cui configuration from launchLocomotion.ini , launchLocomotion is working fine (legs are moving). Output is too large to paste here.

[2017-08-08 15:02] PeterBowman opened #127 "[TechnosoftIpos] Unable to set velocity mode at first try"
I've noticed that mode change RPC commands fail for velocity control even if a `[ok]` acknowledge vocab is returned. It usually takes several tries to successfully switch modes, which doesn't take so long e.g. on position or position direct.

Useful commands:

* setter (single joint): `set icmd cmod 0 vel`
* getter (multiple joints): `get icmd cmds`

Tested on ASIBOT.

[2017-08-08 17:24] PeterBowman commented on #127
First mode change command call sets bit 12 (*Speed is 0*) of *Status word* (object 6041h). Remark from section **11.1.2 Status word in profile velocity mode**:

The mode actually changes on the second try (*Modes of operation display* = 0x03).

[2017-11-04 09:30] jgvictores opened #128 "Improve examples"
Improve examples:
- [x] Fix broken examples
- [x] Import required examples from asibot-main, see https://github.com/roboticslab-uc3m/asibot-main/issues/38
- [x] Example of `IFrameGrabberControls2` based on `GrabberControls2Gui` program from this repo (careful with YARP version).

[2017-11-06 16:15] David-Estevez commented on #125
Note to myself: due to https://github.com/roboticslab-uc3m/questions-and-answers/issues/15 and https://github.com/roboticslab-uc3m/yarp-devices/pull/129 I need to update [my fork ](https://github.com/David-Estevez/yarp-devices) to follow the current conventions.

[2017-11-06 16:15] jgvictores commented on #128
Have to be careful with https://github.com/roboticslab-uc3m/yarp-devices/pull/129 \:\-O

[2017-11-06 16:16] jgvictores commented on #125
Great! Thanks for taking this into account!!

[2017-11-08 11:58] David-Estevez commented on #125
This PR also affects this repo: https://github.com/roboticslab-uc3m/yarp-devices/pull/130

[2017-11-10 15:38] err8029 opened #132 "[David-Estevez fork] branch for GigE support Aravis device is not working"
Al usar ccmake con las opciones Aravis y BodyYarp, me muestra el siguiente error.
-He comprobado que las dirs de las librerias que ccmake llama sean correctas y aun asi nada
![screenshot from 2017-11-10 16-35-16](https://user-images.githubusercontent.com/17498165/32665620-3a774600-c635-11e7-8a9b-979853cc8084.png)
-Si solo compilo aravis en ccmake, la compilación es exitosa, pero el device no apare

[2017-11-10 15:41] jgvictores commented on #132
Por favor copia y pega la salida por cosola de:
- `cmake ..`
- `make`
- `sudo make install`
- `sudo ldconfig`
- `yarpdev --list`

[2017-11-13 15:22] err8029 commented on #132
Al intentar inciar el device me sale otro error aunque este se encuentra en la lista

teo@teo-ebola:~/eric/repos/yarp-devices-feature-gige-support/build$ yarpdev --device /AravisGigE --name /grabber --fake
[ERROR]Cannot find "/AravisGigE" plugin (not built in, and no .ini file found for it)
[ERROR]Check that YARP_DATA_DIRS leads to at least one directory with plugins//AravisGigE.ini or share/yarp/

[2017-11-13 15:28] David-Estevez commented on #132
Prueba con este comando (como el tuyo, pero sin la barra `/` )

[code]

[2017-11-13 15:32] err8029 commented on #132
ostraaas vale la barra, toda la razón

[2017-11-13 15:34] David-Estevez commented on #132
El nombre del dispositivo es `AravisGigE`, no lleva barra. Lo que lleva barra son los nombres de los puertos, pues siguen una nomenclatura similar a las urls o los directorios de sistemas UNIX.

[2017-11-13 15:34] err8029 commented on #132
ahora lo vi en la documentación xd , nose porque la puse

[2017-11-13 15:37] #132 closed, assigned to David-Estevez, err8029

[2017-11-15 12:34] rsantos88 commented on #63
Posiblemente este problema se pueda solucionar cuando se lleve a cabo el cambio de distribución de linux en los PCs de TEO ([issue](https://github.com/roboticslab-uc3m/yarp-devices/issues/118) relacionada). Por el momento, todos los PCs están conectados a través de cable ethernet.

[2017-11-15 14:05] jgvictores commented on #63
This issue was moved to roboticslab-uc3m/teo-main#24

[2017-11-15 14:05] #63 closed, assigned to nobody

[2017-11-15 14:22] jgvictores commented on #115
This issue was moved to roboticslab-uc3m/teo-main#25

[2017-11-15 14:22] #115 closed, assigned to munozyanez

[2017-11-15 14:24] jgvictores commented on #118
Opened https://github.com/roboticslab-uc3m/teo-main/issues/26 for TEO-specific tests. Please continue here with any advances on any other test-bench.

[2017-11-15 14:32] jgvictores opened #134 "Travis CI broken for current yarp-devices"
Travis CI broken for current yarp-devices, as seen [here](https://travis-ci.org/roboticslab-uc3m/yarp-devices/jobs/302419923#L451-L472).

Looks like some CMake PPA issue:
[code]

[2017-11-15 15:10] PeterBowman commented on #134
We should get rid of kalakris' PPA: https://github.com/roboticslab-uc3m/questions-and-answers/issues/17#issuecomment-302940630.

[2017-11-15 15:54] jgvictores opened #135 "Rename /doc files to kebab-case"
From [best-practices.md](https://github.com/roboticslab-uc3m/best-practices/blob/9b489338af800beb4cfee4f832da01ec6ba8b2e9/en/best-practices.md):

- [x] Rename /doc files to kebab-case
- [x] Update any internal (and external!) links that can break.

[2017-11-16 16:07] David-Estevez opened #136 "Changing camera parameters doesn't affect the received image"
Today we have been testing the camera, and we have observed that changing camera parameters such as the gain and exposure doesn't affect the received image.

 In addition to that, all ranges received during initialization are equal to 0 (and they shouldn't).

[2017-11-16 17:17] jgvictores commented on #134
Brute-force attempt at 184c5514fbb6c18971078e77deb7f89f9f666f55

[2017-11-16 17:26] jgvictores opened #137 "Print InteractionModeEnum values"
Review code with "I don't know if this is correct".

https://github.com/roboticslab-uc3m/yarp-devices/search?utf8=%E2%9C%93&q=%22I+don%27t+know+if+this+is+correct%22&type=

Affects most `IInteractionModeRawImpl.cpp`.

[2017-11-16 17:30] jgvictores commented on #134
Brute-force was at `fix-134-travis` branch. Apart from some warnings now commented at #137 we see Travis CI breaking at https://travis-ci.org/roboticslab-uc3m/yarp-devices/jobs/303127243
[code]

@PeterBowman Looks like wiimote stuff, maybe you could take a look?

[2017-11-16 21:49] PeterBowman commented on #134
`xwii_iface_dispatch` was introduced in v2, which means that it'll work on Xenial, but not on Trusty:

* https://packages.ubuntu.com/trusty/libxwiimote-dev
* https://packages.ubuntu.com/xenial/libxwiimote-dev

According to docs in *xwiimote.h* (Xenial):

Docs and source code for both functions are almost identical. I'll fix this as soon as I can.

[2017-11-16 21:53] jgvictores commented on #134
Cool, thanks!

[2017-11-17 10:33] PeterBowman commented on #134
:v: 6735632

[2017-11-20 06:47] jgvictores opened #138 "Using XWiimote deprecated function"
To solve #134, 6735632f672ed0da20cdaad33c5460388ae81239 was introduced.
1. If we continue with old distros (see https://github.com/roboticslab-uc3m/teo-main/issues/26 and related), see if we can catch xwii version via preprocessor and `#ifdef`accordingly.
1. If we move on to newer distros on all systems, move on to newer function again.

[2017-11-20 06:49] jgvictores commented on #134
Closed via bcdb7d7d324790c0cf1a1047ce1e3d20c659eab1, opened #138 to keep up with hack (using deprecated xwii function).

[2017-11-20 06:49] #134 closed, assigned to nobody

[2017-11-20 06:49] jgvictores commented on #134
@PeterBowman BTW, thanks a lot for 6735632f672ed0da20cdaad33c5460388ae81239 !!

[2017-11-20 21:43] PeterBowman commented on #138
I could either parse the version string from `/usr/lib/x86_64-linux-gnu/pkgconfig/libxwiimote.pc` (not the best idea if the location/format of this file differs from one architecture/OS to another) or start playing with [`try_run()`](https://cmake.org/cmake/help/v3.0/command/try_run.html).

**Edit:** or improve `FindXWiimote.cmake` so that a `XWIIMOTE_VERSION` is set, then either restrict building

[2017-11-21 10:53] David-Estevez opened #139 "Research GigE camera modes"
Our GigE camera has different modes: `Mono8`, `Mono16` and `Bayer`. Currently we are receiving raw images in `Mono8` mode and decoding them with a YARP bayer carrier, but it might me a better idea to explore the `Bayer` mode to do this conversion within the camera.

[2017-11-21 10:59] David-Estevez opened #140 "More intuitive camera control via RPC"
Currently the RPC camera controls require to remember (or to look for) a number that represents a certain property of the camera. For instance, the command to change the zoom is:

[code]

Where 16 is the property "ZOOM" and 50 is the value to be set. I think it would be much more intuitive if we could use some vocabs instead of the raw numbers:

[code]

Other option would be to have a working "hel

[2017-11-21 11:01] David-Estevez opened #141 "Support more GigE parameters"
Current support for GigE camera parameters is very limited. The basic parameters (gain, exposure, FPS, etc) should be supported.

[2017-11-21 14:00] PeterBowman commented on #20
Done a long time ago (efb9593). What's left to be done here?

[2017-11-21 14:03] rsantos88 commented on #135
done it [here](https://github.com/roboticslab-uc3m/yarp-devices/pull/142)

[2017-11-21 18:34] jgvictores commented on #108
https://github.com/roboticslab-uc3m/yarp-devices/blob/bcdb7d7d324790c0cf1a1047ce1e3d20c659eab1/doc/juan-tricks.md

[2017-11-21 18:37] jgvictores commented on #140
Once we solve #108 we can add some info there.

The current YARP-ish way recommends NOT using RPC and instead use the interface. IMHO, the most practical way for that is to use Python bindings+`ipython`. For this we need a good [example/python](https://github.com/roboticslab-uc3m/yarp-devices/tree/bcdb7d7d324790c0cf1a1047ce1e3d20c659eab1/example/python) folder. I'm working on that at #128 (have so

[2017-11-21 18:41] jgvictores commented on #20
The idea was for `launchManipulation`/`launchLocomotion` etc to be simple bash alias of some `yarpdev` command. What would your opinion be?

[2017-11-21 20:08] jgvictores commented on #138
In addition to `priority: low`, added `blocked` by https://github.com/roboticslab-uc3m/teo-main/issues/26 label. BTW, could add `interesting` label too. :smile:

[2017-11-21 20:12] jgvictores commented on #135
@rsantos88 Thanks for moving on with this issue! Please see review comment by @PeterBowman on #142 (was stated above, `Update any internal (and external!) links that can break.`).

[2017-11-21 20:35] PeterBowman commented on #138
I actually gave a try to the pkg-config solution mixed with find modules and seems promising, expect updates soon.

This is not a big deal: `.pc` files should land in some standard location and CMake takes care of the rest with [` pkg_check_modules()`](https://cmake.org/cmake/help/v3.1/module/FindPkgConfig.html).

[2017-11-21 22:44] PeterBowman commented on #20
Both `launchManipulation` and `launchLocomotion` as well as `oneCanBusOneWrapper` should be treated equally: they are merely launchers of their corresponding `RFModule` class. As such, those executables may read from an `.ini` configuration file or accept CLI options per the usual YARP policies. Can we achieve that by means of a bash script?

As a first step, I'd think we can merge `launchManipula

[2017-11-22 18:16] PeterBowman commented on #138
Should be fine at 0eb18f3, closing as done. I'll write down this page here as it explains quite a few useful things about find modules:

https://cmake.org/Wiki/CMake:How_To_Find_Libraries

[2017-11-22 18:16] #138 closed, assigned to PeterBowman

[2017-11-23 18:37] jgvictores commented on #138
Cool commit!

Also added the ref to the cmake wiki at https://github.com/asrob-uc3m/tutoriales/blob/master/software/programming/cmake.md

[2017-11-23 19:04] err8029 commented on #141
Documentacióm detección de agujeros

Objetivo: detectar ajugueros en un trozo de tela con o sin textura y con posibles arrugas

Implementción: desarrollado con el sofware GRIP y usando las librerias openCV

Explicación del funcionamiento:
El programa se constituye de 3 bloques
1.-Adquisición de imagen de la camara: este bloque nos proporciona una imagen constante de 		video en su salida
2.-Función

[2017-11-24 11:39] jgvictores commented on #135
Looks good to me! @rsantos88 Thanks!

[2017-11-24 11:39] #135 closed, assigned to rsantos88

[2017-11-24 13:39] David-Estevez commented on #136
It seems that with https://github.com/David-Estevez/yarp-devices/commit/45c0621ed586974b662a175c2871c735a4133209 the ranges received during initialization are now correct.

Still, I cannot get a correctly lit image, so I'll keep trying stuff.

[2017-11-27 11:07] David-Estevez commented on #136
It seems that it wasn't a software problem, but a problem with the values of the different camera parameters.
Since the camera was moved, the illumination conditions changed and the camera parameters needed to be tuned properly.

With the following values the image received looks awesome:

[code]

I'm closing this issue and documenting this in the [usage page of the camera driver](https://github.c

[2017-11-27 11:07] #136 closed, assigned to David-Estevez

[2017-11-27 11:37] rsantos88 commented on #119
Ok, where do you think is better to provide this config option? Maybe in a .ini or where do you want to add it?

[2017-11-27 11:40] jgvictores commented on #119
Yes, for example in [this .ini](https://github.com/roboticslab-uc3m/yarp-devices/blob/9b92f99eb99d6de553dbf1ed748cfa5ccef65556/share/launchLocomotion/conf/launchLocomotion.ini) (which is still around until #116 is done), it would mean an additional line under `refSpeeds`.

[2017-11-27 14:48] David-Estevez commented on #140
Due to some reason I still don't comprehend, I did not see your comment 6 days ago...

It is exactly what I needed for this issue and for https://github.com/roboticslab-uc3m/horus/issues/11, thanks a lot!!

[2017-11-27 16:05] rsantos88 commented on #119
I need to test it on the robot to confirm that it's working well.
I've created a temporal branch to check it. Here it is #144

[2017-11-27 16:33] jgvictores commented on #140
:-)

[2017-11-28 11:42] David-Estevez opened #145 "Simple GUI to control camera parameters with YARP"
From https://github.com/roboticslab-uc3m/horus/issues/11:

where  @jgvictores suggested:

Related to #140 , where @jgvictores said:

[2017-11-29 11:27] PeterBowman opened #146 "Create new PCAN device plugin"
We'll soon get a PCAN-miniPCI to play with ([IPEH-003045](https://www.peak-system.com/PCAN-miniPCI.205.0.html)). Once the hardware is tested, a new YARP plugin should be created to manage communications between the CAN master and each node (compare with [CanBusHico](https://github.com/roboticslab-uc3m/yarp-devices/tree/9b92f99eb99d6de553dbf1ed748cfa5ccef65556/libraries/YarpPlugins/CanBusHico)).

S

[2017-11-29 11:31] PeterBowman commented on #146
Might consider closing #122 first. Also related: #74 (proposed `ICanOpen` interface).

[2017-11-29 11:36] PeterBowman commented on #107
Kebab was served hot by @rsantos88 at #142. Marking as duplicate of #135, though, and closing.

[2017-11-29 11:36] #107 closed, assigned to nobody

[2017-11-29 11:50] PeterBowman commented on #111
Just noting that Travis builds no longer run on Precise images by default, thus we are currently testing against Trusty.

[2017-11-29 11:54] PeterBowman commented on #26
Example: roboticslab-uc3m/kinematics-dynamics#14.

[2017-11-29 17:36] jgvictores commented on #107
@PeterBowman Best comment con kebab-case ever LOL

[2017-11-30 15:54] David-Estevez commented on #145
I've been several days immersed in a "situation" involving me not able to install yarp in python3 and cmake not wanting to cooperate. I've finally been able to make it work, but I've tried so many things that I don't really know which are the concrete steps that made it work. Nonetheless, I am leaving here some steps / operations that I believe contributed to solving this "situation":

* Use swig

[2017-11-30 16:04] jgvictores commented on #145
Thanks @David-Estevez I think that is a very accurate description of the situation. I've opened https://github.com/roboticslab-uc3m/installation-guides/issues/26 on the YARP + Python3 situation (where CMake and swig versions also play a role) pointing to here.

[2017-11-30 16:06] David-Estevez commented on #145
I commented here since they are not very precise instructions on how to install it, but I can move them to the installation-guides if you think they might help.

btw,  thanks a lot to @jgvictores and @RaulFdzbis for your help!! :smile:

[2017-11-30 16:10] jgvictores commented on #145
Nah, I think maybe we should wait a bit to see either a well-known workflow on a fresh install, or improvements upstream that provide it.

[2017-11-30 16:12] David-Estevez commented on #145
I've tried it also on teo-ebola (fresh 16.04) and I had to do most of those steps. Swig 3 was included by default in that version's repositories, but I still had to manually set all the paths and make the symlinks.

[2017-11-30 18:03] David-Estevez commented on #145
Testing performed in https://github.com/David-Estevez/yarp-devices/commit/29134ce9f3aeca27a6b38a29ad1e0c38977cc148 revealed that currently there are no bindings to use the FrameGrabberControls interface of the remote_grabber.

@jgvictores gave me some guidelines to add support for this to yarp, more specifically:

https://github.com/robotology/yarp/blame/master/bindings/yarp.i#L460

and

https://g

[2017-12-01 11:28] David-Estevez commented on #145
I've added view functions for both IFrameGrabberControls2 and FrameGrabberControls2_Sender but both of them return the same error:

[code]

And then the program ends with a Segmentation Fault.

Any clues about what is happening here @jgvictores ?

[2017-12-01 13:19] jgvictores commented on #145
There is an `xmlrpc` **optional** YARP carrier for compatibility with ROS (specifically, communicates with `ros core`). You probably have some old `.ini` in some `.../local/share/` folder which is telling the YARP plugin mechanism to look for the `.so`. Finding and erasing the `.ini` should fix the problem (or, compiling and installing the carrier).

Same should apply with the `priority` library,

[2017-12-01 14:07] David-Estevez commented on #145
Ok, I've deleted these files:
[code]

The error message disappears, but the program still ends with a segmentation fault.

[2017-12-01 16:53] David-Estevez commented on #145
I think the methods that make the program crash are the ones that have a pointer in their arguments. Could this be the case?

For instance, the method:
[code]
makes python crash, whereas the method
[code]
seems to work.  Do I have to provide adapters for the c++ methods that use pointers in `yarp.i`?

[2017-12-01 16:57] jgvictores commented on #145
Yes, possibly you'll have to do something like [this](https://github.com/robotology/yarp/blob/1c0c7a49328cc84ba565e4faf4a0db81d1cceeaf/bindings/yarp.i#L861-L866).

[2017-12-01 17:04] David-Estevez commented on #145
Yeah, inspecting that file I can see this:
[code]

Which makes me believe you are right and I have to provide my own pointer-free implementations for those methods.

[2017-12-01 18:51] David-Estevez commented on #145
Current state:

* GUI finished and working (8cd8b6c12aadb069529c746bcb360bf71c2ffcfb)
* GUI app crashes when tested with real camera (backend calls maybe?) (80306f8386723ea076bb103936351050669e95b1)
* YARP bindings support IFrameGrabberControls2, but not completely (https://github.com/David-Estevez/yarp/commit/5d624bb41e92d181366665fa69301f2b1c9a72f9)

Things left to do:

* [x] Find out why the GU

[2017-12-01 19:03] David-Estevez commented on #145
Basic support for has and get at https://github.com/David-Estevez/yarp/commit/f8603b9

[2017-12-02 10:55] jgvictores commented on #99
Changing priority to high, we should check and replace these occurrences.

[2017-12-04 11:49] David-Estevez commented on #145
The GUI wasn't working because I was not storing the `PolyDriver` as a class attribute, just the `IFrameGrabberControls2` interface. The garbage collector deleted the `PolyDriver` object as soon as the init() member was finished, and that is the reason the app crashed with a Segmentation Fault.

Fixed at https://github.com/David-Estevez/yarp-devices/commit/212ca947b2f8c20499a7f52789460e751b01f0e7.

[2017-12-04 12:11] David-Estevez commented on #145
(Edited previous comment with right commit)

[2017-12-04 12:17] David-Estevez commented on #145
Reading the [SWIG docs](http://www.swig.org/Doc1.3/Arguments.html), it seems to be a way to automatically tag all the functions that need type conversion due to the pointers with a function that performs that conversion:

[code]

And this works even with several return values:

[code]

Which gives this output:
[code]

But adding that to yarp, as interesting as it may seem, requires a time investme

[2017-12-04 14:23] jgvictores commented on #145
@David-Estevez That's interesting! Might use in future developments.

Even though you're not implementing that solution, can't wait to see the PR in YARP. :-)

[2017-12-04 15:12] David-Estevez commented on #145
PR for yarp code here: https://github.com/robotology/yarp/pull/1483

[2017-12-04 16:03] PeterBowman commented on #119
OK to close (#144 has been merged)?

[2017-12-04 16:04] jgvictores commented on #119
Yes! Thanks @rsantos88  @PeterBowman !!

[2017-12-04 16:04] #119 closed, assigned to rsantos88

[2017-12-05 09:41] rsantos88 commented on #116
You've this files:
* checkCanBus
* dumpCanBus
* launchLocomotion
* launchManipulation
* oneCanBusOneWrapper
* spaceNavigator
* testCuiAbsolute

Do you want to export all?? especially, I have doubt with `spaceNavigator`

[2017-12-05 10:08] jgvictores commented on #116
The main idea is to move the teo-specific files, which usually mention `manipulation` or `locomotion` in its name. This is:
- From [share/checkCanBus/conf](https://github.com/roboticslab-uc3m/yarp-devices/tree/9b92f99eb99d6de553dbf1ed748cfa5ccef65556/share/checkCanBus/conf): `checkCanBus.ini` should stay; **the rest** should be moved (:truck:).
- dumpCanBus: stay.
- launchLocomotion: move (:truck:

[2017-12-05 10:16] PeterBowman commented on #116
Don't delete [`launchManipulation.ini`](https://github.com/roboticslab-uc3m/yarp-devices/blob/9b92f99eb99d6de553dbf1ed748cfa5ccef65556/share/launchManipulation/conf/launchManipulation.ini)/[`launchLocomotion.ini`](https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/share/launchLocomotion/conf/launchLocomotion.ini), just keep a minimal working example. Compare with [`oneCanBusOneWrapper.i

[2017-12-05 10:27] jgvictores commented on #116
@PeterBowman Let's agree on that final proposal, which involves the following workflow:
1. Copy `share/launchManipulation/conf/launchManipulation.ini` to a new `share/twoCanBusThreeWrappers/conf/twoCanBusThreeWrappers.ini`.
1. Move `share/launchManipulation/conf/launchManipulation.ini` and `share/launchLocomotion/conf/launchLocomotion.ini` to teo-configuration-files.

[2017-12-05 10:28] jgvictores commented on #116
PS: Don't worry about breaking things, I'll work on #20 as a follow-up to this issue.

[2017-12-05 10:33] jgvictores commented on #20
Will be moved to teo-configuration-files once #116 is closed.

[2017-12-05 10:36] PeterBowman commented on #116
@jgvictores OK!

[2017-12-05 10:38] PeterBowman commented on #20
Just noting that we'll have to update CMake/C++ code as well (default environment, installation paths for .ini files).

[2017-12-05 10:40] jgvictores commented on #20
Yep, that's why I've assigned myself. ;-)

[2017-12-05 11:35] rsantos88 commented on #116
done it here (2db6a0d9d1b71deb77adeb88df3dffa304bfb5f3)

[2017-12-05 11:42] rsantos88 commented on #116
There are other files (maybe useful files) together with `launchManipulation.ini` ([see](https://github.com/roboticslab-uc3m/yarp-devices/tree/develop/share/launchManipulation/conf)) like `launchManipulation-fake.ini`. Do you want to move them too? or can I delete them?

[2017-12-05 12:07] rsantos88 commented on #116
One note: I was thinking... `twoCanBusThreeWrappers.ini` not depend of any application, so... we can delete [this](https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/share/CMakeLists.txt#L25) and [this](https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/share/CMakeLists.txt#L27) lines if we want to install this file by default...?? or do you want use it like a example...

[2017-12-05 12:24] PeterBowman commented on #116
I'd keep them, we'll need this at #20.

BTW what do we need [these comments](https://github.com/roboticslab-uc3m/yarp-devices/commit/2db6a0d9d1b71deb77adeb88df3dffa304bfb5f3#diff-44b95faacaf72fc3b2754f8e266389d0R29) for? It looks like :wastebasket: and bloats the source code.

[2017-12-05 12:55] jgvictores commented on #116
Yep, essentially all the non-author-header cmake comment lines can be removed.

[2017-12-05 12:56] jgvictores commented on #116
And yes, something that requires twoCanBusThreeWrappers.ini will emerge from #20

[2017-12-07 08:43] jgvictores opened #148 "YARP device for RealSense"
Develop a YARP device for RealSense.  Inherit from `yarp::dev::DeviceDriver`, `yarp::dev::IRGBDSensor`, `yarp::dev::IFrameGrabberControls2`.

[2017-12-07 16:37] David-Estevez commented on #145
PR for yarp code accepted and merged! :tada: :tada: :tada:

By the labels assigned, I assume it will be released with YARP v2.3.72

[2017-12-07 17:59] David-Estevez opened #149 "Support to detect supported features in grabbercontrols2gui"
I designed `grabbercontrols2gui` to be specific for our GigE camera and its current needs, and hence its old name, `AravisGigEController` and the supported subset of camera features.

Since we want to use this GUI with many devices, some of those specific features might not be present in every grabber, so it would be great to detect which of those features are not available (I'm thinking of zoom,

[2017-12-07 19:41] jgvictores commented on #145
This is good news! @David-Estevez Congratulations! :tada:

[2017-12-07 19:48] jgvictores commented on #149
Great! Nice follow-up of #147 , perfect labels. :-)

[2017-12-07 20:02] David-Estevez commented on #145
With #147 merged and https://github.com/robotology/yarp/pull/1483 already accepted and merged we can consider this issue done.

[2017-12-07 20:02] #145 closed, assigned to David-Estevez

[2017-12-07 20:03] David-Estevez commented on #125
We already have a nice AravisGigE device and a beautiful GUI to control it, so I'm considering this completed and closing this issue.

[2017-12-07 20:03] #125 closed, assigned to David-Estevez

[2017-12-07 20:09] David-Estevez commented on #140
Since #147 we have two new different ways of controlling the AravisGigE device:

* A beautiful GUI  (very intuitive)
* Bindings for Python (and other languages) that can access all the camera features from the corresponding enum (less intuitive than the GUI, but more intuitive than the RPC interface).

Since we have those two options available, I think there's no need to add support to new vocabs

[2017-12-08 11:42] jgvictores commented on #125
Perfect!

[2017-12-08 11:49] jgvictores commented on #140
All good, I've updated the "Improve examples" issue #128 and closing!
@David-Estevez Thanks!!

[2017-12-08 11:49] #140 closed, assigned to nobody

[2017-12-08 13:57] PeterBowman commented on #20
Idea: merge `libraries/OneCanBusOneWrapper` into `programs/oneCanBusOneWrapper`, same for TwoCanBus...

[2017-12-08 13:59] jgvictores commented on #20
Mmm I think it's the other way around. There's no reason for a program to exist, all could be achieved via YARP plugins...

[2017-12-08 14:07] PeterBowman commented on #20
Following that line of thought, what is the reason for RFModules to exist? How can I tell my RF-based application is better suited for its implementation as a YARP plugin? I'm thinking now about [kinematics-dynamics/programs](https://github.com/roboticslab-uc3m/kinematics-dynamics/tree/develop/programs). Moreover, from which [interface](http://www.yarp.it/group__dev__iface.html) will oneCanBus...

[2017-12-08 14:30] jgvictores commented on #20
1. That looks kind of like a deep philosophical question I'm not fit to answer here. Please open an issue on best-practices (finer scope than QA) if you think we could reach some kind of consensus!

2. IHMO, it just feels like `launchManipulation` should be a one-liner:
[code]
Because it's just a specification of a very basic functionality.

3. A more evolved device I once had in mind and not sure

[2017-12-08 14:52] PeterBowman commented on #20
It already *is* an easy-to-type one-liner (supports tab completion):

[code]

OK with (3), but we can still achieve the same with executables.

[2017-12-08 16:31] David-Estevez commented on #128
Let me leave you here what I think could be a good example for the IFrameGrabberControls2 bindings in Python (continued from #140):

[code]

[2017-12-08 22:21] PeterBowman commented on #26
WIP at the `fix-26-cmake` branch. I wonder if using YCM to fetch ColorDebug was a good choice... I'm unable to configure it on my PC with CMake v2.8.9 (same as Debian 6.0) because of a `Unknown CMake command "write_basic_package_version_file"` error at [CMakeLists.txt#L102](https://github.com/robotology/ycm/blob/v0.2.2/CMakeLists.txt#L102). What happened: YCM tries to download `CMakePackageConfigH

[2017-12-08 23:29] PeterBowman commented on #26
I managed to solve that by digging in our own installation guides: [install-cmake.md#openssl-support](https://github.com/roboticslab-uc3m/installation-guides/blob/a4be467648a8512041e6895b554cf3c47101485a/install-cmake.md#openssl-support). Funnily enough, I run into this same issue a few months ago, identified the cause and added that section in `install-cmake.md`. Now I need to find out whether CM

[2017-12-09 00:04] PeterBowman commented on #116
Adding the `blocked` label as a notice/reminder that there is ongoing CMake-refactorization work at #26, which I'm going to close as soon as I get my hands on ASIBOT and run some tests. Don't let that block your progress, though, I'll fix any conflicts on my side if your commits are merged first.

[2017-12-09 07:17] jgvictores commented on #128
@David-Estevez Thanks!

[2017-12-09 14:04] jgvictores commented on #20
Great, that's one use case solved.

Here's the second use case. The second use case is to be able to write an application such as a walking gait, and to be able to switch from local to remote devices easily. Technically, I'm not sure if this is the way (or a good way, or a feasible way) to achieve this. Would have to give it more thought or even better develop some example code. For now just leavi

[2017-12-10 17:23] PeterBowman opened #150 "Avoid CAN bus timeouts in AmorControlboard"
We need a new motor device implementation for AMOR, wrapped by `controlboardwrapper2`. Proposed name is `AmorControlboard`.

This device would take care of joint space control, whereas cartesian space-related commands have been already split to a [`AmorCartesianControl` device at kinematics-dynamics](https://github.com/roboticslab-uc3m/kinematics-dynamics/tree/435c4173beb3c0082fe7a73bff9abe9ee672f

[2017-12-10 17:23] PeterBowman commented on #150
Blocked by #26.

[2017-12-11 09:46] rsantos88 commented on #116
and how about this?

[2017-12-11 09:58] jgvictores commented on #116
In general, I'd say move them. For the specific case of `launchManipulation-fake.ini`, delete, since `FakeControlboard` no longer exists.
Regarding the new `twoCanBusThreeWrappers.ini` we could fit in a `FakeJoint` somewhere to serve as example.

[2017-12-11 11:03] rsantos88 commented on #116
done it [here](https://github.com/roboticslab-uc3m/teo-configuration-files/commit/185dfa9675aaa251fe21504478e214ed8c4396ac)

[2017-12-11 11:15] rsantos88 commented on #116
Do you want to replace some `TechnosoftIpos` by `FakeJoint` in `twoCanBusThreeWrappers.ini`.
For example... with the frontal wrists?

[2017-12-11 11:38] PeterBowman commented on #20
Even in *best-practices*, RFModules are recognized as a valid way of creating YARP programs: [Programming in C/C++](https://github.com/roboticslab-uc3m/best-practices/blob/2a1d72f3a2457ac6fec89d11aea613713ed4caf1/en/best-practices.md#programming-in-cc). We have a few of them around and working nicely, so I can't fathom any compelling reason to alter the status quo. If you don't mind, could you be

[2017-12-11 12:00] jgvictores commented on #116
Sure, great!

[2017-12-11 12:24] PeterBowman commented on #26
Confirmed, Debian 6.0 backports support SSL.

[2017-12-11 12:33] PeterBowman commented on #128
Reviewed at e0c8394 (not merged yet), all examples compile successfully.

**Edit (2018/01/21):** already merged into `develop`.

[2017-12-11 13:01] PeterBowman commented on #116
Unblocking, I'm going to close that issue as soon as file shuffling is over.

[2017-12-11 15:09] rsantos88 commented on #116
done at (ee6ee025621c13dad60510f3f50ef79be3dc31d3)

[2017-12-11 15:20] PeterBowman commented on #124
Re-compiled at 1c47ed4, can't replicate this anymore. The YARP code responsible for that notice is [here](https://github.com/robotology/yarp/blob/edd2aad1ee5e87ba72cc8c15b77c12db49121f99/src/libYARP_OS/src/Companion.cpp#L2335-L2354). Not sure what was the cause (overall diff since the time of opening the issue: [diff](https://github.com/roboticslab-uc3m/yarp-devices/compare/f61c668...1c47ed4#diff-

[2017-12-11 15:20] #124 closed, assigned to nobody

[2017-12-11 16:40] jgvictores opened #152 "Co-habitation of yarp-devices-install.md and yarp-devices-install-on-debian-6.md"
Co-habitation of `yarp-devices-install.md` and `yarp-devices-install-on-debian-6.md` detected at current `develop`, namely 3f2e7cd.

[2017-12-11 16:57] jgvictores commented on #152
`yarp-devices-install-on-debian-6.md` has deleted at 4a015aa in favor of more updated and universal `yarp-devices-install.md`.

[2017-12-11 17:04] jgvictores commented on #152
Going to revert, this had a reason to be.

[2017-12-11 17:24] jgvictores commented on #116
@PeterBowman I think we're done with file shuffling. All yours, right?

[2017-12-11 17:27] jgvictores commented on #152
Okay state of cohabitation as of e1e62f9.

[2017-12-11 17:27] #152 closed, assigned to jgvictores

[2017-12-11 18:00] jgvictores commented on #108
Renamed `yarp-devices-tricks.md`, linked from several places.
At https://github.com/roboticslab-uc3m/yarp-devices/blob/b3c78b251dc2e64458e1bd86d765da5a9f2a9ac1/doc/yarp-devices-tricks.md since b3c78b2.

[2017-12-11 18:00] #108 closed, assigned to jgvictores

[2017-12-11 23:06] PeterBowman commented on #116
@jgvictores done, thanks!

[2017-12-11 23:07] PeterBowman commented on #26
Done at 891df8f.

[2017-12-11 23:07] #26 closed, assigned to PeterBowman

[2017-12-12 00:53] PeterBowman commented on #121
Rebased on `develop` and WIP at b076348, now I have to apply #119/#144 and run some tests (again).

[2017-12-12 10:03] jgvictores commented on #116
Closing, as #26 is also closed! Thanks @rsantos88 @PeterBowman !!!

[2017-12-12 10:03] #116 closed, assigned to rsantos88

[2017-12-12 12:46] PeterBowman commented on #111
I think we need this, regardless of the outcome of distro-related debates. Providing backwards compatibility is fine, but requires downgrading specific software to make sure that version requirements are fulfilled. For instance, how should I know that my code will work on CMake v2.8.9 (or whichever version I set in `cmake_minimum_required(VERSION)`) without compiling CMake itself at that specific

[2017-12-13 12:49] PeterBowman commented on #121
Done at ef0fad9, tested on ASIBOT.

[2017-12-13 12:49] #121 closed, assigned to PeterBowman

[2017-12-13 12:53] PeterBowman commented on #121
Just for clarification, now we may pull from the driver:

* actual reference speeds and accelerations (position mode)
* current velocity (velocity mode)

Don't be scared when you'll see lots of decimals instead of fixed integers (e.g. 4.9999 instead of 5).

[2017-12-13 13:23] PeterBowman commented on #127
Can't replicate this anymore. Anyway, previous tests were run with EasySetup/EasyMotionStudio along with a RPC connection via terminal. I can only guess that this circumstance introduced delays that either prevented the CAN wrapper from successfully retrieving current mode, or made us see obsolete data on our end (while velocity mode was correctly set under the hood).

We could investigate the eff

[2017-12-13 13:23] #127 closed, assigned to PeterBowman

[2017-12-13 21:41] PeterBowman commented on #146
The kernel-space software behind PCAN boards is SocketCAN, a widespread implementation of the CAN protocol available on modern Linux distros. This actually simplifies things since we are not bound to a hardware-specific API and can reuse available code. In fact, I found a YARP device in the icub-main repo: [*socketCan*](https://github.com/robotology/icub-main/tree/6ac5a5c06d77ac19c95219fe5560b5db4

[2017-12-14 14:03] jgvictores commented on #146
Since it is a YARP device plugin, I'm not sure if GPL acts virally.

More importantly, unless it is GPL due to some linkage to some other GPL that acts virally, I believe we can contact the author and see if he can re-license it to be LGPL'ed.

[2017-12-14 14:16] jgvictores opened #153 "Incorporate pulse/sample parameter"
We are currently counting on a fixed pulse/sample value (`0.001` (?) for velocities and thus `0.001^2` for accelerations):
- https://github.com/roboticslab-uc3m/yarp-devices/blob/4b2c591d07a857255cee07ce4a0dd675264b80aa/libraries/YarpPlugins/TechnosoftIpos/IVelocityControl2RawImpl.cpp#L25
- https://github.com/roboticslab-uc3m/yarp-devices/blob/4b2c591d07a857255cee07ce4a0dd675264b80aa/libraries/Yar

[2017-12-14 14:17] jgvictores commented on #121
Great!

Thanks to this, I also reviewed the code and started #153.

[2017-12-14 15:04] PeterBowman commented on #153
`samplesPerPulse` and you get rid of fractions 😏

[2017-12-15 11:55] David-Estevez opened #154 "Unsupported protocol error when CMaking yarp-devices"
I've updated my fork with the new advances in develop and now I cannot CMake it. The error returned is the following one:

[code]

Since I only have enabled my own devices (`AravisGigE` and `GrabberControls2Gui`) and as far as I know I'm not using any external dependencies that require YCM, I have no clue why I'm getting this error.  So I summon all the YCM experts around to help me with this issu

[2017-12-15 11:59] PeterBowman commented on #154
@David-Estevez it totally looks like a lack of SSL support. Which distro are you on? See [install-cmake.md#openssl-support](https://github.com/roboticslab-uc3m/installation-guides/blob/707d6cf05d5a86c9b78cc26b8b1e18b1127037ef/install-cmake.md#openssl-support) and https://github.com/roboticslab-uc3m/yarp-devices/issues/26#issuecomment-350398178.

[2017-12-15 12:36] David-Estevez commented on #154
This error happens in both Linux Mint 17.3 and Ubuntu Ubuntu 16.04.3 LTS.

I didn't follow that guide because I do not require YCM for my devices. I guess my questions are:

* Do I need YCM for something I'm not aware of? (something at whole repo level)
* **If** I do not use YCM... should I enforce it as an unused dependency on my devices?

[2017-12-15 12:45] PeterBowman commented on #154
What CMake version are you using (`cmake --version`)? Did you compile it from sources? See https://github.com/robotology/codyco-superbuild/issues/26#issuecomment-61173419.

We adopted YCM as a org-wide dependency (see kinematics-dynamics, openrave-yarp-plugins...). Here, it provides custom CMake modules (e.g. AddUninstallTarget), enhanced standard modules for legacy CMake (e.g. CMakePackageConfigH

[2017-12-15 15:10] David-Estevez commented on #154
In Linux Mint 17.3 -> cmake version 3.4.0
In Ubuntu 16.04.3 LTS -> cmake version 3.5.1

Since I tried lots of things to get Python 3 bindings to compile (details at https://github.com/roboticslab-uc3m/yarp-devices/issues/145#issuecomment-348230791) I might have compiled cmake from source without openssl support.

I'll check that in both PCs and report here.

[2017-12-15 21:52] David-Estevez opened #155 "ProximitySensorsClient device is always built despite disabling it via CMake option"
And therefore it cannot be disabled and it is always compiled.

Easy to fix, but I prefer not to mess up someone else's code. :sweat_smile:

[2017-12-15 23:22] PeterBowman commented on #155
My bad, fixed at ae0609c. Thanks for noticing and reporting this!

BTW usual CMake option checks for YARP devices have been removed in favour of the following lines:

https://github.com/roboticslab-uc3m/yarp-devices/blob/ae0609cd39b91c9e8b5b3ebdbfb96f46d2b0e6e5/libraries/YarpPlugins/ProximitySensorsClient/CMakeLists.txt#L4-L8

The code above and `DEFAULT ON` means that *ProximitySensorsClient* sha

[2017-12-15 23:22] #155 closed, assigned to PeterBowman

[2017-12-17 14:39] PeterBowman commented on #146
Blocked by #122.

[2017-12-18 15:16] rsantos88 commented on #104
Este problema se resolverá cuando se realice una correcta actualización de la versión de YARP.
Queda bloqueada por la issue: https://github.com/roboticslab-uc3m/installation-guides/issues/24 que a su vez depende la issue https://github.com/roboticslab-uc3m/yarp-devices/issues/118

[2017-12-18 16:42] David-Estevez commented on #154
Errors seem to be gone following your instructions ([install-cmake.md#openssl-support](https://github.com/roboticslab-uc3m/installation-guides/blob/707d6cf05d5a86c9b78cc26b8b1e18b1127037ef/install-cmake.md#openssl-support)), so recompiling cmake was probably something I tried to get the Python 3 yarp bindings to work.

Nonetheless, to consider this issue close I would like to add some notice in th

[2017-12-18 17:15] PeterBowman commented on #154
This is something we would have to add in most repos, though. Shall we make the openSSL advice more prominent at [install-ycm.md](https://github.com/roboticslab-uc3m/installation-guides/blob/master/install-ycm.md)?

[2017-12-18 18:35] David-Estevez commented on #154
I think my concern was that some devs/users might not notice that they need YCM even if they are not using it explicitly (as it happened with myself).

I see you have recently pushed 638ac5d1eedab17bb838e340c7d9b3a3a778a2ba that solves that concern, so now we can consider this issue closed.

[2017-12-18 18:35] #154 closed, assigned to nobody

[2017-12-22 13:29] jgvictores commented on #153
Related: [yarp::dev::IMotorEncoders::setMotorEncoderCountsPerRevolution](http://www.yarp.it/classyarp_1_1dev_1_1IMotorEncoders.html#a2e6b12f99b8e1f00619e876cc39ef051)

[2017-12-22 13:31] jgvictores opened #157 "Implement additional yarp::dev motor interfaces"
Think about implementing additional motor/axis `yarp::dev` interfaces:
- http://www.yarp.it/classyarp_1_1dev_1_1IMotor.html
- http://www.yarp.it/classyarp_1_1dev_1_1IMotorEncoders.html
- http://www.yarp.it/classyarp_1_1dev_1_1IAxisInfo.html

[2017-12-22 13:37] jgvictores commented on #157
Related: #153 (pulse/sample parameter).

[2017-12-22 13:38] jgvictores commented on #157
Related: https://github.com/roboticslab-uc3m/openrave-yarp-plugins/issues/55

[2017-12-22 23:37] PeterBowman commented on #122
The `roboticslab::ICanBusHico` interface has been killed and replaced by `yarp::dev::ICanBus` in b579638 and d2af6b5. There is one caveat to using `yarp::dev::CanMessage`: no support for timestamps. I had to replace the `ts` field from the `can_msg` structure with a plain call to `yarp::os::Time::now()`: 1a4ba55. I hope that there's no noticeable difference in behavior. Still WIP, requires testing

[2017-12-23 16:07] jgvictores commented on #122
Agreed, we had a minimal implementation of support for `can_msg::ts`, e.g. [here](https://github.com/roboticslab-uc3m/yarp-devices/blob/f6fc15d06682a4569e6ec23eb7f1483d06f5186c/libraries/YarpPlugins/TechnosoftIpos/ICanBusSharerImpl.cpp#L271) and [here](https://github.com/roboticslab-uc3m/yarp-devices/blob/f6fc15d06682a4569e6ec23eb7f1483d06f5186c/libraries/YarpPlugins/TechnosoftIpos/IEncodersTimedR

[2017-12-23 17:46] PeterBowman commented on #146
As spoken with @munozyanez, two YARP devices may emerge from this issue:

* a SocketCan implementation, roughly similar to [icub-main's socketCan device](https://github.com/robotology/icub-main/tree/a7979a8aa318261fed26d0f215d20abee5d8523b/src/libraries/icubmod/socketCan) (hence my doubts about licensing, but I'd like to expand it with goodies such as acceptance filtering) to interface with the ne

[2017-12-23 22:14] PeterBowman opened #159 "Drop hardcoded/arbitrary delays in SDO reads"
Current CAN bus communications rely on blocking read operations with a hardcoded 1 ms delay. Following the schema of [CanBusControlboard::ThreadImpl](https://github.com/roboticslab-uc3m/yarp-devices/blob/f2f659ec3c4575bb691799ba9948d494bdf0c01d/libraries/YarpPlugins/CanBusControlboard/ThreadImpl.cpp), the read loop behaves like this:

[code]

On the CAN node side, requests for data retrieval apply

[2017-12-24 10:44] PeterBowman commented on #146
@jgvictores HicoCAN headers are currently copy-pasted into the [CanBusHico device directory](https://github.com/roboticslab-uc3m/yarp-devices/tree/8be3065e6529536826e22aac41ff2e163a41d157/libraries/YarpPlugins/CanBusHico), that is, `hico_api.h` does not need to be installed on the target system. I might proceed in a similar way with PeakCan, which requires two header files (`pcanfd.h` and `libpcan

[2017-12-24 10:54] jgvictores commented on #146
@PeterBowman :+1:

[2017-12-24 13:25] PeterBowman commented on #74
Confirming that this was not meant to last per https://github.com/roboticslab-uc3m/yarp-devices/pull/158#issuecomment-353778180:

See how to implement this with proper casts in https://github.com/roboticslab-uc3m/yarp-devices/pull/158#issuecomment-353777110.

[2017-12-24 13:35] PeterBowman commented on #85
Now that YARP interfaces are making their way through (#122), I'd consider this option once again: a client/server device pair to talk remotely with the CAN master via RPC. No custom shell will be needed (new apps, ipython with bindings), just use the `yarp rpc` utility.

[2017-12-24 16:26] PeterBowman commented on #85
To expand on my last comment, the CAN bus logic (master + nodes, i.e. CanBusControlboard + TechnosoftIpos, CuiAbsolute and so on) could live in a remote PC, quite the contrary as it is stated in our install guide: [yarp-devices-install.md#Specific dependencies](https://github.com/roboticslab-uc3m/yarp-devices/blob/8be3065e6529536826e22aac41ff2e163a41d157/doc/yarp-devices-install.md#specific-depend

[2017-12-25 12:47] PeterBowman opened #160 "YARP ports to interface remotely with CAN traffic"
Split from #85:

[2017-12-25 13:15] PeterBowman commented on #85
I've opened #160 to cover the RPC thing, which is focused on working with distributed archs (send CAN data over the network) instead of talking to the CAN master locally.

Now, this issue is far more straightforward if we follow your proposal, @jgvictores. Let's enable SWIG bindings for the `yarp::dev::ICanBus` interface and thus gain access to the upcoming HicoCan (#122), SocketCan and PeakCan (#

[2017-12-25 14:13] jgvictores commented on #85
Perfect!

[2017-12-27 15:25] PeterBowman commented on #146
Note to self (blocking read/writes with sockets and `setsockopt`): https://ubuntuforums.org/showthread.php?t=1565651&p=9794579#post9794579.

Also, an useful column about I/O calls: http://www.linux-mag.com/id/308/.

[2017-12-30 12:14] PeterBowman commented on #85
Yet another approach, after completing the new Peak CAN device (**not** SocketCan, see #146). The manufacturer already provides API bindings and useful sample apps, including GUIs that enable read/write operations:

https://www.peak-system.com/PCAN-miniPCI.205.0.html?&L=1

Look for *PCAN-Basic API* in the *Downloads* tab.

[2017-12-30 12:56] PeterBowman commented on #146
I'll probably go for Linux only by now, but let me stress that Peak offers a common API for use in both Windows and Linux (plus bindings and sample GUI apps, see https://github.com/roboticslab-uc3m/yarp-devices/issues/85#issuecomment-354543098). List of supported devices from [PCANBasic.h](https://www.peak-system.com/PCAN-miniPCI.205.0.html?&L=1#Downloads):

[code]

[2017-12-31 01:05] PeterBowman commented on #138
Another (and up-to-date) ref on writing nice find modules:

https://cmake.org/cmake/help/latest/manual/cmake-developer.7.html#a-sample-find-module

And how `FindXWiimote.cmake` looks now: [link](https://github.com/roboticslab-uc3m/yarp-devices/blob/ba82b176465f84b719a5b1e1fc2fc198af9d472f/cmake/find-modules/FindXWiimote.cmake).

BTW [The Difference Between Deprecated, Depreciated and Obsolete (SO)

[2018-01-05 17:05] jgvictores commented on #20
As commented with @PeterBowman, this is specifically for `CanBusControlboard` and wrappers. Thoughts:
- `IPositionControl * ipc = nCBMW.view(0);`
- [ControlBoardRemapper](http://yarp.it/classyarp_1_1dev_1_1ControlBoardRemapper.html)

[2018-01-05 18:10] jgvictores commented on #20
When done, the one-liner will be aliased `scripts/bash/launchManipulation` and `scripts/bash/launchLocomotion` as part of https://github.com/roboticslab-uc3m/teo-configuration-files

[2018-01-05 18:15] jgvictores commented on #20
No longer blocked by #116, but will not move issue to https://github.com/roboticslab-uc3m/teo-configuration-files because it involves code here.

[2018-01-05 20:04] PeterBowman commented on #99
According to my updated comment (https://github.com/roboticslab-uc3m/yarp-devices/issues/99#issuecomment-284267709), the only things left to do here are tracked at:

* roboticslab-uc3m/follow-me#36.
* roboticslab-uc3m/teo-software-manual#24
* roboticslab-uc3m/teo-software-manual#25

[2018-01-06 11:33] jgvictores opened #161 "Migrate tables to csv"
The following markdown tables can become unmanagable, and are already difficult:
- [yarp-devices-install.md#os-requirements](https://github.com/roboticslab-uc3m/yarp-devices/blob/4547168177750c06ce902dd9552341760cb8cb0f/doc/yarp-devices-install.md#os-requirements)
- [yarp-devices-install.md#specific-dependencies](https://github.com/roboticslab-uc3m/yarp-devices/blob/4547168177750c06ce902dd95523417

[2018-01-06 12:46] jgvictores commented on #99
Can close, because tracked elsewhere, right?

[2018-01-06 16:21] #99 closed, assigned to nobody

[2018-01-06 20:49] PeterBowman opened #162 "Derive from concrete YARP classes instead of providing custom implementation"
YARP's fakeMotionControl device inherits from several `ImplementX` concrete classes, e.g. `ImplementVelocityControl2`, a ready-to-use implementation of `IVelocityControl2`. See inheritance diagram in [fakeMotionControl's docs](http://www.yarp.it/classyarp_1_1dev_1_1FakeMotionControl.html). I wonder if we could use this in our CAN devices to spare a few lines of code.

[2018-01-08 14:01] jgvictores commented on #161
Nice proposal by @David-Estevez is `.csv`, which can be imported, edited, and exported via libreoffice.
This is good, so we do not have to maintain two files.

[2018-01-08 17:24] #149 closed, assigned to David-Estevez

[2018-01-08 21:17] David-Estevez commented on #161
This is what the new tables look like:
* https://github.com/David-Estevez/yarp-devices/blob/c43b936fcfbff70f239043bbaf0fce5fdd66ff7a/doc/specific-dependencies.csv
* https://github.com/David-Estevez/yarp-devices/blob/c43b936fcfbff70f239043bbaf0fce5fdd66ff7a/doc/os-requirements.csv

@jgvictores Could you please check them out and give me you feedback about them (like/dislike/change something)?

[2018-01-08 21:34] jgvictores commented on #161
Incredibly nice!
A few comments/questions:
1. Only works in desktop mode. Good for me, GitHub actually has a link in addition to the browser option.
1. Markdown links are obviously markdown links, and not rendered as links in csv. Good for me.
1. Obscure part for now: guess you know how the *,**,*** will work out?
1. Does it look like both tables would be less wide if transposed?

[2018-01-08 22:42] David-Estevez commented on #161
1. You can always see the page on desktop mode, I guess.
2. This point bothers me a little, but I see no clear solution.
3. I don't know what do you mean with this point :sweat_smile:
4. They probably would, but the transposed table might not scale well with more dependencies (which is not a concern right now, but might be in the future). I can transpose them, no problem.

[2018-01-08 23:25] jgvictores commented on #161
1. Ok!
1. It's ok!
1. Auch. That didn't render as expected LOL. Anyway. For instance, in [specific-dependencies.csv](https://github.com/David-Estevez/yarp-devices/blob/c43b936fcfbff70f239043bbaf0fce5fdd66ff7a/doc/specific-dependencies.csv), `LeapMotionSensor` has an asterisk that seems intended for a footnote... This makes sense in the original context, but not sure how it works out here, and have

[2018-01-08 23:27] David-Estevez commented on #161
3. As a matter of fact, there are three footnotes in that table...

[2018-01-08 23:29] jgvictores commented on #161
3. Yes: \*, \*\*, and \*\*\* (now visibly rendered lol).

[2018-01-11 20:15] jgvictores commented on #161
Changed issue title, `Migrate tables to ods/md` -> `Migrate tables to csv`. Related: https://github.com/roboticslab-uc3m/best-practices/issues/20

[2018-01-15 10:09] jgvictores commented on #138
Thanks! Updated [here](https://github.com/asrob-uc3m/tutoriales/commit/1939c0448035938a34df4010602b585f7272c8b9)!

[2018-01-16 17:52] jgvictores commented on #20
This also seems related: https://github.com/robotology/yarp-wholebodyinterface/blob/master/include/yarpWholeBodyInterface/yarpWholeBodyActuators.h

[2018-01-20 16:20] jgvictores commented on #20
In line with this, think about inheriting from a `IDeviceDriverContainer`/`IPolyDriverContainer` class or similar (both [DeviceDriver](http://www.yarp.it/classyarp_1_1dev_1_1DeviceDriver.html) and [PolyDriver](http://www.yarp.it/classyarp_1_1dev_1_1PolyDriver.html) are strange animals).

[2018-01-24 16:39] rsantos88 commented on #93
resucito un poco esta issue para comentar que los encoders absolutos de los brazos que fallan actualmente son: 115, 116 y 118

[2018-01-24 19:14] jgvictores commented on #118
Progress at https://github.com/roboticslab-uc3m/teo-main/issues/26 !!! :tada:

[2018-01-26 22:01] jgvictores opened #163 "Import PhidgetSpatial from robotDevastation-robots"
Import PhidgetSpatial from [robotDevastation-robots](https://github.com/asrob-uc3m/robotDevastation-robots)

[2018-01-26 22:25] jgvictores commented on #163
Done at 99c1062747a40d7336b3b21b98660cd1d86f10ee.

[2018-01-26 22:25] #163 closed, assigned to jgvictores

[2018-01-27 00:32] jgvictores commented on #93
This issue was moved to roboticslab-uc3m/teo-hardware-issues#10

[2018-01-27 00:32] #93 closed, assigned to jgvictores, smcdiaz, jmgarciah

[2018-01-28 10:43] jgvictores commented on #106
To sum up: the bug was we implemented a mask instead of a map.

[2018-01-29 15:26] rsantos88 opened #164 "Setting color debug for yarp-devices"
I remember that we could activate and deactivate the color debug option, selecting what **type** of messages we would want to see, for example when we were debugging some messages running `launchManipulation` of `launchLocomotion` and we don't want to see all the stream of messages (info, warnings, successful ... etc)
Have we lost that function doing ccmake..?
In my case, when I do `ccmake` on `ya

[2018-01-29 15:32] PeterBowman commented on #164
Are you pulling CD through YCM (i.e. it's not installed on your system)? If not, `git pull` and reinstall CD. Otherwise, `make COLOR_DEBUG` and press `[c]` again, you should see the missing cache options, then. Or even better, delete the cache and issue `cmake ..`, you'll see a disclaimer message regarding CD settings.

https://github.com/roboticslab-uc3m/yarp-devices/blob/99c1062747a40d7336b3b21b

[2018-01-29 15:39] PeterBowman commented on #164
BTW: CD options won't show up unless you enable advanced mode.

`Press [t] to toggle advanced mode (Currently Off)`

[2018-01-29 15:39] rsantos88 commented on #164
I get it now. The trick is pressing [t] (togglle advanced mode) and we can see this options..

[2018-01-29 16:49] jgvictores commented on #164
Closing issue, started https://github.com/roboticslab-uc3m/color-debug/issues/7 as follow-up.

[2018-01-29 16:49] #164 closed, assigned to nobody

[2018-02-01 16:24] rsantos88 commented on #104
Versión de YARP actualizada a la 2.3.70.2 gracias a la resolución de [esta](https://github.com/roboticslab-uc3m/teo-main/issues/26) issue.
Problema de `segmentation fault` resuelto :)
Cierro issue!

[2018-02-01 16:24] #104 closed, assigned to jgvictores, rsantos88

[2018-02-02 18:48] jgvictores commented on #118
Closed via https://github.com/roboticslab-uc3m/teo-main/issues/26 (a humanoid is a complex system, good enough for proof-of-concept! )

[2018-02-02 18:48] #118 closed, assigned to nobody

[2018-02-03 00:16] jgvictores commented on #128
Done at 20531227d19a189acf612aa352833d3ed17ca453

[2018-02-03 00:22] jgvictores commented on #128
Done at 6dcce3b235dab788bda1b3425207b2d55b6cb074

[2018-02-03 00:22] #128 closed, assigned to jgvictores

[2018-02-04 12:36] PeterBowman opened #165 "Handle 3rd-party deps for PhidgetSpatial device"
As a follow-up to #163, there should be a clean way to enable the `PhidgetSpatial` device and let CMake tell us whether required deps are available or not (just don't ignore that and make it crash on compile time). Necessary headers and libs are currently located in [`extern/phidget/`](https://github.com/roboticslab-uc3m/yarp-devices/tree/6dcce3b235dab788bda1b3425207b2d55b6cb074/extern/phidget). I

[2018-02-04 12:42] PeterBowman commented on #165
FIXME (`cmake-opts-on` branch):

https://github.com/roboticslab-uc3m/yarp-devices/blob/81df04907fcf5e6303d627a6b4570b64b9cfd28b/libraries/YarpPlugins/PhidgetSpatial/CMakeLists.txt#L8

[2018-02-04 12:57] jgvictores commented on #165
+1 to this option. Additionally, seems like option that can provide better support for different OS.

[2018-02-05 12:06] rsantos88 opened #166 "torque mode is not working with launchLocomotion"
Following the tricks [here](https://github.com/roboticslab-uc3m/yarp-devices/blob/bcdb7d7d324790c0cf1a1047ce1e3d20c659eab1/doc/juan-tricks.md), it doesn't work.
[code]
The other commands are working well:
[code]

[2018-02-05 12:12] rsantos88 commented on #166
blocking https://github.com/roboticslab-uc3m/teo-main/issues/15

[2018-02-05 12:26] PeterBowman commented on #166
The `[trqd]` command (and `[veld]`) was removed, try `set icmd cmod 0 torq`.

[2018-02-05 12:35] jgvictores commented on #166
Tricks are unstable hacks. Best to use bindings, see and improve https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/example/python/exampleRemoteControlboard.py

[2018-02-05 14:59] rsantos88 commented on #166
Ok! `set icmd cmod 0 torq` works perfectly.
The updated command is [here](https://github.com/roboticslab-uc3m/yarp-devices/blob/develop/doc/yarp-devices-tricks.md#yarp-rpc-commands-vocabs)
Thanks @PeterBowman @jgvictores

[2018-02-05 14:59] #166 closed, assigned to nobody

[2018-02-06 20:00] jgvictores opened #167 "Clean extern"
Clean [extern](https://github.com/roboticslab-uc3m/yarp-devices/tree/master/extern) ([permalink](https://github.com/roboticslab-uc3m/yarp-devices/tree/f93b645e228a38e60f48ec49d5757b87fbd66e8d/extern)):
1. hcanpci: obsolete
1. phidget: can be put in https://sourceforge.net/projects/roboticslab/files/External/

[2018-02-06 22:54] jgvictores commented on #165
Related: #167

[2018-02-06 23:27] PeterBowman commented on #165
Done at 37f39f8 (find module + docs for PhidgetSpatial device + build coverage on Travis).

[2018-02-06 23:27] #165 closed, assigned to PeterBowman

[2018-02-08 16:49] jgvictores commented on #161
Finished at ffce5d9918cf5b8c6a81a2dea1d447edde772b15.

[2018-02-08 16:49] #161 closed, assigned to nobody

[2018-02-08 20:20] PeterBowman opened #169 "ARAVIS find module should report failure when GLib is not found"
There is a `find_package(GLib REQUIRED)` line in current [`FindARAVIS.cmake`](https://github.com/roboticslab-uc3m/yarp-devices/blob/8f0234a5cf02ddb9a0739dd0c670f794ed0894a4/cmake/find-modules/FindARAVIS.cmake#L8) that breaks the CMake dependency mechanism if `libglib2.0-dev` is not installed (roboticslab-uc3m/questions-and-answers#18).

From https://github.com/roboticslab-uc3m/questions-and-answer

[2018-02-08 20:47] David-Estevez commented on #169
`GLib` is not a dependency of our project, but a dependency of `Aravis`. Therefore, it seems intuitive to me to look for it within the file that looks for `Aravis`.

As an example, imagine we need `OpenCV` as a dependency for our project. `OpenCV` has several dependencies that have to be installed for it to work, but as a user you don't need to keep track of all of them (it would somehow break enc

[2018-02-08 21:04] PeterBowman commented on #169
Yes, I aim to solve it with `find_dependency()` called from within `FindARAVIS.cmake`, thus encapsulation should be preserved (i.e. Glib not found => `find_package(ARAVIS)` reports a failure).

We speak about transitive binary dependencies here, i.e. OpenCV *.so files that depend on other 3rd-party *.so files. You'll probably need to install required apt packages anyway (cf. [installing YARP from

[2018-02-09 11:02] jgvictores opened #170 "Cannot change control mode some/many times"
Similar to https://github.com/roboticslab-uc3m/yarp-devices/issues/127, thing seem pretty bad.
Changing from initial position mode to torque mode, the mode is not enabled even after several tries. This is, either it works the first time, or never works at all.

Additionally, as described at https://github.com/roboticslab-uc3m/teo-main/issues/35, the pos -> torq -> pos -> torq sequence is not possi

[2018-02-09 19:32] PeterBowman commented on #169
The `find_dependency()` solution works, see [Travis build](https://travis-ci.org/roboticslab-uc3m/yarp-devices/builds/339606134). Compare with current develop **without glib**: [ref](https://travis-ci.org/roboticslab-uc3m/yarp-devices/builds/339609953).

As a side note, @jgvictores observed that the `REQUIRED` parameter in `find_package(pkg REQUIRED)` is quite unusual, so we shouldn't worry about

[2018-02-09 19:34] PeterBowman commented on #169
Done at bc07402.

[2018-02-09 19:34] #169 closed, assigned to PeterBowman

[2018-02-09 19:37] jgvictores commented on #169
For the record, in `/usr/share/cmake-3.5/Modules`, the command:
[code]
only returns 3 to 5 results out of +350 cmake modules:
[code]

[2018-02-23 17:49] PeterBowman commented on #167
Note: update [.travis.yml](https://github.com/roboticslab-uc3m/yarp-devices/blob/b80bbb576721721e1f9b418873f4387597b73e57/.travis.yml#L25-L32) to point to the new file location.

[2018-02-26 22:58] PeterBowman commented on #120
This is a complex task. Extensive knowledge about the state model of the iPOS is required in order to transition to the fault state (which, if I remember correctly, commands motor stop) and back. See Section 5 in the iPOS user manual.

[2018-02-27 10:43] jgvictores opened #171 "Map controlled joints to motor ids in raw subdevices"
Maybe enforcing passing index 0 to `raw` wasn't a great idea, and passing the actual `int` was a good idea for debugging.

Possibly related: #162 ...or not. What I refer to is that looking at `fakeMotionControl` implementation, there was a template mechanism, etc. We should look at this for inspiration before doing anything there.

Marking as blocked by #162 for now, but not sure.

[2018-02-27 10:43] jgvictores commented on #162
Blocking #171

[2018-02-27 10:44] jgvictores commented on #120
Shouln't be too complex... The basic commands of the state machines of Section 4 and 5 are currently already implemented in [TechnosoftIpos/ICanBusSharerImpl.cpp](https://github.com/roboticslab-uc3m/yarp-devices/blob/b80bbb576721721e1f9b418873f4387597b73e57/libraries/YarpPlugins/TechnosoftIpos/ICanBusSharerImpl.cpp). Note that some transitions are performed via the same command, namely [readyToSwi

[2018-02-27 12:27] PeterBowman commented on #120
I mean, the TechnosoftIpos devices must be aware at any time of their internal driver state, thus some FSM solution looks mandatory. We do traverse the states ATM, but only upon initialization and shutdown, which is fairly straightforward.

[2018-02-27 15:09] jgvictores commented on #120
Oh, ok. Understood.

[2018-03-07 17:57] jgvictores commented on #20
...but as commented above, perhaps http://www.yarp.it/classyarp_1_1dev_1_1ControlBoardRemapper.html is the solution already provided by YARP.

[2018-03-13 10:26] jgvictores opened #172 "adaptation of the new hand board"
_From @jmgarciah on March 13, 2018 10:2_

Once the PCB for the hand is developed. It is necessary to adapt the old code of the PIC to the new MBED.

_Copied from original issue: roboticslab-uc3m/teo-hardware-issues#19_

[2018-03-14 10:27] rsantos88 opened #173 "unavailable computers running services on YMM"
When we try to use the services of `teoBase_app` running through `YARP module manager`, the computers of TEO are unavailables.
Note: I've tried this [trick](http://robots.uc3m.es/index.php/TEO_Network_troubleshooting) but it doesn't work.
Yarp version instaled on TEO computers: `2.3.70.2`
Yarp version instaled on client computer: `2.3.72`

[2018-03-14 10:43] PeterBowman commented on #173
Can these computers see each other through YARP, that is, is the usual `yarp conf` + `yarp detect` step successful?

BTW this issue probably belongs to teo-hardware-issues/teo-developer-manual/teo-main.

[2018-03-14 11:13] jgvictores commented on #173
This issue was moved to roboticslab-uc3m/teo-main#43

[2018-03-14 11:13] #173 closed, assigned to nobody

[2018-03-15 10:27] rsantos88 commented on #172
The first step is to check the communications between the MBED and the computer. I am trying to send or receive messages over the CAN.
Steps taken until now:
* First, I've checked the connections. I've taken this model to revise the connections between the pins 29-30, and the transceiver. The same between the transceiver and the can bus connector:
![image](https://user-images.githubusercontent.com

[2018-03-15 14:01] rsantos88 commented on #43
Tal y como he hablado con @jgvictores , se va a instalar en `teo-head`  también una partición limpia con Ubuntu 14.04.

[2018-03-15 14:11] jgvictores commented on #43
THANKS!!!

[2018-03-16 22:44] PeterBowman opened #174 "Setup.py script crashes on install"
Upon `sudo make install` (might need to run this several times):

[code]

[2018-03-16 22:46] PeterBowman commented on #174
Related upstream issue: https://github.com/pyside/PySide/issues/128.

Note that: *ATTENTION: This project is deprecated, please refer to PySide2* (disclaimer at PySide's repo description).

https://github.com/roboticslab-uc3m/yarp-devices/blob/1ca4bf69c1b25dd4ab910f212d68f1fec2cf5e20/cmake/templates/setup.py.in#L16

Same version as `sudo apt install python3-pyside` (1.2.2).

[2018-03-16 22:50] PeterBowman commented on #174
Latest PySide v1 release is 1.2.4 (Oct 14, 2015). Output:

[code]

I run Python 3.5.2 (Ubuntu xenial).

[2018-03-16 22:56] PeterBowman commented on #174
BTW let's take a look at Python dependencies for Travis builds. Per https://travis-ci.org/roboticslab-uc3m/yarp-devices/jobs/353962520#L2646:

[code]

[2018-03-16 23:15] PeterBowman commented on #174
Added check for disabling grabbercontrols2gui app if Python version found on system is greater than 3.4: https://github.com/roboticslab-uc3m/yarp-devices/commit/b6fe2b9ec1584b4c3d01a5776590bb94eec7d96e.

[2018-03-19 17:31] rsantos88 commented on #43
Instalado Ubuntu 14.04 LTS en `teo-head`. Instalado software para cabeza en la nueva distribución. Funcionando :+1:

[2018-03-19 17:31] #43 closed, assigned to rsantos88

[2018-03-19 17:34] jgvictores commented on #43
Thanks a LOT!!!! :+1:

[2018-03-22 14:28] rsantos88 opened #175 "[LaunchManipulation] --homePoss is not working"
Since this commit (https://github.com/roboticslab-uc3m/yarp-devices/commit/3fcf1b5aeda71a234c2a61b2b7905213ca8d5f85), `--homePoss` is not working.
The robot doesn't move to the home position and the shell shows this:
[code]
but no movement...
Doing `git checkout 72d4c8e5b615fc14d7ab4a087e54d70b6c052d1d` (reference: https://github.com/roboticslab-uc3m/yarp-devices/commit/72d4c8e5b615fc14d7ab4a087e5

[2018-03-22 14:39] jgvictores commented on #175
From what I'm seeing, it shouldn't be due to 3fcf1b5aeda71a234c2a61b2b7905213ca8d5f85.

Could you do the following to see if this is repeatable?
1. 3 tests with 3fcf1b5aeda71a234c2a61b2b7905213ca8d5f85
1. 3 tests with 72d4c8e5b615fc14d7ab4a087e54d70b6c052d1d
1. 3 tests with 3fcf1b5aeda71a234c2a61b2b7905213ca8d5f85
1. 3 tests with 72d4c8e5b615fc14d7ab4a087e54d70b6c052d1d

My guess is it may be rela

[2018-03-22 15:29] rsantos88 commented on #175
With 08f6a4162ef0af342ff9489c21901d062fc88e8f:
[code]

[2018-03-22 15:32] rsantos88 commented on #175
With 72d4c8e5b615fc14d7ab4a087e54d70b6c052d1d:
[code]

[2018-03-22 15:36] PeterBowman commented on #175
My fault, but PolyDriver's docs and implementation are a bit weird wrt. `PolyDriver::getValue`:

https://github.com/roboticslab-uc3m/yarp-devices/blob/08f6a4162ef0af342ff9489c21901d062fc88e8f/libraries/YarpPlugins/CanBusControlboard/DeviceDriverImpl.cpp#L301

Looks like `getValue` performs a lookup on the monitor instance (not on options passed through `open`), [ref](http://www.yarp.it/PolyDriver_

[2018-03-22 18:12] PeterBowman commented on #175
From [PolyDriver.cpp](http://www.yarp.it/PolyDriver_8cpp_source.html):

[code]

The `system_resource` member is a **local** instance of `YarpDevMonitor` (which extends `SearchMonitor`). However, we don't use it at all if the `config` parameter to `PolyDriver::open` already has a monitor object attached to itself:

[code]

The monitor linked to `config` registers a `device` key in `coreOpen`. If th

[2018-03-22 18:24] PeterBowman commented on #175
Partially reverted in 6467003, should be fine now. I'll be looking for some means to make this work again...

[2018-03-23 10:15] rsantos88 commented on #175
Thanks @PeterBowman. Yes, it works now.

[2018-03-23 11:22] jgvictores opened #176 "Develop serial Dextra device"
WIP at https://github.com/roboticslab-uc3m/yarp-devices/compare/issue-176-dextra

**Edit (2019/06/28):** two different device implementations will coexist at some point per https://github.com/roboticslab-uc3m/yarp-devices/issues/176#issuecomment-449354375. This issue focuses on the USB-related stuff, the CAN implementation depends on other tasks (e.g. PCB design, hardware, etc.).

[2018-03-23 11:23] jgvictores commented on #176
Should match firmware at https://github.com/jgagom/Dextra

[2018-03-23 11:24] jgvictores commented on #176
Client protocol explicit in https://github.com/jgagom/Dextra/blob/master/Control/DextraControl.py ( https://github.com/Alvipe/Dextra/blob/33203e128c3d3c4292f41d32275cb336cd211733/Control/DextraControl.py )

[2018-03-23 16:51] PeterBowman opened #177 "Port monitoring and AMOR sensors (tracking)"
_From @PeterBowman on April 28, 2017 23:30_

- [x] prepare working version of Lua script (https://github.com/roboticslab-uc3m/amor-main/commit/5b3ee9f6a6a19f9b9470bd9dd850f2498dd98dd9)
- [ ] filter peak values (issues in data acquisition?) (WIP at https://github.com/roboticslab-uc3m/amor-main/commit/8c39cf9cc215cea32cb446279f63ed74e63d4366)
- [x] improve current *accumulation* algorithm
- [ ] igno

[2018-03-23 16:52] PeterBowman commented on #177
Linux command used to launch the serial port device ([defaults](https://github.com/robotology/yarp/blob/4c562a6/src/devices/serial/serial.ini)):

[code]

[2018-03-23 16:52] PeterBowman commented on #177
_From @jgvictores on May 1, 2017 9:38_

These 3 could be fulfilled by:
1. Inherit from [yarp::dev::IAnalogSensor](http://www.yarp.it/classyarp_1_1dev_1_1IAnalogSensor.html) as in [yarp-devices/libraries/BodyYarp/Jr3/Jr3.hpp](https://github.com/roboticslab-uc3m/yarp-devices/blob/e1ec05e1c27f60ee0fae8156a7d4a0ad7a33b7d7/libraries/BodyYarp/Jr3/Jr3.hpp#L41)
1. Wrap in `analogServer` as in [yarp-device

[2018-03-23 16:52] PeterBowman commented on #177
_From @jgvictores on May 1, 2017 9:43_

PS: A device wrapped in `analogServer`can be launched as in:
[code]

However, in [teoBase.xml#L12-L16](https://github.com/roboticslab-uc3m/teo-configuration-files/blob/3054b2e44dc66bca33d6f33f3671cfb62e7a0203/share/teoBase/scripts/teoBase.xml#L12-L16) we have a longer version, split into channels:
[code]

[2018-03-23 16:52] PeterBowman commented on #177
I might be missing something, but creating a new device wrapped by `analogServer` didn't make sense to me due to its periodicity. All I want is to pipe the output of one port to a ROS-capable PortReader, preferrably with channel splitting functionality as AnalogWrapper already provides. However, this driver would fetch incoming data at a fixed rate (indicated through the `--period` option). At bes

[2018-03-23 16:52] PeterBowman commented on #177
_From @jgvictores on May 1, 2017 12:23_

I used to be concerned about losing info in scenarios like having a callback with new data (such as in [this working example](https://github.com/asrob-uc3m/robotDevastation-robots/tree/134266b1f086fec56c952dfaf8f36a84b8d7cd53/libraries/YarpPlugins/PhidgetSpatial), with semaphores and a static callback function). However, recall that in practice, somewhere,

[2018-03-23 16:52] PeterBowman commented on #177
Quick note to self: steps we follow to open serial communications with the Arduino, launch yarpscope and connect ports.

[code]

[2018-03-23 16:52] PeterBowman commented on #177
For ease of debugging, this command show the numeric values corresponding to each sensor:

[code]

[2018-03-23 16:52] PeterBowman commented on #177
I'm getting a wierd error upon connecting ports:

[code]

This was not happening a few months ago nor today on a colleague's PC, code has not changed since then. Tested on YARP 2.3.68 and 2.3.68.1.

[2018-03-23 16:52] PeterBowman commented on #177
There is ongoing work on a `ProximitySensors` plugin that may cover some of these goals. See [yarp-devices/libraries/BodyYarp/ProximitySensors/](https://github.com/roboticslab-uc3m/yarp-devices/tree/proximity-sensors/libraries/BodyYarp/ProximitySensors) ([current HEAD](https://github.com/roboticslab-uc3m/yarp-devices/tree/26f7d1723c8e89e2d9ef7f32ecdd01fb64305a6a/libraries/BodyYarp/ProximitySensors

[2018-03-23 16:52] PeterBowman commented on #177
This issues should be moved to https://github.com/roboticslab-uc3m/amor-configuration-files.

[2018-03-23 16:52] PeterBowman commented on #177
_From @jgvictores on March 17, 2018 11:1_

Ref: https://github.com/roboticslab-uc3m/amor-configuration-files/issues/1

[2018-03-24 12:09] jgvictores commented on #176
May work. Relevant changes: https://github.com/roboticslab-uc3m/yarp-devices/compare/400ea3d...4b85d31

[2018-03-25 10:28] PeterBowman commented on #175
The high-priority bug is solved, but the rationale behind the now-reverted commit affects more repos. Let's get back to https://github.com/roboticslab-uc3m/questions-and-answers/issues/49 and track it properly at that place.

[2018-03-25 10:28] #175 closed, assigned to PeterBowman

[2018-04-03 16:14] rsantos88 commented on #172
The mbed firmware for the lacqueyFetch is finished, documented and working:
MBED firmware: https://os.mbed.com/users/raulsr988/code/LacqueyFetch/
PR of yarp-devices changes: https://github.com/roboticslab-uc3m/yarp-devices/pull/179

[2018-04-04 15:04] rsantos88 commented on #172
Firmware compatible with the actual ''yarp-devices'' code. Not necessary to do PR.
changes: https://os.mbed.com/users/raulsr988/code/LacqueyFetch/rev/8ebb11ba21be/

[2018-04-04 16:08] jgvictores commented on #172
Cool, thanks a lot!

Feel free to close this issue.

[2018-04-04 16:09] jgvictores commented on #172
PS: Copied https://os.mbed.com/users/raulsr988/code/LacqueyFetch/file/8ebb11ba21be/main.cpp to [yarp-devices/firmware/LacqueyFetch/main.cpp](https://github.com/roboticslab-uc3m/yarp-devices/blob/f857751e5b4695115d25eef9a50252eb870c2261/firmware/LacqueyFetch/main.cpp).

[2018-04-05 12:49] #172 closed, assigned to smcdiaz, rsantos88, jmgarciah

[2018-04-20 20:57] jgvictores commented on #85
Also, think about: https://github.com/google/python-fire

[2018-04-24 11:53] PeterBowman opened #180 "Follow up upstream deprecations concerning control board interfaces"
Several methods have been removed in favour of the [`yarp::dev::IPidControl`](http://www.yarp.it/classyarp_1_1dev_1_1IPidControl.html) interface (stable since YARP 2.3.70). Starting from YARP 3.0.0, [`yarp::dev::ITorqueControl`](http://www.yarp.it/classyarp_1_1dev_1_1ITorqueControl.html) will lack several PID-related methods, which is currently breaking our cron builds at YARP's devel branch ([exa

[2018-04-25 11:35] PeterBowman commented on #180
**[1]** [Deprecated in YARP 2.3.70](https://github.com/robotology/yarp/blob/v2.3.70/src/libYARP_dev/include/yarp/dev/ITorqueControl.h#L148-L297) (despite what that inline comment says...) in favor of the [`yarp::dev::IPidControl`](https://github.com/robotology/yarp/blob/v2.3.70/src/libYARP_dev/include/yarp/dev/IPidControl.h) interface, removed in [current devel (3.0.0)](https://github.com/robotolo

[2018-04-25 11:56] PeterBowman commented on #180
I'd rather go this way, but ASIBOT still has 2.3.68 (at least until I apply the solution mentioned at https://github.com/roboticslab-uc3m/asibot-main/issues/42#issuecomment-383283868) and the protocol changed, which means that two distinct YARP versions would need to run on the same PC: for daily work (e.g. yarp-devices) and just for talking to ASIBOT via remote CB. A temporary, per-device solutio

[2018-04-27 18:58] PeterBowman commented on #180
PS if ever requiring YARP 2.3.70 or later, safely remove all occurrences: `grep -ri openloop`.

[2018-04-27 19:36] PeterBowman commented on #180
Same deprecation process has been applied to `yarp::dev::IVelocityControl2(Raw)` (velocity PID setters/getters). Updating title.

[2018-05-11 15:44] PeterBowman opened #181 "Pass shared handle from AmorControlboard to AmorCartesianControl"
Split from https://github.com/roboticslab-uc3m/yarp-devices/issues/150:

The pointer is already passed on in this way:

https://github.com/roboticslab-uc3m/yarp-devices/blob/bedcf3d414d0ee8d6f5353427d018f8745c49f7b/libraries/YarpPlugins/AmorControlboard/DeviceDriverImpl.cpp#L82-L91

[Here](https://github.com/roboticslab-uc3m/kinematics-dynamics/blob/4557220c504b9d5f535d4c7b5c5b7295ca8cb560/librari

[2018-05-11 15:45] PeterBowman commented on #150
Good enough to work with at https://github.com/roboticslab-uc3m/yarp-devices/commit/bedcf3d414d0ee8d6f5353427d018f8745c49f7b, was trying velocity control in the last week and everything went smooth. Didn't try the combo AmorControlboard+AmorCartesianControl yet, see #181. Timeouts are the main issue now, hence updating description and marking as stale (currently not WIP).

[2018-05-12 14:55] PeterBowman commented on #181
Note to self, the scope of this issue might go beyond simple testing.

[2018-05-17 09:55] jgvictores opened #183 "[cmake] Not seeing or compiling dumpCanBus nor checkCanBus"
[cmake] Not seeing or compiling dumpCanBus nor checkCanBus

[2018-05-17 13:30] PeterBowman commented on #183
Thanks for reporting. My bad, I deleted the `ENABLE_YarpPlugins` CMake option at https://github.com/roboticslab-uc3m/yarp-devices/commit/832514c338caf8a22bb94b976e0bd0ed0548e96e#diff-ad8e103b0ccf2615d0164a708c6dc55e, but forgot to remove its dependers (*checkCanBus*, *dumpCanBus* and unit tests), too.

[2018-05-17 13:35] #183 closed, assigned to PeterBowman

[2018-05-17 16:46] jgvictores opened #184 "Look at struct-int-to-double branch"
https://github.com/roboticslab-uc3m/yarp-devices/commit/184264ffc5b7b79b6ff26c8686a112f833e071c7

[2018-05-17 16:54] PeterBowman commented on #106
For the record (prior to deleting an old branch), this is how an .ini might look like if re-written as XML (@jgvictores reported this doesn't work, though):

[code]

[2018-05-17 17:17] PeterBowman commented on #180
Updating title, several other interfaces have been modified as a result of long planned deprecations. This covers all `set<Whatever>Mode(int)` as `setPositionMode(int)` in `IPositionControl`.

[2018-05-17 17:40] PeterBowman commented on #180
As spoken with @jgvictores, we'll set 2.3.70 as the minimum required YARP version.

[2018-05-17 22:41] PeterBowman commented on #180
Done at https://github.com/roboticslab-uc3m/yarp-devices/commit/e28a984e8eb05b74efaece9619dbf066e1f915dd.

[2018-05-17 22:41] #180 closed, assigned to PeterBowman

[2018-05-18 13:37] PeterBowman commented on #180
To sum up:

* Now, we require YARP 2.3.70 in order to compile this repository.
* Pre-2.3.70 bits of code (e.g. header inclusions, some CMake modules now loaded by `find_package(YARP)`) were deleted.
* All deprecations (as of YARP 2.3.70) have been removed, as well as other silently deleted components (`setOpenLoopMode`).
* `setBemfParam(Raw)` and `getBemfParam(Raw)` will no longer exist at YARP 3.

[2018-05-18 17:40] PeterBowman commented on #181
Device initialization fixed at https://github.com/roboticslab-uc3m/yarp-devices/commit/2a7459a7f695752c98e0334fbeafca3a86aae41c. We control this with the `cartesianControllerName` parameter, i.e. no such param = *AmorCartesianControl* is not opened. Also, parameters to *AmorControlboard* are propagated to *AmorCartesianControl*, such as kinematics file and other options. Example invocation:

[code

[2018-05-18 17:55] PeterBowman commented on #150
This deserves an *upstream* label.

[2018-05-18 19:29] PeterBowman commented on #150
Not anymore! Somebody did a great job and https://github.com/robotology/yarp/pull/1668 is scheduled for YARP 3.0. I'd be happy to wait until then (hence marking as blocked), and make sure other components of ours cope well with the next release of YARP. By now, I could investigate what is the ultimate cause behind those timeouts.

[2018-05-19 14:25] jgvictores commented on #180
Pretty convinced the elegant way would be to implement `VOCAB` in `yarp.i`.

[2018-05-20 18:29] PeterBowman commented on #180
Not sure how to achieve this. I tested simple .i files and a few macros scattered around header files, everything gets exported except macro functions. That is, `VOCAB_CM_POSITION` and the like *should* be wrapped (`VOCAB` and `VOCABX` not, for instance), but actually they aren't.

[2018-05-20 20:44] jgvictores commented on #180
Same here. In YARP, things like `#define BOTTLE_TAG_INT 1` and `#define BOTTLE_TAG_VOCAB (1 + 8)` are wrapped. Info: http://www.swig.org/Doc3.0/Scripting.html#Scripting_nn3 (4.2.3).

Been playing around with `lying to SWIG` (haven't got `typedef` mechanism to work), will inform after having some results. This for reference: https://stackoverflow.com/questions/11403520/preprocessor-macro-in-swig

[2018-05-21 15:06] jgvictores commented on #148
http://yarp.it/devel/classyarp_1_1dev_1_1realsense2Driver.html

[2018-05-21 15:06] #148 closed, assigned to nobody

[2018-05-21 15:08] jgvictores commented on #62
This issue was moved to roboticslab-uc3m/teo-hardware-issues#24

[2018-05-21 15:08] #62 closed, assigned to nobody

[2018-05-21 15:10] jgvictores commented on #50
This issue was moved to roboticslab-uc3m/teo-hardware-issues#25

[2018-05-21 15:10] #50 closed, assigned to nobody

[2018-05-21 15:15] jgvictores opened #185 "Enable fail-safe mode"
In light of issues such as [this (private ref)](https://github.com/roboticslab-uc3m/teo-hardware-issues/issues/14#issuecomment-382696473), which will continue to occur, I'm proposing some fail-safe mode for TechnosoftIpos.

I'm not sure if this is something like an on-line self-recovery in line of #2, or something completely different such as allowing joints to be blocked easily for demos. Very op

[2018-05-21 15:19] PeterBowman commented on #185
Related: #120 (recovery from fault state).

Edit: actually switch to quick stop state.

[2018-05-21 15:21] jgvictores commented on #180
PS: Regarding https://github.com/robotology/yarp/pull/1655 it seems there would have been more elegant ways (avoiding the **second** `Vocab.h` inclusion, or via `%ignore`).

[2018-05-22 20:45] jgvictores commented on #180
PS: Related: https://github.com/roboticslab-uc3m/kinematics-dynamics/issues/150

[2018-05-23 12:15] PeterBowman commented on #111
We've moved on to CMake 3.1 and dropped support for Debian 6.0 (check the `old-debian-6.0` tag). I'm prone to abandon this issue, or at least move it to QA since the above considerations could be easily extended to other repositories. We are prone to require CMake 3.5, and Trusty is *de facto* the oldest distro supported. Therefore, working with software releases so close to the minimum requiremen

[2018-05-23 12:22] PeterBowman commented on #85
Let me remind that the new *CanBusSocket* device (#146) would make things a lot easier. No bindings should be required, just plain CLI utilities (check *can-utils* mentioned in the description of this issue) or Python libraries (e.g. https://github.com/hardbyte/python-can).

[2018-05-26 19:18] jgvictores commented on #180
Fix has been implemented and merged upstream, https://github.com/robotology/yarp/pull/1696

[2018-05-26 19:19] jgvictores commented on #180
PS: requires SWIG >= 3.0.11 (Xenial comes with 3.0.8).

[2018-06-04 20:24] PeterBowman commented on #146
https://github.com/roboticslab-uc3m/yarp-devices/issues/146#issuecomment-353739123

Let me correct myself. The **same** CAN (FD) API offered by PEAK-System can be compiled either in chardev or netdev mode. The former performs the usual system calls (`ioctl`, `read`...), the latter resorts to including Linux headers from the SocketCAN implementation (e.g. `<linux/can/...>`). Since modern kernels na

[2018-06-07 15:48] PeterBowman commented on #111
Travis has moved on to CMake 3.9, way ahead of current Xenial packages (3.5). We've discovered recently a nasty bug at YARP devel that prevented it from working on systems with CMake 3.5, but **didn't show up in Travis builds**: https://github.com/robotology/yarp/issues/1727.

[2018-06-19 14:51] PeterBowman commented on #111
To sum up:

* CMake: in spite of building against 3.9 in Travis, most of us are working with the current minimum supported release: CMake 3.5 (Trusty, Xenial). Bionic goes a bit beyond that ([3.10](https://packages.ubuntu.com/bionic/cmake)), but I don't think anyone is going to introduce new and exotic features without noticing such pitfalls.

* YARP: I've just set 2.3.70 as the minimum supported

[2018-06-19 14:51] #111 closed, assigned to PeterBowman

[2018-06-19 15:12] PeterBowman commented on #174
I'm going to close this issue since the original bug was solved long ago. The offending app could be improved to support Python 3.5 or later, in which case check all errors and suggestions reported here (@David-Estevez). Also, I'm not touching [/doc/specific-dependencies.csv](https://github.com/roboticslab-uc3m/yarp-devices/blob/e2745e7b8621617b09a8833b8cc6572a76ecd80b/doc/specific-dependencies.cs

[2018-06-19 15:12] #174 closed, assigned to PeterBowman

[2018-06-19 17:26] PeterBowman commented on #16
Done at https://github.com/roboticslab-uc3m/yarp-devices/commit/d0684b750d65d21410ab9565962523ccab7af5ad (long ago) and https://github.com/roboticslab-uc3m/yarp-devices/commit/843265ccea93a0a4bd80548feead222864a58e17, updating title, restoring *bug* label.

[2018-06-19 17:26] #16 closed, assigned to PeterBowman, rsantos88

[2018-06-22 19:13] jgvictores opened #186 "[cmake] Set up cross compiling for raspi"
_From @jgvictores on April 20, 2016 9:52_

[cmake] Set up cross compiling for raspi

help: https://blog.kitware.com/cross-compiling-for-raspberry-pi/

_Copied from original issue: asrob-uc3m/robotDevastation-robots#11_

[2018-06-22 19:13] jgvictores commented on #186
_From @David-Estevez on October 19, 2016 19:47_

More info: http://hackaday.com/2016/09/01/how-to-use-docker-to-cross-compile-for-raspberry-pi-and-more/

[2018-06-22 19:15] jgvictores commented on #186
This issue was moved to asrob-uc3m/yarp-devices#16

[2018-06-22 19:15] #186 closed, assigned to nobody

[2018-07-05 11:38] AlvaroMartinezR opened #187 "Implement yarp::dev::ICurrentControl"
When trying to diagnose the problems with the gait of TEO, @munozyanez and me encountered the new  functions of YARP for current control. This is a reminder for @jgvictores

[2018-07-05 11:39] AlvaroMartinezR commented on #187
Even though we have the getTorque functions, @jgvictores thought it was necessary. Documentation:
http://www.yarp.it/ICurrentControl_8h_source.html

[2018-07-05 12:56] jgvictores commented on #187
Renamed as `Think about`, adding low priority status. Similar to #157

[2018-07-09 12:14] PeterBowman commented on #146
References and utilities:

* [Bit Time Requirements for CAN FD](https://github.com/roboticslab-uc3m/yarp-devices/files/2176063/2013_hartwich_v2.pdf)
* http://www.bittiming.can-wiki.info
* https://www.kvaser.com/support/calculators/bit-timing-calculator/
* [PCAN-Parameter_Documentation.pdf](https://github.com/roboticslab-uc3m/yarp-devices/files/2188361/PCAN-Parameter_Documentation.pdf) (docs for PC

[2018-07-16 12:17] PeterBowman commented on #159
Interesting lecture: https://stackoverflow.com/q/62814.

Edit 1: all semaphores used across our code are of the binary type (`yarp::os::Semaphore`). Perhaps most or even all of them should be turned into mutually exclusive (`yarp::os::Mutex`). Let's review them.

Edit 2: the exclusion system proposed here should be actually of the binary type (`yarp::os::Semaphore`).

[2018-07-16 12:55] jgvictores commented on #159
1. From what I've read in the past, `yarp::os::Mutex` is essentially a `bool`, so you can only involve two actors. `yarp::os::Semaphore` is more like an `int` so you can have a full queue of actors.

2. ` yarp::os::Time::delay(DELAY);  //-- Wait for read update. Could implement semaphore waiting for specific message...` is a bit complex to implement. At least as proposed, we'd almost need one sema

[2018-07-18 19:01] PeterBowman commented on #170
Same thing happened today:

* start *BasicCartesianControl*, connect to a running `launchManipulation` instance
* check driver state (`get icmd cmds`), should default to `pos`
* issue the `gcmp` command on the BCC's RPC server, drivers should switch to `torq` mode
* issue the `stop` command on the BCC's RPC server, drivers should switch back to `pos` mode
* issue `gcmp` again, check that drivers a

[2018-07-19 10:57] PeterBowman commented on #122
Mostly done. Read more about the new policies introduced by PR #158 in its description.

[2018-07-19 16:33] PeterBowman opened #188 "Set and enforce velocity limits"
Currently unimplemented ([ref](https://github.com/roboticslab-uc3m/yarp-devices/blob/ec902e4d92faafa0fd71618e2393a3a4c5037122/libraries/YarpPlugins/TechnosoftIpos/IControlLimits2RawImpl.cpp#L86-L90)). Once done, remember to call this setter from CanBusControlboard:

https://github.com/roboticslab-uc3m/yarp-devices/blob/ec902e4d92faafa0fd71618e2393a3a4c5037122/libraries/YarpPlugins/CanBusControlboa

[2018-07-19 16:46] PeterBowman commented on #187
Loosely related: the [`yarp::dev::ITorqueControl` interface](http://www.yarp.it/classyarp_1_1dev_1_1ITorqueControl.html) provides access to internal motor parameters ([setter](http://www.yarp.it/classyarp_1_1dev_1_1ITorqueControl.html#a0caee323b7bc948769c6792ae0e82525), [getter](http://www.yarp.it/classyarp_1_1dev_1_1ITorqueControl.html#a404b4775c156b7075c76584be24b0610)). Available: `bemf` ([back

[2018-07-19 16:53] PeterBowman commented on #188
Note: consume these values in our `ICartesianControl` implementations at kin-dyn and no longer support an angular velocity limit configuration parameter ([ref](https://github.com/roboticslab-uc3m/kinematics-dynamics/blob/c187abdc0c9b2284d36df0f22cf64ecb238642b2/libraries/YarpPlugins/ICartesianControl.h#L109), https://github.com/roboticslab-uc3m/kinematics-dynamics/issues/121#issuecomment-406344347

[2018-07-19 18:04] #122 closed, assigned to PeterBowman

[2018-07-19 18:34] PeterBowman opened #189 "Implement instantaneous speed/acceleration getters"
[`yarp::dev::IEncoders`](http://www.yarp.it/classyarp_1_1dev_1_1IEncoders.html) allows querying instantaneous speeds and accelerations. We have not implemented this in the [TechnosoftIpos](https://github.com/roboticslab-uc3m/yarp-devices/blob/7073c624cb1a0fc82c730b25a76566ae9fadf70a/libraries/YarpPlugins/TechnosoftIpos/IEncodersRawImpl.cpp) device, yet. The hardware is probably not capable of prov